[2022-03-10 12:10] stevehipwell commented on #1008
I've opened #1495 which might cover part of the use case for this?

A MVP solution for this might be to only support custom AMIs where there are based on an existing family and retain the bootstrapping logic of that family?

[2022-03-10 12:11] stevehipwell commented on #1491
Would it be worth having a meta issue or something to track groups of issues like this? I think that #1495 is also related to these issues as changing the version would want the nodes to be terminated and replaced with the new version.

[2022-03-10 12:21] stevehipwell commented on #1465
Would it make sense to use klog for this (assuming that it's not already being used)?

[2022-03-10 12:27] stevehipwell commented on #1449
@ellistarn I think that as a consumer if I don't specify something I want Karpenter to make the decision for me, and I want Karpenter to keep doing this; I don't want Karpenter stuck using what seemed like the right choice when the resource was created.

There are techniques in K8s that would allow both dynamicly changing values and the current version to be in the resource (field ownership) but i

[2022-03-10 12:54] stevehipwell commented on #1327
Like `IngressClassParams`?

We set these options via LTs currently (good defaults could mitigate some of them), I'm happy to open separate issues for any of these which warrant it.

- `spec.kubelet.maxPods`
- `spec.kubelet.kubeletReserved`
- Registry credentials (set in _/var/lib/kubelet/config.json_ for AL2 and in TOML as of last BottleRocket release)
- AWS provider container runtime for AL2

I'v

[2022-03-10 14:38] bwagner5 commented on #1490
We would love to work towards that list of needed LT parameters! I have a PR out that hopefully can get merged today that makes adding parameters to AMI families much easier (and also supports block device mappings). We'll probably go full steam ahead on getting LT parameters within Karpenter once that is merged. https://github.com/aws/karpenter/pull/1420

[2022-03-10 15:13] suket22 commented on #1490
I don't think we're settled on what approach we want to take, but I'd want us to try and fix this in the EKS-optimized AMI and not have Karpenter repeat the calculation and set that on the kubelet. The issue you've cut in the [EKS-optimized AMI repo](https://github.com/awslabs/amazon-eks-ami/issues/782) is what needs to be addressed first IMO. It needs extensive testing and the blast radius of mak

[2022-03-10 15:56] stevehipwell commented on #1490
@bwagner5 I added the high value ones to https://github.com/aws/karpenter/issues/1327 and opened https://github.com/aws/karpenter/issues/1495 for the AMI version. Is that enough?

@suket22 have you seen how old the AMI issue is? If you look around on other issues and PRs you'll see that I've been asking this question for even longer. Furthermore if you look at the source of the AL2 calculations yo

[2022-03-10 16:55] ellistarn commented on #1449
Ack! We've also been preferring in-memory defaults, which achieves what you're talking about.

[2022-03-10 19:48] #1491 closed

[2022-03-10 20:41] dewjam commented on #1433
Hey @bwmetcalf ,
A CR which relaxes PreferNoSchedule taints was just merged.  If you get a moment to test it out, please let me know the result.

Thanks!

[2022-03-10 20:42] #1433 closed

[2022-03-10 20:46] bwmetcalf commented on #1433
@dewjam Awesome.  Thank you.  We may wait for the next release, but will certainly report back.

[2022-03-10 20:48] dewjam commented on #1433
Perfect, thanks!

[2022-03-10 21:27] suket22 commented on #1490
I think I called this out in the other issue, but while I agree with your overall sentiment, keep in mind the bootstrap script has no notion of what version of the CNI is running, so we can't make a change that benefits just those that has PrefixDelegation enabled. If we move to the GKE numbers for mem reserved, we will break a ton of customers ([like before](https://github.com/awslabs/amazon-eks-

[2022-03-10 21:41] stevehipwell commented on #1490
@suket22 as an optional variable the consumer knows which mode to use. The Karpenter RBAC could also be extended to automate this by looking up the CNI and it's settings.

RE the reserved memory, it wouldn't break customers it would actually stop potential issues (we've hit this a number of times and always specify the GKE values manually). What it would do is lower pod density, which would be com

[2022-03-10 23:28] bwagner5 commented on #1415
Block Device Mappings PR has been merged and should be released next week. You can checkout the preview docs here: https://karpenter.sh/preview/aws/provisioning/#block-device-mappings

If you are fine with the other defaults Karpenter is currently providing, you should be able to use the following mapping once we do a release:

[code]

[2022-03-10 23:28] #1415 closed

[2022-03-10 23:30] bwagner5 commented on #939
Block Device Mappings configuration has been merged and should be released next week. You can check out the preview docs here: https://karpenter.sh/preview/aws/provisioning/#block-device-mappings

[2022-03-10 23:30] #939 closed

[2022-03-10 23:30] bwagner5 commented on #1100
FYI Block Device Mappings configuration has been merged and should be released next week. You can check out the preview docs here: https://karpenter.sh/preview/aws/provisioning/#block-device-mappings

[2022-03-10 23:34] bwagner5 commented on #1490
Yep! Thanks!

[2022-03-11 01:03] ellistarn commented on #1449
Thanks @bwagner5 for https://github.com/aws/karpenter/pull/1497

[2022-03-11 11:25] Skaopap commented on #1165
Hello,
First of all thanks, it helped me figured out my problem, but important warning here when you specify *protocol   = "all"*  acccording to [security group rule doc](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/security_group_rule)

It works for @prashantbhrgv because it openned all ports. So without specifying "all", you have to check your webhook endpoints as

[2022-03-11 15:02] dewjam commented on #1488
I had some time to look into this further.  We have two gaps which surfaced as part of this issue.

First, Karpenter Getting Started docs are geared towards older versions of the EKS module (<18).  It would be worthwhile to update the docs to support version 18 and greater.

_I believe the answer to the specific question about what role should be used for the Karpenter node instance profile is eit

[2022-03-11 16:21] shane-snyder commented on #1488
I'd agree, that's likely the best course of action. I tested a bit more as well and the CloudTrail logs indicate that it is unable to launch due the the launch template automatically created by Karpenter not having the karpenter.sh/discovery tag, which would make sense given the condition in that policy.  Only other course of action would be to apply that tag to the launch template and the node th

[2022-03-11 16:44] bwagner5 commented on #1407
Apologies on the delay, I just tested on my cluster and I believe the permissions you are missing is giving EBS permissions on the key policy. Here's the key policy I used (note this is the policy on the KMS key, not the IAM policy for the instance role):

[code]

[2022-03-11 17:36] bwagner5 commented on #1407
Hopefully modifying that permission policy on the key will solve your issue, but please feel free to reopen if it does not!

[2022-03-11 17:36] #1407 closed

[2022-03-11 18:15] jand0manski opened #1501 "Unknown state new nodes"
## Version

**Karpenter**: v0.6.5

**Kubernetes**: v1.21.5-eks-bc4871b

## Expected Behavior

Nodes are added in ready state for long time than few seconds
## Actual Behavior

Nodes are added for few seconds in Unknown state and then they are deleted

## Steps to Reproduce the Problem

Using sample deployment from yours tutorial and then
kubectl scale deployment inflate --replicas 5

## Resource S

[2022-03-11 18:21] dewjam commented on #1488
That's a good callout @shane-snyder .  I'll look into it further.

I'm seeing something slightly different than you are, however. From what I can tell, the failure to launch a new instance is due to the condition applied to the `ec2:RunInstances` action.  It seems the `"karpenter.sh/discovery"` tag isn't on the fleet we're using to launch the instance.

We also will not be able to terminate instan

[2022-03-11 18:57] cradules commented on #1488
Sorry, I did not have the time to work on this issue, for the last few days.  I hope next week, not to be so busy and I will have the chance to dig some more, especially since I have some starting points that emerged from  @shane-snyder input, and I want to thank him for that!

[2022-03-11 19:10] cebernardi commented on #1279
we're interested in this feature as well.

Out of curiosity, is `spec.kubeletConfiguration` representing this KubeletConfiguration (https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/)?

[2022-03-11 23:47] tzneal commented on #1501
When this occurs are there any events associated with the node or can you provide any logs from kubelet?

[2022-03-11 23:58] suket22 commented on #1481
I'll close this issue since it's a duplicate. Let us know if there's anything else we can help with.

[2022-03-11 23:58] #1481 closed

[2022-03-12 01:27] cryptomacma opened #1502 "grafana and prometheus-values broken for v0.6.5"
## Version

**Karpenter**: v0.6.5

**Kubernetes**: v1.21

## Expected Behavior

the grafana dashboard can display pod and node metrics correctly
## Actual Behavior

the metrics don't display
## Steps to Reproduce the Problem

follow all steps from the get started page
## Resource Specs and Logs

## solution:
grafana-values.yaml: update last 4 lines:
[code]
prometheus-values.yaml: update last one l

[2022-03-13 17:11] burakhalefoglu opened #1503 "pod anti-affinity is not supported"
I got this message when ı deploy some pod and resources...

2022-03-13T17:07:27.740Z        ERROR   controller.selection    Ignoring pod, pod anti-affinity is not supported        {"commit": "7b5afee", "pod": "kubeapps/kubeapps-internal-apprepository-controller-df799b765-4m722"}
2022-03-13T17:07:42.687Z        ERROR   controller.selection    Ignoring pod, pod anti-affinity is not supported

[2022-03-13 17:11] #1503 closed

[2022-03-13 17:13] burakhalefoglu opened #1504 "controller.selection Ignoring pod, pod anti-affinity is not supported"
## Version

**Karpenter**: v0.6.5

**Kubernetes**: v1.21.xx

I got this message when ı deploy some pod and resources...

2022-03-13T17:07:27.740Z ERROR controller.selection Ignoring pod, pod anti-affinity is not supported {"commit": "7b5afee", "pod": "kubeapps/kubeapps-internal-apprepository-controller-df799b765-4m722"}
2022-03-13T17:07:42.687Z ERROR controller.selection Ignoring pod, pod anti-aff

[2022-03-13 17:14] ellistarn commented on #1504
We'd love to hear more about your use case here: https://github.com/aws/karpenter/issues/942

[2022-03-13 17:14] #1504 closed

[2022-03-13 19:44] mm-e1 opened #1505 "Support for alternatives to nvidia.com/gpu"
**Tell us about your request**
What do you want us to build?

See details here: https://github.com/kubernetes/autoscaler/issues/4320

I'd like to support:
k8s.amazonaws.com/vgpu - https://aws.amazon.com/blogs/opensource/virtual-gpu-device-plugin-for-inference-workload-in-kubernetes/

and/or

aliyun.com/gpu-mem - https://github.com/AliyunContainerService/gpushare-scheduler-extender/blob/10ee2d961a2

[2022-03-14 10:47] burakhalefoglu opened #1507 "I am getting this error when deploy kafka => Ignoring pod, pod anti-affinity is not supported. But some kafka pod deployed."
my provisioner;
apiVersion: karpenter.sh/v1alpha5
kind: Provisioner
metadata:
  name: default
spec:
  limits:
    resources:
      cpu: "1000"
      memory: 1000Gi
  requirements:
    - key: "node.kubernetes.io/instance-type"
      operator: In
      values:  ["r5n.large","r5n.xlarge","r5n.2xlarge","r5n.4xlarge", "t3.large","t3.xlarge","t3.2xlarge","t3.4xlarge", "m5n.large","m5n.xlarge","m5n.2xlar

[2022-03-14 14:25] nikoul commented on #1452
If that helps anyone, I got this issue on my new EKS cluster because coredns was in a bad state.
Fixing coredns fixed karpenter.

[2022-03-14 15:46] dewjam commented on #1488
FYI, it seems that we are not applying default tags to AWS resources per the documentation outlined [here](https://karpenter.sh/v0.6.5/aws/provisioning/#tags).  This is relevant as the condition in the [Terraform Karpenter IRSA module](https://github.com/terraform-aws-modules/terraform-aws-iam/blob/master/modules/iam-role-for-service-accounts-eks/policies.tf#L456-L460) could instead target one of

[2022-03-14 18:05] dewjam commented on #1507
Hey @burakhalefoglu ,
One thing to note about Karpenter is it will only add new nodes when pods are unable to be scheduled (in Pending state).  So if there is sufficient capacity in the cluster which meet a pods requirements, kube-scheduler will use those existing nodes first before Karpenter can take any action.

In your case, I would imagine that kafka-0 and kafka-1 are being scheduled on the ex

[2022-03-14 21:26] ellistarn commented on #1505
I'd love to support something like this, but it's not natural within karpenter's current design. Because we launch nodes and make scheduling decisions, we need to know the resources that the nodes will have. Right now we have knowledge of this within the AWS cloud provider, but we don't want to incrementally add support for ever project, especially ones that we don't control.

I can think of some

[2022-03-15 01:28] mm-e1 commented on #1505
Yes, this is a blocker for me. One of the reasons that I would like to use https://github.com/AliyunContainerService/gpushare-scheduler-extender/ is a result of limited availability of GPU instances.

I am attempting to instantiate multiple containers on a single node (nvidia-gpu enabled) for batch inferencing, where each container has my model loaded. The way that nvidia.com/gpu is setup, I am se

[2022-03-15 05:12] ellistarn commented on #1505
GPU sharing is notoriously hard given current virtualization capabilities. A few ways off the top of my head:
- Multiple containers in a single pod
- Use different GPUs types that are able to be more efficiently used by your models
- There might be some nasty podaffinity hacks you could use, but I'd really recommend against this.

[2022-03-15 12:30] tzneal opened #1516 "Make resource handling more generic"
**Tell us about your request**

A cloud provider with support for GPU type XYZ and custom resource ABC.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

The current resource compatibility within cloud provider is specific regarding the types of resources that instance types can have. It's not possible to add new custom resource types and have t

[2022-03-15 13:55] dekelev commented on #939
There's no match between the preview [docs](https://karpenter.sh/preview/aws/provisioning/#block-device-mappings) and the validation found here: https://github.com/aws/karpenter/blob/c1d08c6c91019443746ef310f2cd778335b4be65/pkg/cloudprovider/aws/apis/v1alpha1/provider.go#L129

This gives an error on unknown `deleteOnTermination` field:
[code]

Only this will work:
[code]

[2022-03-15 15:50] bryantbiggs commented on #1488
I've re-opened https://github.com/aws/karpenter/pull/1332 again which is related - any support on getting this across the line from the maintainers would be appreciated

[2022-03-15 16:12] bwagner5 commented on #939
Thank you for pointing this out! I just submitted a PR to correct the docs, apologies for the inconvenience! :)

[2022-03-15 16:20] dewjam commented on #1488
Thanks @bryantbiggs .  It seems I was missing some context when looking into this issue.  As far as your PR goes, I think we were waiting for your changes to be tested.  I've commented on the PR as well.

[2022-03-15 18:37] dewjam commented on #1507
Hey @burakhalefoglu .  Any updates on this issue?  Anything else we can help with?

[2022-03-15 19:53] rnpaiva opened #1521 "Karpenter goes crazy when out of ec2 instance type in a specific zone"
## Version

**Karpenter**: v0.7.0

**Kubernetes**: v1.21.0

## Expected Behavior

We are deploying 2 provisioners . A default with low cost machine and a premium with nvidia/gpu requests .
Deploying  pods requesting the default provisioning it's going well , karpenter schedule the machine ( and didn't re-schedule the pods that are already running ) .
After deploy pods requesting the premium provis

[2022-03-15 19:55] rnpaiva commented on #1521
the yaml files didn't format well , sorry for that ..
A piece of controller logs :

2022-03-15T19:40:06.545Z        INFO    controller.provisioning Computed packing of 1 node(s) for 2 pod(s) with instance type option(s) [m5a.xlarge m5.xlarge m5.2xlarge m5a.2xlarge]   {"commit": "f78fa16", "provisioner": "default"}
2022-03-15T19:40:06.992Z        DEBUG   controller.provisioning Discovered security

[2022-03-15 20:15] ellistarn commented on #1521
Hey @rnpaiva , you can wrap your text with ``` to nicely format code and logs
[code]

[2022-03-15 20:37] rnpaiva commented on #1521
Do you think that I'm having this problem because of the time to expire ?
What I noticed is that karpenter trying to get a premium ec2 machine , it's is re-scheduling all pods ( even the pods that is already running and using other provisioner ) ..
We have some applications that it's necessary to stay up , re-scheduling the pod can cause outage ..

[2022-03-15 21:38] spring1843 commented on #1502
Thank you for opening an issue we fixed the problem please feel free to reopen in case the issue persists.

[2022-03-15 21:38] #1502 closed

[2022-03-15 21:45] mm-e1 opened #1522 "How do you update the version of karpenter in a cluster?"
Hello,

I created a cluster with karpenter by adding this to my cluster config:

[code]

I would now like to update karpenter to 0.7.0.

Is there a way to update karpenter in my cluster?

Thanks!

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the communit

[2022-03-15 22:04] rnpaiva commented on #1521
I tried to setup  "ttlSecondsAfterEmpty": 120  and   "ttlSecondsUntilExpired": 240 and I was observing the pods . After some time evicting the pods because ttl expired , karpenter started to try re-scheduling the running pods togheter . ( I used inflate first then  I deployed inflate2 to test  and scalled up 4 replicas in inflate2 )

[code]

[2022-03-16 08:23] ottokruse commented on #1407
Thanks I'll give that a shot!

[2022-03-16 11:42] jcputter commented on #1522
you can update quiet easy using the helm chart provided

[2022-03-16 11:48] tzneal commented on #1521
See the documentation for `ttlSecondsUntilExpired` here: https://karpenter.sh/v0.7.1/provisioner/ .  Specifically:

### spec.ttlSecondsUntilExpired

Setting a value here enables node expiry. After nodes reach the defined age in seconds, they will be deleted, even if in use. This enables nodes to effectively be periodically “upgraded” by replacing them with newly provisioned instances.

By setting

[2022-03-16 13:02] jcputter opened #1524 "setting AWS_ENI_LIMITED_POD_DENSITY envar using terraform/helm"
I'm trying to set the AWS_ENI_LIMITED_POD_DENSITY envar to false using terraform/helm provider. I've tried to escape the quotes but passing in a string does not work as Karpenter expects a bool

[code]

`Deployment.Spec: v1.DeploymentSpec.Template: v1.PodTemplateSpec.Spec: v1.PodSpec.Containers: []v1.Container: v1.Container.Env: []v1.EnvVar: v1.EnvVar.Value: ReadString: expects " or n, but found f

[2022-03-16 14:05] dewjam commented on #1433
Hey @bwmetcalf .  Feel free to reopen this if you have any issues while testing.  Thanks again!

[2022-03-16 16:05] dewjam opened #1525 "AWS resources created by Karpenter do not have default tags outlined in docs"
**Is an existing page relevant?**

https://karpenter.sh/v0.7.1/aws/provisioning/#tags

**What karpenter features are relevant?**

Karpenter resource Tagging in AWS provider

**How should the docs be improved?**
According to Karpenter docs, all resources created by Karpenter should have some tags applied by default:
[code]
In reality, resources created by Karpenter only have the following default t

[2022-03-16 16:12] rnpaiva commented on #1521
Ok , I read the document, so if I have an application that needs to be up all time , I'd just remove the ttlSecondsUntilExpired and the ec2 that my application is running will never be recycled .

My concern is if a new pod comes up requesting a premium machine and the ttl expires without have the machine provisioned , like my previous example ,   won't karpenter re-schedule everything again tryin

[2022-03-16 16:53] tzneal commented on #1521
Karpenter only creates nodes for pods that `kube-scheduler` has marked as unschedulable.  In your example, the running pod will remain on the previously provisioned node and a new node will be provisioned for the new unschedulable pod.

[2022-03-16 17:10] mm-e1 commented on #1505
@ellistarn , thanks for your help.

[2022-03-16 17:12] stevehipwell opened #1526 "Add ttlSecondsUntilTainted for better node lifecycle control"
**Tell us about your request**
I'd like the ability to taint a node after a given period via `ttlSecondsUntilTainted` to allow running pods to finish before the node is terminated, this should still respect the `ttlSecondsUntilExpired` and `ttlSecondsAfterEmpty`.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
When running jobs such as CI/CD pi

[2022-03-16 17:15] cebernardi commented on #942
We also are encountering this issue, but with `podAntiAffinity.preferredDuringSchedulingIgnoredDuringExecution`.
I was wondering what the community thoughts are about relaxing these soft podAntiAffinity configurations, as it was done for `nodeAffinity.preferredDuringSchedulingIgnoredDuringExecution`: https://github.com/aws/karpenter/blob/ba89ba83cb8f67c726dea0a1a0ba2ea57bbe1787/pkg/controllers/sel

[2022-03-16 17:17] stevehipwell commented on #1457
I'd like to add my support for `ttlSecondsAfterNonconformant` to provide a grace period. I'd also request a setting such as `nonconformantAction` which could be either `terminate` or `taint`, related to #1526.

[2022-03-16 17:25] jhughes-mc opened #1527 "Invalid tag key 'karpenter.sh/provisioner-name'"
## Version
**Karpenter**: v0.7.1 and v0.6.4
**Kubernetes**: v1.21.5

## Expected Behavior
Attempting to use a launch template with minimum values set like ami, subnets, and instance profile. Expecting an instance to launch.

## Actual Behavior
Karpenter attempts to launch instances which never progresses to running. In the EC2 console it shows these instances going from pending > shutting down > t

[2022-03-16 19:02] johngmyers commented on #1457
@stevehipwell what is the use case for a grace period?

[2022-03-16 20:30] adjain131995 opened #1528 "Topology spread constraint with topologyKey: topology.kubernetes.io/zone is not working as expected"
## Version

**Karpenter**: v0.6.3

## Expected Behavior

Pods should be equally distributed across AZ and if nodes are already running but nodes are not spread equally in AZ. Karpenter should spin up new nodes to justify AZ spread topology constraint and do not deploy in an unbalanced AZ manner.

## Actual Behavior

if three are nodes already present and are equally AZ spread like
- us-west-2a 4 n

[2022-03-16 20:38] ellistarn commented on #1526
Does annotating your longrunning jobs with `karpenter.sh/do-not-evict` work for you?

[2022-03-16 20:41] ellistarn commented on #942
I would absolutely accept a PR that does this.

[2022-03-16 22:41] stevehipwell commented on #1457
Grace periods are useful in general. I can specifically see it being used in a true IaC environment where workloads are updated at the same time as node specs, specifically AMI IDs in the launch templates. When updating my workloads I don't want my nodes flipping at the same time, nor do I want to wait for the nodes before finishing the upgrade, this is what my canary clusters are for. This is a r

[2022-03-16 22:44] stevehipwell commented on #1526
@ellistarn wouldn't this allow more jobs to schedule onto the node and basically make it unterminatable?

[2022-03-16 22:49] johngmyers commented on #1457
A `ttlSecondsAfterNonconformant` would be a minimum time before it could start reconciling any nodes. I don't see how it would have anything to do with workloads waiting for nodes. Even if one wanted workloads to update before starting to reconcile nodes, I don't see how such a ttl could reliably ensure that.

[2022-03-16 22:59] stevehipwell commented on #1457
@johngmyers if I'm pushing a set of Helm chart changes I don't want my nodes updating during that period to muddy the water as to if the Helm chart changes are good. For example if my nodes are updating at the same time and my PDBs are restrictive I might get a failure when I wouldn't get one with stable nodes. This is a current scenario we have with instance refresh.

[2022-03-16 23:44] ellistarn commented on #1526
The node will still expire and cordon, but it won't start draining until the pod with those annotations are done. @njtran can you confirm?

[2022-03-16 23:50] njtran commented on #1526
Yep! If you have a pod with a `do-not-evict` annotation, Karpenter will not drain any of the pods on a node.

A node is not drained if it has a `do-not-evict` pod, and we will not terminate a node until that node is considered drained:
- https://github.com/aws/karpenter/blob/bb65375ae4f1a6ca1a4a30f217162abf71bd5dcc/pkg/controllers/termination/controller.go#L85-L91
- https://github.com/aws/karpente

[2022-03-17 00:08] jcputter commented on #1524
using `type  = "string"` resolves my issue

[2022-03-17 00:49] #1524 closed

[2022-03-17 04:48] KqLLL opened #1531 "Support another registry private credential"
**Tell us about your request**
Configure another(dockerhub, qury.io) private registry credential in kubelet.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
We'll replace CA with karpenter, we need to config private registry credential in worker node(provision node).

**Are you currently working around this issue?**
Set kubelet/config.json on b

[2022-03-17 04:50] KqLLL commented on #1531
On Bottlerocket
[code]

[2022-03-17 05:55] adjain131995 commented on #942
I can see this issue being raised for quite a while and it is a very demanding feature. Do we have any ETA when this will be implemented in karpenter. I do not see any other alternative which we could use and topology constraints are hard ones and the alternatives tried also fails with kube0schedduler kicking in. Here is the track of that one

#1528

[2022-03-17 09:26] stevehipwell commented on #1526
@njtran this fits my use case happy path perfectly, but it opens up a separate concern that the `do-not-evict` annotation could keep a node running indefinitely? If there isn't a way to do this already I'm happy to close this issue as being a "didn't read the docs correctly" and open a new issue regarding a `do-not-evict` grace period?

[2022-03-17 09:36] mattcamp commented on #1459
This needs to be re-opened as it's still happening with 0.7.1

[2022-03-17 09:54] adjain131995 commented on #942
Also in my use case i would like to use pod anti-affinity
`      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          -  podAffinityTerm:
               labelSelector:
                 matchLabels:
                   app.kubernetes.io/name: {{ .Release.Name }}
               topologyKey: kubernetes.io/hostname
             weight: 100`
to ensure p

[2022-03-17 12:16] 644755 opened #1532 "Add "allow-eviction" functionality"
**Tell us about your request**

Just like the "karpenter.sh/do-not-evict" annotation, It would be useful to achieve the opposite and tell the controller to evict specific pods that aren't owned by a Daemonset if they are the only ones left running on a node.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

I Had a use case of which I had to use

[2022-03-17 12:47] cebernardi commented on #942
@ellistarn I'm taking a stab

[2022-03-17 13:06] tzneal opened #1533 "Add package docs so Karpenter displays better on https://pkg.go.dev/github.com/awslabs/karpenter"
**Tell us about your request**
Improve package documentation so it's parsed and displayed at https://pkg.go.dev/github.com/awslabs/karpenter

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
A better user experience for people using https://pkg.go.dev/github.com/awslabs/karpenter to explore the Karpenter source code.

**Are you currently working

[2022-03-17 16:16] danivendetta commented on #601
The link is Broken.

I'm getting the same error.

[2022-03-17 16:58] ellistarn commented on #942
Should be straightforward here: https://github.com/aws/karpenter/blob/main/pkg/controllers/selection/preferences.go#L51

[2022-03-17 17:24] spring1843 commented on #1527
@jhughes-mc can you please provide the launch template? I'm not able to reproduce the problem without it.

Also you may want to look into a similar issue [here](https://github.com/terraform-aws-modules/terraform-aws-eks/issues/1785#issuecomment-1014992290) where adding `instance_metadata_tags = "disabled"` fixed the problem for some people.

[2022-03-17 17:47] DongshengXiong commented on #1459
We also see the same issue with our EKS 1.20 clusters. nvidia.com/gpu is reset to 0 when kubelet is fully loaded.

[2022-03-17 18:43] nandiheath opened #1535 "Add Pod Disruption Budget to Karpenter helm chart"
**Tell us about your request**
Add PDB to the helm chart that allow setting minAvailable/maxUnavailable for Karpenter

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I am deploying a HA Karpenter running with on multiple nodes. During k8s version upgrade, I will create a new set of node group and move all the Karpenter pods over there. I would

[2022-03-17 20:03] shastrula commented on #1501
I am having the same issue.

version    = "v0.7.1"
`
`apiVersion: karpenter.sh/v1alpha5
kind: Provisioner
metadata:
  name: default
spec:
  requirements:
    - key: "node.kubernetes.io/instance-type"
      operator: In
      values: [ "m5.xlarge", "t2.xlarge", "t3.xlarge", "m5a.xlarge"]
    - key: karpenter.sh/capacity-type
      operator: In
      values: ["spot"]
  limits:
    resources:
      c

[2022-03-17 20:12] UmamaheswarKalagotla opened #1536 "ERROR controller.provisioning Could not launch node, launching instances, creating fleet UnauthorizedOperation: You are not authorized to perform this operation. Encoded authorization failure message"
## Version

**Karpenter**: v0.7.1

**Kubernetes**: v1.20.11-eks

## Expected Behavior
Karpeneter Provisioner needs to launch the nodes

## Actual Behavior
Nodes are not getting launched and throwing below error
ERROR	controller.provisioning	Could not launch node, launching instances, creating fleet UnauthorizedOperation: You are not authorized to perform this operation. Encoded authorization failu

[2022-03-17 23:23] #1493 closed

[2022-03-18 11:28] ottokruse opened #1537 "Failed to bind ... Operation cannot be fulfilled ... pod ... is already assigned to node ..."
## Version

**Karpenter**: v0.6.3

**Kubernetes**: v1.21.5-eks-bc4871b

## Expected Behavior
No errors are thrown by Karpneter when scaling.

## Actual Behavior
Karpenter throws errors when scaling.

Note, in the end the scaling works, so the errors are not blocking, but it seems Karpenter sometimes steps on it's own toes:

`ERROR	controller.provisioning	Failed to bind default/1647597043900-543-87

[2022-03-18 14:21] walkley opened #1538 "Support snapshotId in BlockDeviceMappings of AWS provisioner"
**Tell us about your request**
Support defining snapshotId in BlockDeviceMappings in AWS provisioner.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
BlockDeviceMappings was introduced in v0.7.0(https://github.com/aws/karpenter/pull/1420), with this feature, we can define most of the [EBS related parameters](https://docs.aws.amazon.com/AWSEC2/l

[2022-03-18 14:26] psidza opened #1539 "Make templates/deployment.yaml env variables to be optional"
**Tell us about your request**
Make templates/deployment.yaml env variables for controller and webhook containers optional, like you already did for AWS_DEFAULT_INSTANCE_PROFILE.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I'm using Terraform to create my EKS cluster, and ArgoCD to deploy Karpenter.
CLUSTER_NAME and CLUSTER_ENDPOINT values

[2022-03-18 16:19] armujahid opened #1540 "Provisioner is creating some arm64 nodes even with kubernetes.io/arch in ["amd64"] requirement"
## Version

**Karpenter**: v0.7.1

**Kubernetes**: v1.2.1
Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.5-eks-bc4871b", GitCommit:"5236faf39f1b7a7dabea8df12726f25608131aa9", GitTreeState:"clean", BuildDate:"2021-10-29T23:32:16Z", GoVersion:"go1.16.8", Compiler:"gc", Platform:"linux/amd64"}

## Expected Behavior
karpenter should only provision amd64 nodes since it's mentioned in p

[2022-03-18 17:50] cebernardi commented on #942
@ellistarn https://github.com/aws/karpenter/pull/1541

[2022-03-18 17:52] cebernardi commented on #942
ops, I saw your comment now, I took another approach, please let me know your thoughts

[2022-03-18 18:33] dewjam commented on #1540
Hey @armujahid I'm trying to reproduce this now.  In the meantime, can you share some details about your cluster?

Is this a new cluster you've built just for testing out Karpenter?  Or is this an existing cluster with other workloads?

Can you enable debug logging and supply some logs showing this?

[2022-03-18 18:37] ellistarn commented on #942
Either works. Removing in preferences will survive when we implement affinity for real.

[2022-03-18 18:44] cebernardi commented on #942
I can include this in the PR of course!
Would you suggest removing them iteratively as it's done for podAffinity, or removing every terms at once?

[2022-03-18 19:16] njtran commented on #1537
Hey @ottokruse! Thanks for opening this. This is a natural part of Kubernetes scaling up.

When Karpenter provisions capacity in response to pending pods, we bind pods to those nodes before the nodes become ready to ensure pods schedule as desired. If capacity becomes available while Karpenter is scaling, the Kubernetes scheduler will schedule existing pods to those nodes if they fit the schedulin

[2022-03-18 20:17] dewjam commented on #1540
Hey @armujahid I am able to reproduce the problem in my test cluster.  From what we can tell v0.7.1 is not filtering out instance types based on architecture when identifying feasible instance type options.

Here's an example log from v0.6.5 showing instance type options:
[code]

Here's an example log from v0.7.1 with same workload and provisioner spec:
[code]
(notice the graviton instances are in

[2022-03-18 20:22] dewjam commented on #1540
As a note, you can temporarily work around this by manually specifying instance types in the Provider spec.  Such as:
[code]

[2022-03-18 20:48] spring1843 commented on #1536
Seems like an access issue, is there following encoded message you can paste?

Let's verify that [Creating the IAM step](https://karpenter.sh/v0.7.1/getting-started/getting-started-with-eksctl/#create-the-karpenternode-iam-role) was done successfully. If it ran successfully you should have a CloudFormation Stack named `"Karpenter-${CLUSTER_NAME}"`. Find that CL In the AWS console. Under its resour

[2022-03-18 22:13] suket22 commented on #1537
@njtran should we change the log level for this error to WARN? It's not rare for the `kube-scheduler` to beat Karpenter at binding pending pods to a node, and this isn't necessarily an error in karpenter, right?

I suppose this happens more often when there's a ton of pod churn - since a pod can go from unschedulable -> schedulable very quick as there's constantly changing allocatable capacity acr

[2022-03-18 22:18] #1540 closed

[2022-03-18 23:25] ellistarn commented on #942
Iteratively SGTM

[2022-03-18 23:30] ellistarn commented on #1537
Karpenter philosophically doesn't use WARN. We'd want to log at ERROR or DEBUG instead. The idea being that WARN is unclear about whether or not the message is okay. Explicitly, we're making it clear that this case is OK. I'd probably log at debug to keep the logs clean.

[2022-03-19 10:25] psidza commented on #1539
If you agree with my approach I can make a pull request :)

[2022-03-19 13:50] armujahid commented on #1540
Thanks for the quick fix. I will test it with v0.7.2. I have also added logs. it was indeed provisioning graviton instances (t4g.small in my case)

[2022-03-19 14:15] armujahid commented on #1540
With v0.7.2 it's working fine :)
logs:
[code]
Note that I had to delete and recreate my provisioner after upgrading from 0.7.1 to 0.7.2 via helm
[code]

[2022-03-19 20:17] ellistarn commented on #1539
@bwagner5, can you take this decision?

[2022-03-20 06:12] UmamaheswarKalagotla commented on #1536
IAM Steps looks fine and can see both Role and Policy and also looks fine on Aws Auth ConfigMap.Here is the encoded Message.
0l-KPWQJ8q5z3YatP3Ybgb5lf0dibDhN6KaE3jQ5Bu4hNkP1BxfK_Ou0od0P3xrofimLgvlM48imjT5fahAkH-Yxaqlb-vKvW88NfrdIqV95DlZXwL1pbJpxtlXuLINfxlcTcSaBgzySPOrxL8gIFPT9gUsHGCdOOrO9rF2lOADanf9PZmDFcccfGnbVui9G-E0R1_BFSxmgS36ieP67YbFsf65PD9ihfPeEzyCyWSIsZ9CZNk8FFzJoSgMQFjDrC5zMc8nMdc0Reop5uLo

[2022-03-21 13:38] tzneal commented on #1449
I recently discovered that if you use terraform to create the Karpenter provisioner, you need to provide all of our default values to terraform or it will fail to apply cleanly:

[code]

This particular error is because of the architecture defaulting, but a similar error occurs due to the kind and apiVersion on the provider.

[2022-03-21 14:22] stevehipwell commented on #1449
@tzneal how did you add the provisioner with TF?

[2022-03-21 14:22] bwagner5 commented on #1538
Thanks for the feature request! I wasn't sure how SnapshotId would be used which is why I had originally left it off, but the use-case you describe seems completely valid to me, so I see no issue with adding snapshotId.

[2022-03-21 14:24] tzneal commented on #1449
I put up a PR documenting it at: https://github.com/aws/karpenter/pull/1551/commits/fb4508f7081c47c464633663f9e7e70064f8acd0

[2022-03-21 14:27] stevehipwell commented on #1449
What versions of TF, TF K8s provider and K8s are you using?

[2022-03-21 14:29] tzneal commented on #1449
TF: Terraform v1.1.7

[code]

I just went through the "getting started with terraform" docs on karpenter.sh and added in the provider at the end.

[2022-03-21 14:41] stevehipwell commented on #1449
@tzneal have you followed the docs for [computed fields](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/resources/manifest#computed-fields)? This is expected behaviour.

That said I'd personally try the [TF kubectl provider](https://registry.terraform.io/providers/gavinbunney/kubectl/latest/docs) with `server_side_apply = true`. I think it's coded to respect field managem

[2022-03-21 14:45] tzneal commented on #1449
Maybe I was using computed_fields incorrectly, but it didn't appear to work unless I provided some default value in my specification.  I interpreted this from the docs: `When an field is defined as "computed" Terraform will allow the final value stored in state after apply as returned by the API to be different than what the user requested.` to mean that modified values are ok, but new values are

[2022-03-21 14:47] stevehipwell commented on #1449
Did you try adding all the dynamic fields (modified & created) to `computed_fields`?

[2022-03-21 14:54] tzneal commented on #1449
I may be doing something wrong but it doesn't seem to work. If I removed the provider apiVersion/kind and add those as computed fields, it fails to apply:

[code]

[2022-03-21 15:30] ArieLevs commented on #1459
+1 here,
looks like a simple timeout, or better adding a `failureThreshold` (similar to k8s probes) for karpenter to re-check before giving up will solve this.

from my side i can confirm that karpenter is bringing a new node, and evicting current due to `Node didn't have enough resource: nvidia.com/gpu` before `nvidia-device-plugin` is running.

[2022-03-21 16:34] spring1843 commented on #1536
@UmamaheswarKalagotla you should be able to decode that message like described here: https://aws.amazon.com/premiumsupport/knowledge-center/ec2-not-auth-launch/

[2022-03-21 19:26] #1516 closed

[2022-03-21 20:38] #1344 closed

[2022-03-21 20:42] dewjam commented on #1507
Hey @burakhalefoglu .  I haven't heard back on this issue for a while now.  I'm going to go ahead and close it.  Feel free to reopen if you still have questions.

Thanks!

[2022-03-21 20:42] #1507 closed

[2022-03-21 21:18] #1538 closed

[2022-03-22 10:44] ottokruse opened #1556 "Automatic recovery of MaxSpotInstanceCountExceeded"
## Version
**Karpenter**: v0.7.1
**Kubernetes**: v1.21.0

## Expected Behavior

(Forgive me if this should be a feature request instead)

When Karpenter tries to create Spot instances it might run into `MaxSpotInstanceCountExceeded`.

We hit this limit, when we create a whole load of jobs (e.g. 1000).

This seems to be a blocking issue, in the sense that Karpenter doesn't create an OnDemand node t

[2022-03-22 12:38] tzneal commented on #1528
Karpenter begins by watching for pods that the Kubernetes scheduler has marked as unschedulable.  It's not designed to replace kube-scheduler, but instead to work along side it provisioning capacity.  For Karpenter to have an opportunity to provision new nodes for pods, kube-scheduler will first have to fail to schedule those pods.

This [KEP](https://github.com/kubernetes/enhancements/tree/master

[2022-03-22 12:38] #1528 closed

[2022-03-22 12:43] tzneal commented on #1425
The scheduling failure for this has been solved with a recent scheduler change. There's still an improvement to be made, but I'll close this issue since it's no longer a bug.

[2022-03-22 12:43] #1425 closed

[2022-03-22 12:46] #1102 closed

[2022-03-22 12:48] tzneal commented on #1521
I'm going to close this issue as it seems have been caused by using a small value for `ttlSecondsUntilExpired`.  Feel free to re-open if I've misunderstood.

[2022-03-22 12:48] #1521 closed

[2022-03-22 12:52] tzneal commented on #1501
Can you send the output from `kubectl get events` when this occurs?

[2022-03-22 15:07] cdharma opened #1557 "Support for capacity-type as TopologyKey in TopologySpreadConstraint"
**Tell us about your request**
Support for capacity-type as TopologyKey in TopologySpreadConstraint

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
It would be great if deployments could spread across capacity type (spot, on-demand) using topology constraint. It will allow to deployment accross capacity types evenly. It will also help in avoidi

[2022-03-22 15:25] ellistarn commented on #1556
I discussed this fallback feature with @bwagner5 and can't remember why we didn't do it. Should be trivial to add to the ICE cache on quotaout. We just need to make sure we log the error case so you have a signal to go increase your quotas.

[2022-03-22 15:30] ellistarn commented on #1557
We've talked about something similar here. https://github.com/aws/karpenter/issues/331. The latest thinking is that we want to do a KEP that enables
[code]

This would enable arbitrary weighting.

[2022-03-23 08:21] cucaixanh opened #1558 "Error: no subnets matched selector map[karpenter.sh/discovery:demo]"
Version:
[code]
Cluster config:
[code]
Tagging subnets:

[code]

Provisioner config:

[code]

Attachments
Error message from karpenter controller log :

[code]

[2022-03-23 11:00] alex-treebeard opened #1559 "Karpenter fails to scale down node: isEmpty does not classify nodes running static pods as empty"
Disclaimer: I'm trying out Karpenter on Kops 1.15.12 without the webhook service.

## Version

**Karpenter**: v0.7.2

**Kubernetes**: v1.15.12

## Expected Behavior

isEmpty -> true for node running kube-proxy defined as static pod in `/etc/kubernetes/manifests/...`

## Actual Behavior

isEmpty -> false because pod has no ownership metadata ([code](https://github.com/aws/karpenter/blob/ca7081ca564

[2022-03-23 12:32] tzneal commented on #1558
Do you see the security group if you run:
```aws ec2 describe-security-groups --filters Name=tag-key,Values=karpenter.sh/discovery```

[2022-03-23 13:11] tzneal commented on #1559
It looks like the owner reference that we check for started to be automatically added to static pods in K8s 1.17:  https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/1314-node-restriction-pods#ownerreferences

K8s 1.15.x is no longer being maintained by the Kubernetes project.  Have you tried a newer version of Kubernetes?

[2022-03-23 13:19] duyhenryer commented on #1558
So, I have see them

[code]

[2022-03-23 13:26] tzneal commented on #1558
Sorry, I misread earlier.  Do you see a matching *subnet* using this command:

```aws ec2 describe-subnets --filters Name=tag-key,Values=karpenter.sh/discovery```

[2022-03-23 13:32] duyhenryer commented on #1558
@tzneal Thank you so much, bro. I manually added a tag for a subnet with values below:
[code]

[2022-03-23 13:35] #1558 closed

[2022-03-23 14:33] chrisnegus commented on #1082
@mikesir87 I'm trying to document this issue in the Karpenter docs. Could you provide a copy of your provisioner spec that solved this problem?

[2022-03-23 16:22] Izvi-digibank opened #1562 "karpenter instances in nlb target group"
Do instances that Karpenter create should automatically appear in the nlb target group?
If not - in order to see those machines in the nlb target group do I have to take any action ? if so, which?

Thanks in advance

[2022-03-23 18:22] dewjam opened #1563 "Pods with ephemeral storage requests don't fit on any node type"
## Version

**Karpenter**: v0.7.2

**Kubernetes**: v1.21.5

## Expected Behavior
Karpenter should be able to schedule pods to nodes when ephemeral-storage requests are defined in the pod spec.

## Actual Behavior
Karpenter reports it cannot "fit" pods on instance types when `ephemeral-storage` resources are requested in a pod spec (regardless of instance type).  Similarly, if a Daemonset has reque

[2022-03-23 22:13] tzneal commented on #1563
I pulled main and scaled up a deployment that had a container with an ephemeral storage request and it worked correctly. This fix should be in v0.7.3+

[2022-03-23 22:13] #1563 closed

[2022-03-23 22:35] dewjam commented on #1563
One workaround to this issue is to remove `ephemeral-storage` from requests temporarily until the next version release.

[2022-03-24 00:20] victor10x commented on #1421
First of all, @herbertgoto I feel your pain. I found this "[How do I troubleshoot an OIDC provider and IRSA in Amazon EKS?](https://aws.amazon.com/premiumsupport/knowledge-center/eks-troubleshoot-oidc-and-irsa/)" troubleshooting document and it helped me realize my configuration issue that gave me the same error message you had.

I'll note that my issue was due to this: going back and forth betwee

[2022-03-24 03:37] ellistarn commented on #1421
This has been a painpoint for us. Keeping these guides in sync is tough, and even worse since it was contributed by a community member. Thanks for calling this out, and we'll take a pass and check in on naming.

[2022-03-24 10:03] jsmith97 opened #1570 "Karpenter default provisioner selection"
version 0.7.2
I have either miss-understood the documentation or there is an issue with the way the default provisioner is implemented.

Expected behaviour:

I create a Provisioner named default and a Provisioner named burstable.
when a pod is created it is provisioned using the default Provisioner .

----

apiVersion: karpenter.sh/v1alpha5
kind: Provisioner
metadata:
  name: default
  labels:

[2022-03-24 16:00] dewjam commented on #1562
Hello @Izvi-digibank .
Karpenter does not automatically handle adding nodes to an NLB target group.  But you could deploy the [AWS Load Balancer controller](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html) and configure a Service of Type `LoadBalancer`.  This will provision an NLB and handle targets for you automatically.

However, please read through the docs to

[2022-03-24 16:04] dewjam commented on #1570
Hey @jsmith97
Just to clarify, the Provisioner spec with name "default" is just an arbitrary name and not treated any differently when compared to other provisioners.  So, when Pod requirements and constraints match more than one Provisioner spec, Karpenter will sort them alphabetically and choose the first one.  In this case, it would be "burstable" per your

[2022-03-24 16:08] jsmith97 commented on #1570
﻿Thanks for the clarification Jim thought I must have miss-understood the docs.

Regards

Ben Smith

[2022-03-24 16:10] dewjam commented on #1570
Ha, sorry I accidentally hit the "comment" button before I was ready.  Hopefully this comment makes more sense ^ ^.

[2022-03-24 16:10] #1570 closed

[2022-03-24 19:12] dewjam commented on #1536
Hello @UmamaheswarKalagotla ,
Per the note from @spring1843, would you be willing to share the IAM policy assigned to the role created in this step:  [create-the-karpentercontroller-iam-role](https://karpenter.sh/v0.7.1/getting-started/getting-started-with-eksctl/#create-the-karpentercontroller-iam-role)?

We should be able to take a look and determine what actions are missing, etc.

Thanks!

[2022-03-24 19:16] UmamaheswarKalagotla commented on #1536
Just adding the Actions part.
  "Action": [
                "ec2:CreateLaunchTemplate",
                "ec2:CreateFleet",
                "ec2:RunInstances",
                "ec2:CreateTags",
                "iam:PassRole",
                "ec2:TerminateInstances",
                "ec2:DeleteLaunchTemplate",
                "ec2:DescribeLaunchTemplates",
                "ec2:DescribeInstances",

[2022-03-24 20:07] dewjam commented on #1536
OK.  One thing I noticed in the decoded authorization message is `"explicitDeny":true`.  Is there a policy that could be denying access to execute any of these actions or on specific resources?

[2022-03-24 20:09] UmamaheswarKalagotla commented on #1536
No i dont think any of the explicit deny policy was attached.I was confused with the same and was trying to figure out exactly what action was getting denied in creating those nodes.

[2022-03-24 20:47] dewjam commented on #1536
That is strange.  None of the policies we create have explicit deny statements either, so there must a policy with a deny somewhere. Is it possible a Service Control Policy is denying permissions to the ec2:CreateFleet action, maybe?

[2022-03-25 02:09] vasu-git opened #1573 "New Node creation stuck in a loop"
## Version

**Karpenter**: v0.7.3

**Kubernetes**: v1.21.5-eks-bc4871b

- I have a pretty basic eks cluster in aws. Deployed karpetenter and a default provisioner(only on-demand instances and no restriction on instance type. Cluster also has a few daemonsets deployed(splunk, ebs-csi-driver etc)
- Trying to deploy a new pod (prometheus) which also has a pvc volume. We use ebs-csi-driver addon in ou

[2022-03-25 12:25] tzneal commented on #1573
Can you list your daemon sets and what their resource requests are?

[2022-03-25 15:01] vasu-git commented on #1573
[code]
[code]

[2022-03-25 16:07] dewjam commented on #1573
Hey @vasu-git ,
We were able to reproduce the issue in a test env and believe we have found the root cause.  In short, it seems to be related to DaemonSets which have resource Limits defined, but not Requests.  One simple workaround you could test is to ensure resource `requests` are define in the DaemonSet specs for now.

We are working on a fix which should allow Karpenter to handle this scenari

[2022-03-25 16:40] bryantbiggs opened #1574 "Discussion - Getting Started Guides"
**Is an existing page relevant?**
- https://github.com/aws/karpenter/pull/1332

**What karpenter features are relevant?**
Getting started guides and minimum requirements for provisioning Karpenter

**How should the docs be improved?**
The getting started guides are great, but I think things are drifting too far into the EKS realm and tools that provision EKS clusters as opposed to staying Karpente

[2022-03-25 17:08] vasu-git commented on #1573
Thanks @dewjam

[2022-03-28 11:49] infestonn commented on #1573
@dewjam hey
I have a similar issue. I tried your workaround but it didn't help.
Karpenter adds a new node to fit my "Pending" pod. But pod is being preempted by demonset pods -> karpenter adds a new node with the **same** capacity to schedule this pod. This is endless process, unless I remove my pod manually.
I also noticed interesting behaviour:
- once karpenter adds a new node(i.e. m5d.large) to

[2022-03-28 15:14] #1562 closed, assigned to nobody

[2022-03-28 15:17] dewjam commented on #1536
@UmamaheswarKalagotla ,
Any updates on this issue?

[2022-03-28 16:29] dewjam commented on #1573
Hey @infestonn ,
I think you're absolutely correct that it's related to the CPU/memory reservations you're passing to Kubelet.  Can you confirm you're using a custom launch template?

[2022-03-28 16:50] dewjam commented on #1573
@infestonn
If I understand correctly, your issue is related to how Karpenter calculates overhead.  In short, it calculates it based on an instance types CPU/Memory resources, but doesn't take into account what is in custom launch templates.  So if the supplied values in the custom launch template exceed that of what Karpenter calculates, then it's possible a pod will stay in pending state.

As an

[2022-03-28 17:25] DongshengXiong commented on #1459
Any update about this issue?

[2022-03-28 18:03] dkheyman commented on #1394
Currently EKS managed node groups call the ASG APIs behind the scenes to then provision the assigned instances. The `Context` parameter in `create-auto-scaling-group` API call is provided, but `create-nodegroup` it is not. We need support for the `Context` parameter in the EKS API in order to allow customers to take advantage of potential custom pricing agreements made via this parameter.

[2022-03-29 01:53] tzneal opened #1584 "Record Karpenter events on Pods"
**Tell us about your request**

Use the controller manager's `GetEventRecorderFor()` method to get an event recorder for recording events related to pods directly to the pods.  This will allow us to log our scheduling related activities to the pod.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I want to see why Karpenter didn't schedule a pod

[2022-03-29 07:13] infestonn commented on #1573
kubectl get provisioners.karpenter.sh default -o jsonpath='{.spec.provider.launchTemplate}'
uscalq-eks-karpenter20220311161351524700000001

[2022-03-29 07:38] infestonn commented on #1573
Yes. I think that's right. Not sure how to find a workaround yet.

[2022-03-29 10:03] pymag09 opened #1585 "containerd by default doesn't work"
## Version

**Karpenter**: v0.7.3

**Kubernetes**: v1.21.0

## Expected Behavior

I expect karpenter uses containerd as a default CRI.
## Actual Behavior

For some reason it creates docker node instead of containerd.
## Steps to Reproduce the Problem

I have no idea how to reproduce the issue. I definitely do not want to use custom launch Template. I just want to know under what circumstances karp

[2022-03-29 11:08] pymag09 commented on #1585
Version 0.6.5 works as expected.
Most probably because following function contains runtime settings
[code]

[2022-03-29 15:50] ellistarn commented on #1465
You can configure our zap logger: https://github.com/aws/karpenter/blob/main/charts/karpenter/templates/configmap-logging.yaml. Would love to hear how you get on, maybe we can provide some docs with what you learn.

[2022-03-29 16:04] jcogilvie opened #1586 "Error retrieving resource lock(s)"
## Version

**Karpenter**: v0.7.3

**Kubernetes**: v1.21

## Expected Behavior
Log is free of errors.

## Actual Behavior
Four times in a 10 minute window, we got `error retrieving resource lock` errors in our logs.  (See below.)

## Steps to Reproduce the Problem

Follow instructions to install 0.7.3 via terraform.  Use default provisioner.

For a broader system context:  I already had EKS set up

[2022-03-29 16:40] bwagner5 commented on #1585
I'm working on fixing this now! Just to note, the EKS Optimized AMI does not support GPUs with containerd, which is why we had this switching logic before. I'm going to change it back to the switching logic (use `dockerd` when a GPU node is being provisioned and all others will use `containerd`).

[2022-03-29 16:54] dewjam commented on #1573
@infestonn You could set `kube-reserved` and `system-reserved` to what Karpenter expects as a workaround. Or is there a specific reason `kube-reserved` and `system-reserved` need to be set statically?

[2022-03-29 17:34] johngmyers commented on #1573
Because of kubernetes/kubernetes#102382, it is extremely inadvisable to set resource requests on high-priority daemonsets. Otherwise, a daemonset update could cause critical workloads to be (unnecessarily) preempted. This is why `kube-reserved` should instead be set to account for the resource requirements of critical daemonsets.

[2022-03-29 17:49] suket22 commented on #1586
Do you have multiple Karpenter provisioners currently running? I'm trying to reproduce this in the meanwhile

[2022-03-29 19:03] #1585 closed

[2022-03-29 19:28] dewjam commented on #1573
Were you able to reproduce the behavior in https://github.com/kubernetes/kubernetes/issues/102382?  It seems like setting `kube-reserved` to account for DaemonSet resources could be burdensome to manage and error prone.  I would hope there is a more elegant solution.

Is your recommendation to not define resource "limits" on critical Daemonsets as well?  ([if you define resource limits, but not re

[2022-03-29 20:03] ellistarn commented on #1047
One option is to use an EKS managed node group or ASG to manage this static capacity. Can you elaborate on the value you see that karpenter could provide in this space? Is it simply that you want a single system that behaves similarly for both use cases?

[2022-03-29 20:19] jcogilvie commented on #1586
Only the one.

On Tue, Mar 29, 2022, 1:49 PM Suket Sharma ***@***.***> wrote:

[2022-03-29 22:15] suket22 commented on #1586
I've been trying to generate an `unauthorized` but haven't been able to do so. How often are you seeing these errors and any chance you can reproduce them?

Killing a node, and watching Karpenter spin up a replacement for all the pods that move to Pending worked fine for me.

[2022-03-29 23:54] karlmutch opened #1593 "Getting started with eksctl"
eksctl only supports karpenter up to version 0.6.x, the KARPENTER_VERSION in this documentation is too recent to work.  This page needs a note maybe ?

[2022-03-30 06:54] tidunguyen opened #1595 "Helm chart does not work when release name is not "karpenter""
## Version

**Karpenter**: v0.7.3

**Kubernetes**: v1.21.5

## Expected Behavior

Helm chart work with a different release name from the default "karpenter" name in the tutorial (getting started with karpenter on aws)

## Actual Behavior

Helm chart does not work (CrashLoopBackOff from karpenter pod).

## Steps to Reproduce the Problem

1. Follow exactly every step in the Getting started with karp

[2022-03-30 09:24] StarpTech commented on #1593
Hi, I just wanted an open an issue. Is it possible that the karpenter team keeps ekctl with a recent karpenter version up to date?
https://github.com/weaveworks/eksctl/issues/5023

@karlmutch you can select the 0.6.5 version in the dropdown of the website.

[2022-03-30 09:28] StarpTech opened #1596 "Maintain eksctl support"
**Tell us about your request**

Hello, is it possible that the karpenter team keeps ekctl with a recent karpenter version up to date? The karpenter integration is really promising but at the same time, we would like to be up-to-date (second last minor). I think it would be the best fit if the karpenter team manage the integration.

https://github.com/weaveworks/eksctl/issues/5023

### Community No

[2022-03-30 16:13] suket22 commented on #1596
Hello! Thanks for opening this request.

I think the onus is on the eksctl maintainers to keep things up to date as has been discussed [in that repo](https://github.com/weaveworks/eksctl/issues/5023). It's not scalable for the Karpenter team to ensure that every tooling like eksctl / kOps / terraform are correctly configured to use the latest version of Karpenter.

Over time we do intend on Karpen

[2022-03-30 16:39] suket22 commented on #1595
That looks like an issue with the permissions of the Karpenter pod. If you used [the eksctl guide](https://karpenter.sh/v0.8.0/getting-started/getting-started-with-eksctl/#create-the-karpentercontroller-iam-role) to create the KarpenterController role, then you'd also need to edit the trust policy of the IAM role that eksctl has created for you.

That IAM role should have a trust policy with somet

[2022-03-30 23:06] #1595 closed

[2022-03-30 23:07] suket22 commented on #1595
Please re-open if that doesn't fix it for you, or if you're running into something else.

[2022-03-31 06:58] dorroddorrod opened #1600 "Support deprovisioning when nodes below X utilization"
**Tell us about your request**
I would like to scale-down (deprovisioning) nodes when their CPU/memory is below X%

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I would like to maximize my node workers resources and reduce my cloud costs

**Additional context**
The classic aws-autoscaler supports this by setting
[code]

[2022-03-31 11:26] apton-sooraj opened #1601 "Support for non-aws Environments"
Hello, How can we use the karpenter on Other cloud providers ?
Any Documentations available? Is it possible to use karpenter on Other clouds?

[2022-03-31 14:03] devopsjnr opened #1602 "webhook "address is not allowed" when applying provisioners / patch configmap"
## Version

**Karpenter**: v0.5.6

**Kubernetes**: v1.21.5

Installed Karpenter through terraform, both controller and webhook pods are running well.
When I tried to apply my first provisioner I get:

[code]

Since log level is INFO by default, I tried changing to DEBUG but ended up with the same message:

[code]

I followed [issue-1165](https://github.com/aws/karpenter/issues/1165), tried restart

[2022-03-31 14:58] suket22 commented on #1600
Hello, thank you for opening the issue.
We're tracking issues around de-provisioning in  - https://github.com/aws/karpenter/issues/1091

[2022-03-31 14:58] #1600 closed

[2022-03-31 15:34] ellistarn commented on #1601
You more or less just need to implement this interface https://github.com/aws/karpenter/blob/main/pkg/cloudprovider/types.go. The harder part is long term maintenance. We want to find maintainers who are able to support the project for the long term. Once we have a plan for that, I'm happy to help with the integration.

[2022-03-31 16:50] suket22 commented on #1593
I think they're two different things. The `Getting started with eksctl` doc in our documentation is using eksctl to create your cluster, nodegroup, IRSA set up but then uses kubectl and helm to install Karpenter onto your cluster.

IIUC, the [eksctl doc](https://eksctl.io/usage/eksctl-karpenter/) helps install eksctl onto an EKS cluster for you in addition to what our guide does.

Like @StarpTech

[2022-03-31 16:51] #1596 closed

[2022-04-01 08:23] vumdao commented on #1327
I'd like to add detailed property for `provider` in CRD https://github.com/aws/karpenter/blob/main/charts/karpenter/crds/karpenter.sh_provisioners.yaml so that I can import it into CDK8S API
[code]

Current property of provider is useless to reference
[code]

[2022-04-01 10:25] shirish-qub opened #1614 "Unable to hydrate the AWS launch template cache, RequestCanceled: request context canceled"
## Version
**Karpenter**: v0.8.0
**Kubernetes**: v1.19.1

## Expected Behavior
Karpenter pod should start-up after helm install

## Actual Behavior
karpenter pod goes into CrashLoopBackOff

## Steps to Reproduce the Problem

1. create the IAM resources using AWS CloudFormation. using   "aws cloudformation deploy..."
2. access to instances using the profile to connect to the cluster . using "eksctl

[2022-04-01 13:07] himanshurajput32 opened #1615 "Parameterising the container runtime"
Karpenter: v0.8.0
Kubernetes: v1.21

Currently **containerd** is fixed as a runtime in case of non-GPU instances.

https://github.com/aws/karpenter/blob/476804d3962586fe53a784315d56315e078f387d/pkg/cloudprovider/aws/amifamily/al2.go#L65-L76

Can we introduce a new field under provisioner's configuration so that one can use **dockerd** with Non-GPU instances ?(Until Kubernetes 1.23)

[2022-04-01 15:40] ellistarn commented on #1615
Can you explain you use case a little bit more? I'm wary of expanding Karpenter's complexity to handle deprecated features, since we have limited resources.

[2022-04-01 16:11] cebernardi commented on #1615
Thank you for your prompt reply.

We would like to control the container runtime of the worker nodes Amis, instead of defaulting on `containerd` (if not GPU), as this would give us time to prepare for the transition (currently we're running on docker).

We're running on EKS 1.21, and the AMIs provide opt-in support for contained, but we haven't opted in yet, and we would like to not go down the ro

[2022-04-01 18:25] ellistarn commented on #1252
@dewjam can we add this to Troubleshooting?

[2022-04-01 20:31] suket22 commented on #1614
I've got 0.8.0 running on my cluster and I'm not seeing this.

[code]

Do you see the calls in your account's CloudTrail? I wanted to confirm if you're seeing an access denied from the EC2 API or if the calls aren't reaching EC2 at all due to some networking configuration - (restrictive security groups / private subnets etc)

[2022-04-01 20:34] ellistarn commented on #1614
Shouldn't our logs be spitting out access denied? It seems like we might be squashing an error somewhere.

[2022-04-01 20:37] suket22 commented on #1614
I agree. I can't reproduce this on my side however which is why I wanted to know if the requests are even making it to EC2.

[2022-04-01 20:54] ellistarn commented on #1615
I'm curious what specifically is your dependency on docker. In general, I'd prefer to encourage users to use containerd when using karpenter. We have some work in progress that will enable you to run arbitrary scripts (e.g. swap containerd for dockerd) before we start the node. We're hoping that this can be a catchall for users without needing to define their own launch templates. Because of this,

[2022-04-02 15:48] chrisnegus commented on #607
I added some [troubleshooting content on LimitRanges](https://karpenter.sh/preview/troubleshooting/#unspecified-resource-requests-cause-schedulingbin-pack-failures) in [PR #1597](https://github.com/aws/karpenter/pull/1597). While this describes the problem, it does not provide guidance on exactly how to set LimitRange values. So I think we should keep this issue open and look for a place to addres

[2022-04-03 05:33] vumdao opened #1619 "Add configuration of key-pair for AWS EC2 in provisioner"
**Tell us about your request**
Configure key-pair for AWS EC2 in provisioner

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
If we use `Bottlerocket` AMI Family we must have key-pair to access the EC2 instance under `ec2-user` user, SSM agent in this case is just able to enable admin access only

### Community Note

* Please vote on this issue

[2022-04-03 16:14] ellistarn commented on #1619
I wonder if the Bottlerocket folks would be able to open up admin access via SSM.

[2022-04-03 17:18] vumdao commented on #1619
@ellistarn Nope, reference to https://aws.amazon.com/bottlerocket/faqs/

You can run an “admin container” using Bottlerocket's API (invoked via user data or AWS Systems Manager) and then log in with SSH for advanced debugging and troubleshooting with elevated privilages. AWS provides the admin container that allows you to install and use debugging tools like sosreport, traceroute, strace, tcpdump.

[2022-04-04 02:21] shirish-qub commented on #1614
Apologies, **the EKS is v1.17 rather than v1.19.**
I will try to get the cloudtrail logs. anything particular I should be looking for ?
I can also confirm I have an EKS v1.21 (karpenter installed via cluster yaml setting rather than the manual install I am facing in this issue). The v1.21 uses the same subnets and security groups as v1.17

[2022-04-04 09:39] cebernardi commented on #1615
we have a few metrics that depend on docker runtime, that we're migrating from, and it just requires time, which we wanted to buy proposing this feature.

For the rest, yes, I see your point of supporting this particular feature as not in line with the current roadmap, and yes, the bootstrap scripts support that you're mentioning would absolutely supersede this "pick-your-runtime".

Is there any w

[2022-04-04 14:59] sagi-shimoni opened #1621 "Failed to find instance type option (g4dn.2xlarge)"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.21.5

## Expected Behavior

I created a provisioner with instance type "g4dn.2xlarge" and taint "gpu-worker" (both spot and on-demand)
I'm expecting to deploy pods with toleration "gpu-worker" and pods should be running on a "g4dn.2xlarge" node.

## Actual Behavior

I confirmed that this instance type is available on the region, but karpenter d

[2022-04-04 15:37] tzneal commented on #1621
Can you upgrade to the latest version v0.8.0 and see if the issue still exists?  The helm chart format changed somewhat between v0.5.3 and v0.8.0, there is some additional information about the changes at [here](https://karpenter.sh/v0.8.0/upgrade-guide/#upgrading-to-v062)

[2022-04-04 15:40] #1557 closed

[2022-04-04 15:51] ellistarn commented on #1615
@suket22 is driving this work. You can find him on the k/k slack

[2022-04-04 16:06] infestonn commented on #1573
Thank you for clarification.
That's what I presumed in the very beginning.

[2022-04-04 16:07] jicowan opened #1622 "Documentation: change URL for the latest version to use "latest" instead of the version number"
For example:
Change `https://karpenter.sh/v0.8.0/` to `https://karpenter.sh/latest`

[2022-04-04 16:33] jicowan commented on #1622
or redirect URLs to `latest` to the latest version number.

[2022-04-04 17:34] dewjam commented on #1252
Sure thing.  Will work on that today.

[2022-04-04 21:25] suket22 commented on #1621
Could you provide us your provisionerSpec and enable debug logs on the Karpenter controller?

[2022-04-05 04:08] adjain131995 commented on #885
Is there any plan of integrating the feature of providing user data in the provisions themselves instead of going ahead with the Launch templates?
This will solve multiple github issues and save us a lot of hassle of going via launch templates.

[2022-04-05 13:55] marcportabellaclotet-mt commented on #942
It would be great is this feature (antiaffinity) is supported by karpenter.
Our use case is jenkins-operator. We spread every job to a new node using antiaffinity, and it there is no jenkins job, nodes scale to 0.
Karpenter is an Amazing project!!

[2022-04-05 14:08] dewjam commented on #1602
Hey @devopsjnr
I noticed we haven't seen a reply for several days.  Did you happened to find the solution to your problem?  I'll keep this issue open for a couple more days then will close it out.

[2022-04-05 18:56] bwagner5 commented on #1622
I could potentially see us redirecting /latest to the latest released version. But I do like the current approach of sharing a specific docs page as a permalink. Using /latest can cause broken links when posted to blogs or other more static mediums.

[2022-04-05 19:52] dewjam commented on #1602
I believe we just need port 8443 to be allowed from the APIServer security group to the Nodes which are running Karpenter.  I'm trying to test to be sure, though.

[2022-04-06 04:25] vumdao commented on #1619
@bwagner5 I don't know why karpanter does no support add ssh key-pair to configuration, is there any background reason?

- As I said in previouse comment, using SSM with bottolerocket just support to enable admin access, that's all, we are not able to switch user ther
- Using EC2 Instance Connect requires public IPv4 address which is most avoided in EKS cluster nodes.

[2022-04-06 05:30] devopsjnr commented on #1602
@dewjam Can you please update after your test ?

[2022-04-06 08:24] cucaixanh opened #1630 "Provisioner can't start node with Taints"
Hi
Env:
karpenter version: v0.7.3

I have the provisioner with `taints` config as follows:
[code]

This is file test:

[code]

I check `kubectl get pod`
[code]
Provisioner can't start node when using `taints`

Thank you so much

[2022-04-06 08:49] devopsjnr commented on #1602
@dewjam Also, could you please explain to me the process from hitting `kubectl apply -f provisioner` command on my computer until it reaches the webhook? I'm not so sure I understand it all. And why should I open port 8443 if my error mentions port 443?
Thanks!

[2022-04-06 15:11] bwagner5 commented on #1630
Hey! Thanks for submitting this issue!  I've just tested your provisioner and `systemnodes` deployment in Karpenter v0.8.1 and it is working for me.

Are you able to provide the Karpenter controller logs? There should be a log explaining why the pods are not causing a node to provision.  You might also try removing the instance type requirements in your provisioner, just to make sure low capacity

[2022-04-06 15:29] imagekitio commented on #1091
Karpenter looks exciting, but for large-scale K8 clusters deployments, this is pretty much a prerequisite.

Is there any discussion or design document about the possible approaches that can be taken for bin packing of the existing workload?

[2022-04-06 18:59] pratikbin opened #1634 "Lease: Failed to get lease: leases.coordination.k8s.io"
## Version

**Karpenter**: v0.8.0

**Kubernetes**: v1.21.5-eks-bc4871b

## Expected Behavior

## Actual Behavior

Getting `Lease: Failed to get lease: leases.coordination.k8s.io "ip-xx-xx-xx-xx.ap-south-1.compute.internal" not found`

## Steps to Reproduce the Problem

Got this terraform steps from docs, fixed few deprecated modules inputs.

[code]

This will create file `basic` with necessary hel

[2022-04-06 20:16] bwagner5 commented on #1634
Do you have an entry like this in your aws-auth config map?

[code]

[2022-04-06 23:25] ellistarn commented on #1091
We're currently laying the foundation by implementing the remaining scheduling spec (affinity/antiaffinity). After that, we plan to make rapid progress on defrag design. I expect we'll start small (e.g. 1 node at a time, simple compactions) and get more sophisticated over time. This is pending design, though.

[2022-04-07 05:56] sriram0721 opened #1635 "Unable to install karpenter using terraform EKS Module v18.19.0"
##Version
eks 1.21
Terraform eks module - 18.19.0

We are trying to install karpenter on eks which is provisioned through terraform aws eks module (18.19.0) . As per karpenter docs, it states eks version to be <18 . When i tried to install it on my cluster, i faced an error

│   12:   role = module.eks.worker_iam_role_name
│     ├────────────────
│     │ module.eks is a object, known only after ap

[2022-04-07 06:39] pratikbin commented on #1634
Yes

[code]

[2022-04-07 06:39] pratikbin commented on #1635
@sriram0721  you can use this mine tf which is new, the one in docs are using deprecated modules.

https://github.com/aws/karpenter/issues/1634

[2022-04-07 07:04] pratikbin commented on #1634
FYI I was able to do karpenter(verb) successfully with `eksctl` method that was working perfectly.

[2022-04-07 08:19] victor10x opened #1636 "karpenter.sh/discovery tag on an EKS cluster -- what is it for?"
**Is an existing page relevant?**
https://karpenter.sh/v0.8.1/getting-started/getting-started-with-terraform/

**What karpenter features are relevant?**
unsure

**How should the docs be improved?**
Can you address what the function of this code block does?
[code]

I realize that `subnetSelector` and `securityGroupSelector` are meaningful in the provisioner such that the values must match the respe

[2022-04-07 10:50] sriram0721 commented on #1635
hey thanks for that it worked!. btw, when i try to test it out by scaling a deployment, it does provisions the node. However, the node is not getting attached to the cluster. its in not ready state because of some taints. Any idea on this @pratikbin ?

[2022-04-07 11:17] rdpravin1895 opened #1637 "Karpenter controller & webhook pods logs in json format"
Is there a way to set the format of controller & webhook pods in json format? Currently its like this:

[code]

But we are looking to push the logs to elasticsearch through fluentd to keep track of the node scaling events, and this requires the logs to be in json format.

[2022-04-07 13:36] zswanson commented on #628
Commenting again on this to add that when we performed an EKS upgrade from 1.21 to 1.22 this became particularly noticeable when we started draining/cordoning nodes en-masse to upgrade the karpenter AMIs to 1.22 compatible - a *lot* of pods were stuck in `Pending` waiting for vpc-cni IP assignment or Secret volumes that they couldn't mount because they started on new nodes before the relevant daem

[2022-04-07 14:46] bwagner5 commented on #1634
There are a few Terraform related PRs out that may be worth checking out, so I'll link them here:
https://github.com/aws/karpenter/pull/1551
https://github.com/aws/karpenter/pull/1332

I'm going to look into the current terraform getting started guide today and see if I can get it working.

[2022-04-07 15:12] bwagner5 commented on #1634
These are the managed policies that the Node needs. Can you try adding these to an IAM Role you create in Terraform and passing that new role's instance profile to Karpenter?

`arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy`
`arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore`
`arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly`
`arn:aws:iam::aws:policy/AmazonEKSWorkerNodePolicy`

[2022-04-07 15:14] bwagner5 commented on #1635
We should probably update our docs to use v18 of the EKS Terraform module.

[2022-04-07 15:18] bwagner5 commented on #1636
This doc may shed some more light on the selector fields in the AWS Cloud Provider: https://karpenter.sh/v0.8.1/aws/provisioning/#subnetselector

It's not required that you use the cluster name as the tag's value. It's also not required to use the `karpenter.sh/discovery` tag key. We use that just to make our documentation consistent and unique. You will need to ensure that whatever tagging scheme

[2022-04-07 15:34] bwagner5 commented on #1637
Here's a related issue: https://github.com/aws/karpenter/issues/1465

You can configure the zap logging via the `config-logging` config-map:

[code]
In the zap-logger-config section, you can change `encoding` from `console` to `json`.

[code]

https://github.com/aws/karpenter/blob/main/charts/karpenter/templates/configmap-logging.yaml#L26

and then your logs will look like this:

[code]

[2022-04-07 15:42] mmclane opened #1639 "Nodes come up slower then expected"
## Version

**Karpenter**: v0.8.1

**Kubernetes**: v1.21.1

## Expected Behavior

Brandon (on slack) suggested that my nodes should be coming up a little faster and asked me to post an issue so the team could look into it.
## Actual Behavior
I have an EKS cluster running with the latest CNI plugin (v.1.10.2) and I am using the latest version of Karpenter to scale nodes out dynamically. That works

[2022-04-07 15:43] #1637 closed

[2022-04-07 16:34] bryantbiggs commented on #1634
FYI - working example that you can refer to @pratikbin https://github.com/clowdhaus/eks-reference-architecture/tree/main/karpenter

[2022-04-07 16:41] bryantbiggs commented on #1635
https://github.com/aws/karpenter/pull/1332 just merged and should resolve this

[2022-04-07 16:43] pratikbin commented on #1634
@bryantbiggs thanks I'll try it

[2022-04-07 18:31] victor10x commented on #1636
Hi @bwagner5 ,

Thank you so much for your response. I think I need to clarify in that I am asking about the function of the tag on the EKS cluster itself, not the tags on the subnets nor the security groups. Perhaps I am dense so apologies if I am misunderstanding the relationship here.

Thank you!

[2022-04-07 18:52] bwagner5 commented on #1636
The tag has no affect on the EKS cluster itself. It's specified in the EKS Terraform module so that resources created by that module get that tag, but it doesn't matter if the cluster has the tag or not, just the subnets and security groups.

[2022-04-07 18:57] victor10x commented on #1636
Okay awesome — thank you for confirming my suspicion. Can I make a small suggestion then to remove that segment from the eksctl and terraform getting started docs, or make the tag name something else so that it doesn't share the same name as the provisioner tags? Thanks again!

[2022-04-07 19:20] bwagner5 commented on #1636
Well the tag is still required for the eksctl and terraform module runs and is required to be the same as in the Provisioner spec for securityGroupSelector and subnetSelector. Since eksctl creates the subnets, you need to pass eksctl the tag to add to the subnets so that the provisioner can use the same tag to select the ones created by eksctl.

[2022-04-07 20:21] victor10x commented on #1636
Sorry, I just also noticed that `cluster_security_group_tags` isn't in the version of the EKS module you're currently specifying (`<18`). In finally reading the actual description of what `tag` does I see it's equivalent. I made the faulty assumption that `tag` only applied to the cluster only. Thanks again for all your responses.

[2022-04-07 20:21] #1636 closed

[2022-04-07 20:43] vladyslav-mahilevskyi commented on #1459
Probably this may help?
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#special-note-on-gpu-instances

[2022-04-07 21:16] rothgar commented on #635
We have a demo video in containers from the couch YouTube. Would that be enough or do you think a focused video of creating a cluster, deploying karpenter, deploying workloads would be better?

[2022-04-08 00:43] elijah-stytch opened #1644 "Persistent Volume Toplogy section uses incorrect provisioner"
**Is an existing page relevant?**
https://karpenter.sh/v0.8.1/tasks/scheduling/#persistent-volume-topology

**What karpenter features are relevant?**
N/A

**How should the docs be improved?**
The docs are currently using a provisioner that causes issue, when applied. The current provisioner is `ebs.csi.aws.com` however the most recent provisioner is `kubernetes.io/aws-ebs`

### Community Note

* P

[2022-04-08 01:08] #1644 closed

[2022-04-08 03:32] rdpravin1895 commented on #1637
@bwagner5 Thanks for the pointer. This is great, but from the yaml file, I see that the `encoding` field is not configurable through custom helm values.

https://github.com/aws/karpenter/blob/main/charts/karpenter/templates/configmap-logging.yaml#L26

Are there plans to make this configurable? Or the other option that we currently have is to clone the repo and maintain a custom version of the char

[2022-04-08 11:13] pratikbin commented on #1634
There is no `worker_iam_role_name` by EKS module

[2022-04-08 11:39] bryantbiggs commented on #1634
Karpenter requires at least one node to get started (something to host pods to start controlling scaling as well as running CoreDNS, VPC CNI, etc.). Here is an example of just deploying an EKS managed node group with a single node https://github.com/terraform-aws-modules/terraform-aws-eks/blob/3ff17205a4ead51cca993547ef3de42cc080043b/examples/karpenter/main.tf#L45-L56

So with that node group, an

[2022-04-08 14:19] pratikbin commented on #1634
@bryantbiggs It worked. Now I'll compare your's with mine.

Yes I know that. It was somekind of permission issue I bet but which permissions that I have to find.

[2022-04-08 15:36] zefir01 commented on #1391
The same situation. Nodes are connected normally only if they are created from via launchTemplate.
karpenter: v0.8.1
k8s: 1.21

[2022-04-08 17:10] bwagner5 commented on #1637
Good suggestion, it has been merged! :D should be released next week

[2022-04-08 18:02] snorlaX-sleeps opened #1649 "Karpenter is not respecting per-node Daemonsets"
## Version

**Karpenter**: v0.7.2

**Kubernetes**: v1.21.5

## Context

We run several different daemonsets on a per-nodes basis: metrics, logging, EBS CSI, secrets-store CSI.
These need to be present on every node as they provide their functionality to every pod on a node.

(This could be a configuration / unset flag issue, looking for more information)

## Expected Behavior
When choosing an inst

[2022-04-08 19:25] dewjam commented on #1488
#1332 was merged yesterday, which updates the Karpenter Terraform Getting Started guide so it uses v18+ of the Terraform EKS module. Also, the Karpenter IRSA modules has been updated with some fixes.  Thanks to @bryantbiggs for his hard work on this PR!

@cradules,
Any opposition to closing out this issue?  Any other questions/problems you would like to bring up?

[2022-04-08 19:33] bwagner5 commented on #1649
I believe this was fixed in v0.7.3. Can you try upgrading to the latest v0.8.1 and see if that fixes this issue?

[2022-04-08 19:34] dewjam commented on #1649
This may also be related to the issue outlined in https://github.com/aws/karpenter/issues/1573 .  Which was fixed by https://github.com/aws/karpenter/pull/1616, but not yet released.

[2022-04-08 19:38] dewjam commented on #1573
Hello @vasu-git ,
#1616 was recently merged which fixes the issue with DaemonSet resources as well as adds support for init Container resources.  It should be included in the next Karpenter release.

I'm going to go ahead and close out this issue, but please feel free to reopen if you have any questions in the meantime.

Thanks for reporting this issue!

[2022-04-08 19:38] #1573 closed

[2022-04-08 20:28] dewjam commented on #1536
Closing this out as there have been no updates for several days.  Please feel free to reopen!

[2022-04-08 20:28] #1536 closed

[2022-04-08 21:16] jkroepke opened #1652 "Internal error occurred: failed calling webhook "defaulting.webhook.provisioners.karpenter.sh": failed to call webhook: Post "https://karpenter.karpenter.svc:443/?timeout=10s": x509: certificate signed by unknown authority"
## Version

**Karpenter**: v0.8.1

**Kubernetes**: v1.23.5

## Expected Behavior
After helm install, I'm able to apply `Provisioner` manifests

## Actual Behavior
[code]

## Steps to Reproduce the Problem

Using latest Kubernetes, apply helm:

[code]

## Resource Specs and Logs

<details>
<summary>webhook container logs</summary>

[code]
</details>

The `karpenter-cert` secret is populated:

<img

[2022-04-08 21:18] #1619 closed

[2022-04-08 21:50] bwagner5 commented on #1652
hmmm this might be a k8s v1.23 thing, looks like the ownerRef can't be added because the Karpenter service account doesn't have Delete permissions on the webhook configs.

[code]

[2022-04-08 22:57] bwagner5 commented on #1649
@dewjam is probably correct in what you're seeing @snorlaX-sleeps . This patch will be released next week in v0.8.2

[2022-04-09 06:57] jkroepke commented on #1652
@bwagner5 the code exists since 1.11: https://github.com/kubernetes/kubernetes/pull/63403

[2022-04-09 07:42] sriram0721 commented on #1635
cool!. we can close this 👯

[2022-04-09 08:33] dheeraj-incred commented on #1634
@pratikbin were you able to figure out this?
I'm trying to add karpenter to an existing EKS cluster but new nodes created by karpenter aren't joining the cluster due to the same lease error.

[2022-04-09 09:33] pratikbin commented on #1634
@dheeraj-incred no I haven't dug deep but @bryantbiggs TF worked for me. He's using module for karpenter.

[2022-04-09 11:30] jkroepke commented on #1652
Hi,

I manually add the needed delete permissions through a dedicated ClusterRole, looks like it still does not work:

[code]

[2022-04-09 11:34] jkroepke commented on #1652
I looks into it, looks like the `OwnerReferencesPermissionEnforcement` Admission Controller is responsable for the first (missing delete RBAC) and second error here.

https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#ownerreferencespermissionenforcement

[2022-04-10 05:00] vumdao commented on #1619
@bwagner5 Security aspect is belong to users, they should aware the risk to decide attach SSH keys to the EC2 not the tool to block an option, I think

Thanks for your help to show me `enter-admin-container` but it does not help much since we're still in chroot not full control at all
[code]

[2022-04-11 11:36] snorlaX-sleeps commented on #1649
Thanks @dewjam @bwagner5 - the issue outlined in https://github.com/aws/karpenter/issues/1573 sounds like it touches upon some of the same areas, so I am glad there is a fix in 🙂
I will test it out when it gets released and close this issue out after.

[2022-04-11 13:57] #1635 closed

[2022-04-11 15:22] dewjam commented on #1602
Hey @devopsjnr ,
Can you give me some more details about your network configuration?  Are you using the VPC CNI plugin?  Are you using Network Policies?

Thanks!

[2022-04-11 17:17] spring1843 commented on #1459
I was able to reproduce this by adding `nvidia.com/gpu: "1"` under spec.resources.limits

After that running `kubectl get node -l karpenter.sh/provisioner-name -o json -w | jq -r ".status.capacity"`  shows that `"nvidia.com/gpu"` is being set to `0`.

It appears that the kubelet is zeroing out the extended resource as indicated in the logs:
[code]

Here's where that happens:
https://github.com/kub

[2022-04-11 18:14] midestefanis commented on #1488
@dewjam

I am having a similar error:

ERROR controller.provisioning Launching node, creating cloud provider machine, with fleet error(s), UnauthorizedOperation: You are not authorized to perform this operation. Encoded authorization failure message: ****

The decoded message is as follows:

[code]

[2022-04-11 18:21] midestefanis commented on #1488
@dewjam I'm using the latest version of the documentation (preview) -> https://karpenter.sh/preview/getting-started/getting-started-with-terraform/

[2022-04-11 18:45] bwagner5 commented on #1619
@vumdao you need to drop into the actual root filesystem shell by running `sudo sheltie`

[code]

[2022-04-11 21:17] felix-zhe-huang commented on #1290
We have implemented this and included since v0.7.0

[2022-04-11 21:17] #1290 closed

[2022-04-11 21:55] dewjam commented on #1488
Hey @midestefanis ,
Thanks for reaching out!  Would you mind providing your Provisioner spec?  Also, did you provision the cluster using the getting Terraform Started guide?  Or is this an existing cluster?

[2022-04-11 23:46] noyoshi opened #1664 "Failing to provision nodes for aggressive resource requests"
## Version

**Karpenter**: v0.8.1

**Kubernetes**: v1.20.15-eks-0d102a7

## Expected Behavior

I would expect nodes get created.

## Actual Behavior

Nodes are not created. Getting this error from the controller:
[code]

## Steps to Reproduce the Problem

- Follow quickstart guide https://karpenter.sh/v0.6.0/provisioner/
- Try to scale the `inflate` sample application
[code]
(from https://karpente

[2022-04-12 01:45] tzneal commented on #1664
I replicated your provisioner and scaled up 100 inflate pods and multiple nodes were launched with the pods all going to a  running status:

[code]

Your instance type selection has both non-GPU and GPU instance types, was this intentional?

[2022-04-12 02:43] cucaixanh commented on #1630
Thank you so much @bwagner5

But i has create 2 file provisioner with 1 not taint and 1 taint.

I has the provisioner with not `taints` config as follows:
[code]

Get pods from namespace default

[code]

And `kubectl describe pods`

[code]

Then i check logs of `Karpenter` controller:

[code]

Why are my pods scheduled on `appnodes`, but do my pods with taint, it have to provisioner on `systemnode

[2022-04-12 09:35] hedasaurabh commented on #1313
@Izvi-digibank Can you post the output here for KarpenterController?

[2022-04-12 10:36] Izvi-digibank commented on #1313
My controller in functioning fine by now hence I closed the issue. All I had to do as I wrote above is to separate the KarpenterController into two different statements (did it through aws console but you can do it by terraform if you use)

[2022-04-12 11:37] devopsjnr commented on #1602
@dewjam Thank you for the very elaborated answer above. I just managed to solve the issue, needed to set `hostNetwork` to `true` as I'm using a custom CNI. We can close this, thanks again!

[2022-04-12 11:37] #1602 closed

[2022-04-12 15:46] midestefanis commented on #1488
@dewjam

Also, did you provision the cluster using the getting Terraform Started guide? - Yes

Provisioner spec:
[code]

[2022-04-12 16:58] dewjam commented on #1488
Hey @midestefanis ,
I think I see the issue here.  Notice in the [Karpenter IRSA Terraform module](https://github.com/terraform-aws-modules/terraform-aws-iam/blob/master/modules/iam-role-for-service-accounts-eks/policies.tf#L462-L475) there is a condition which is expecting a tag on resources being used by the RunInstances action.

The "tags" key in your Provisioner spec must be the same, otherwis

[2022-04-12 17:21] devopsjnr opened #1666 "Not authorized to perform sts:AssumeRoleWithWebIdentity"
Karpenter version: 0.5.6
EKS version: 1.21.5

I installed Karpenter on another cluster and although I defined all roles and policies, I still get the following error:

[code]

`defaultInstanceProfile` is an IAM Role that contains the following policies:

1. AmazonEKSWorkerNodePolicy
2. AmazonEC2ContainerRegistryReadOnly
3. AmazonSSMManagedInstanceCore
4. AmazonEKS_CNI_Policy
5. A policy called "ka

[2022-04-12 17:24] devopsjnr commented on #1602
@dewjam Hey following this thread could you please take a look on this one? https://github.com/aws/karpenter/issues/1666
Thanks!

[2022-04-12 17:37] bryantbiggs commented on #1488
@dewjam I can definitely add that - however, that wouldn't have resolved the issue because the tag is written incorrectly. What would it take to bake in a tag that I can set on the IRSA module as the default (users could still override) - https://karpenter.sh/v0.8.2/aws/provisioning/#tags

I'll open a PR to make the IAM statement condition for the tag configurable to opt out of, but the default wi

[2022-04-12 17:39] midestefanis commented on #1488
@dewjam That is not an option because the tags must be customizable. I use multiple clusters in the same account and VPC, therefore I cannot tag in that way since that key is unique. It should be possible to do that last thing you mention.

[2022-04-12 17:47] bryantbiggs commented on #1488
ah I see - that makes sense. one sec

[2022-04-12 18:58] njtran commented on #1666
Hey @devopsjnr! Did you create the `KubernetesServiceAccount_karpenter` role? The policy trust relationship should include `ec2.amazonaws.com` like in `defaultInstanceProfile` since `ec2.amazonaws.com` is making the call as you can see in the logs. Can you let me know if that works?

[2022-04-12 19:12] bryantbiggs commented on #1488
@midestefanis if you update your IRSA role to the following, this should start working for your use case now:

[code]

[2022-04-12 19:30] midestefanis commented on #1488
@bryantbiggs  Thank you!

[2022-04-12 20:09] devopsjnr commented on #1666
@njtran Hey, I don't think that it is related. For a reference in my other cluster I have the same configuration (without `ec2.amazonaws.com` in `KubernetesServiceAccount_karpenter`) and it works..
Also I did not see it was mentioned in the documentation.

[2022-04-12 22:49] njtran commented on #1630
Hey, I replicated your setup as well and was able to bring up pods and nodes only by relaxing the constraints of the instance types. I checked the nodes and it has the taints. It looks like your controller logs show that you're running into the same problem.

The logs also show that it added the `PreferNoSchedule` Toleration into your pods to enable it to schedule to some nodes, which happens if [

[2022-04-12 22:59] noyoshi opened #1669 "Provisioner volume modifications not picked up by karpenter controller"
## Version

**Karpenter**: v0.8.1

**Kubernetes**: v1.20.15-eks-0d102a7

## Expected Behavior

Modifying the provisioner will be all that is needed for controller to get updated provisioner configs.

## Actual Behavior

Controller seems to ignore updated provisioner.

1. Created provisioner, and deployed controller
2. Modified the provisioner, specifically, added a section in `spec.provider.blockD

[2022-04-13 12:28] tzneal commented on #1664
Those instance types also have large amounts of CPU available.  Karpenter prefers the non-GPU instance types, but in this case the GPU types had the most CPU and could run more of those pods.  kube-scheduler would also run non-GPU workloads on those GPU instance types if they were created for another reason.  One way of working around this is to create a provisioner for GPU instance types only tha

[2022-04-13 12:40] #942 closed

[2022-04-13 17:21] njtran commented on #1666
Got it. I'll reproduce your configs right now and see if it works for me.

[2022-04-13 17:34] dewjam commented on #1649
Hey @snorlaX-sleeps !
v0.8.2 is out now.  When you get a moment, would you be willing to test out the new version to make sure the issue is resolved?

https://github.com/aws/karpenter/releases/tag/v0.8.2

Thanks again for reporting the problem!

[2022-04-13 17:47] njtran commented on #1669
Hey @noyoshi, can you elaborate on how you scaled up pods to get Karpenter to scale up? Could you share your deployment?

Can you elaborate here? Were no nodes created at all? Or were nodes created without the configurations you defined?

Did you delete the pod to essentially re-register the provisioner? Are you saying that the Karpenter controller may not have registered the change in the Provisi

[2022-04-13 18:38] BryanStenson-okta commented on #628
@ellistarn curious if you've found anything here.  Specifically, if adding a `provisioner.spec.taintsToIgnore` will make life difficult in other ways.

I'm stuck on a project that will require me to solve this, or swap Karpenter out for CAS.  My strong preference is to stick with a "fixed" Karpenter -- and I have some bandwidth to implement this -- if the proposed solution makes sense.

[2022-04-13 19:07] devopsjnr commented on #1666
Found it! Apparently the `StringLike` should not contain the arn part, so instead of
[code]
It should be
[code]

[2022-04-13 19:25] dewjam commented on #1639
Hello @mmclane !
My apologies for the delay.  I'm working on reproducing this issue locally.  I'll give an update once I've given it a try.

[2022-04-13 19:53] mmclane commented on #1639
Great to hear that someone is looking into it.  Let me know if I can help.  I am also available on the Kubernetes slack

[2022-04-13 20:06] dewjam commented on #1639
So far I've been unable to reproduce this problem.  Can you clarify your timings from above?  Does it seem that in each test you're waiting for the CNI plugin to start?

Would you be willing to share the "events" output for a pod that is taking a long time to start?

`kubectl get event -n <namespace> --field-selector involvedObject.name=<pod_name>`

[2022-04-13 20:10] dewjam commented on #1639
You can disregard this question.  I guess I missed your comment from above:  "During this time the pods report that they are waiting on the CNI to be available but that only takes 30s after the node is ready."

Events would still be helpful to look at, though.

[2022-04-13 20:16] dewjam commented on #1639
Could you also share logs from the `aws-node` pod on an impacted node?

[2022-04-13 20:23] #1666 closed

[2022-04-13 22:23] BryanStenson-okta commented on #628
would love feedback on this ^^^ proposed solution.  it seems very simple (maybe I'm missing something?).

[2022-04-13 22:33] ellistarn commented on #628
We were chatting about this in standing this morning. We're playing with an idea that would enable us to not bind pods and allow the kube scheduler to do so. These startup taints could either be implemented as custom userdata or through something like `taintsToIgnore` (I'd probably name this `startupTaints`).

With just `taintsToIgnore` and without something where we don't bind, I don't see how th

[2022-04-13 22:46] BryanStenson-okta commented on #628
I suppose I see "the problem" as Karpenter not adding nodes to the cluster.  I believe `taintsToIgnore` itself solves this, as this will allow a provisioner to add more nodes to the cluster.

Having said that, there's absolutely a combination of taints which will cause lots of node churn -- that's probably not what we want either (https://github.com/aws/karpenter/pull/1671#issuecomment-1098548926)

[2022-04-14 03:25] shirish-qub commented on #1614
I have since upgraded my EKS cluster and have not faced this issue. so probably it was something in v1.17 that karpneter didn't like.

[2022-04-14 03:25] #1614 closed

[2022-04-14 04:12] vumdao commented on #1630
It works well from me either, I think the problem is from your `nodeSelector`  which specifies the Pod must be assigned on node with `topology.kubernetes.io/zone: ap-southeast-1c` and it's not sure the Spot instance is available for request in that subnet.

In practice, I think we should set the `subnetSelector` to pick subnet in private VPC and no need to specify the zones for it, so Spot request

[2022-04-14 09:06] pjlewisuk commented on #1622
Or just don't retire old docs versions so quickly?

[2022-04-14 16:51] jcogilvie commented on #1091
In the end my requirement is the same as the others in this thread, but one of the reasons for the requirement, which I have not yet seen captured, is that minimizing (to some reasonable limit) the number of hosts can impact the cost of anything billed per-host (e.g., DataDog APM).

[2022-04-14 20:34] tzneal commented on #942
If you've got a fairly recent version of Karpenter already running, you can drop in this snapshot controller image to test out pod affinity & pod anti-affinity.  This is just a snapshot, not meant for production, etc.:

[code]

[2022-04-14 20:34] tzneal commented on #985
If you've got a fairly recent version of Karpenter already running, you can drop in this snapshot controller image to test out pod affinity & pod anti-affinity.  This is just a snapshot, not meant for production, etc.:

[code]

[2022-04-14 20:54] #985 closed

[2022-04-14 21:23] bwagner5 commented on #1622
@pjlewisuk What do you mean?  The docs weren't retired, the structure changed between the latest version and the version the workshop uses. The `/docs` that was being used before that PR would be the same functionality as `/latest` suggested in this issue. Pinning workshops to a specific version probably makes sense anyways.

[2022-04-14 21:49] pjlewisuk commented on #1622
@bwagner5 I originally came across this issue via a PR on EKS workshop (https://github.com/aws-samples/eks-workshop/pull/1370), which states that links to older versions of the docs in the workshop (e.g. https://karpenter.sh/v0.4.3-docs/) no longer work.

As you said, it would probably make sense to pin the workshop to a particular version, but we’d need to be confident that the version would stay

[2022-04-14 22:00] victor10x opened #1676 "misspelling in ERROR message"
actual spec key is `requiredDuringSchedulingIgnoredDuringExecution`, not `requiredDuringSchedulingIgnoreDuringExecution`. it's a nit but it made it confusing when looking at the argocd config

## Version

**Karpenter**: v0.8.1

**Kubernetes**: v1.22.6-eks-7d68063

## Expected Behavior
[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem
on a fresh cluster with Karpenter installed
[

[2022-04-14 22:23] njtran commented on #1676
Hey @victor10x, thanks for opening up the issue. Making the change right now.

[2022-04-14 22:33] njtran commented on #1676
Hey @victor10x , this is a stale version of Karpenter, and instead of it being misspelled and not supported, we finally support it! It was merged [here](https://github.com/aws/karpenter/pull/1626). We currently don't have a release for this, but if you'd like to check out and try the feature before the release, feel free to refer to [this](https://github.com/aws/karpenter/issues/942#issuecomment-1

[2022-04-14 22:33] njtran commented on #1676
Going to close the issue as it's fixed now.

[2022-04-14 22:33] #1676 closed

[2022-04-14 22:42] njtran commented on #1622
We shouldn't be retiring the old docs at all. You're right that the format for the url for `v0.4.3` changed. As. I remember, we changed this a while ago, but we've been sticking to the pattern since then, so you shouldn't have problems with referring to pinning a version now.

[2022-04-15 00:52] rajakshay commented on #444
This behavior is undocumented, and it took me a while to figure this out. Saw it happen in Cloudtrail. If [this](https://github.com/aws/karpenter/blob/main/website/content/en/preview/AWS/launch-templates.md) is a good place for it, I can send an MR.

[2022-04-15 00:54] njtran commented on #1535
https://github.com/aws/karpenter/pull/1641

[2022-04-15 01:04] njtran commented on #1532
This is an interesting idea. We currently scale down nodes that are empty (have zero non-daemonset pods). This would essentially look like adding this as an additional annotation and changing how Karpenter considers a node empty [here](https://github.com/aws/karpenter/blob/main/pkg/controllers/node/emptiness.go#L50) by decrementing the count for each pod that has the `karpenter.sh/allow-eviction`

[2022-04-15 06:40] stevehipwell commented on #1526
@njtran fundamentally it comes down to reducing the blast radius. If anyone who can start a container can keep a node running that starts to look like a potential problem. I'd like to know that after a given time, no matter what a user has done, that a node will terminate and be replaced.

[2022-04-15 16:11] tzneal opened #1677 "# of Pods for Bottlerocket Nodes is calculated incorrectly"
## Version

**Karpenter**: v0.8.2

## Expected Behavior
The number of pods is computed correctly for Bottlerocket nodes.

## Actual Behavior
What we think the node will have:
[code]
What it actually has:
[code]
[code]

## Steps to Reproduce the Problem
Set the AMI Family to Bottlerocket, deploy something that causes a large node to be created and inspect the # of pods on the node object we create

[2022-04-15 16:25] tzneal commented on #1677
Related: https://github.com/bottlerocket-os/bottlerocket/issues/1721

[2022-04-15 16:44] ellistarn commented on #1526
Is there a difference between this and `terminationGracePeriodSeconds`?

[2022-04-15 16:53] tzneal commented on #1526
Even if it would violate a pod disruption budget?

[2022-04-15 18:23] stevehipwell commented on #1526
@ellistarn this would terminate the node even if there was a pod with a `karpenter.sh/do-not-evict` annotation running. Effectively after the TTL expires the annotation would be ignored.

@tzneal I think that's a separate concern, but pretty important. A TTL which guarantees the node is terminated would make sense, having pods stuck due to user error and blocking node maintenance is a common probl

[2022-04-15 20:02] mmclane commented on #1639
aws-node pod on new node.  This is up and running right away.

[code]

[2022-04-15 20:14] mmclane commented on #1639
Pods took ~ 8m30s

Events:

[code]

[2022-04-15 20:28] tzneal commented on #1639
Does that image normally take 4m to pull?

[code]

[2022-04-15 23:56] ellistarn commented on #975
WIP for this here: https://github.com/aws/karpenter/pull/1673

[2022-04-16 13:18] kreempuff opened #1679 "Conflicting information on docs"
**Is an existing page relevant?**

The docs on the [getting started page](https://github.com/aws/karpenter/blob/b1e93d3414de5fb86402425e00bf036654da4a6c/website/content/en/v0.8.2/getting-started/getting-started-with-eksctl/_index.md?plain=1#L68) mention that the controller _discovers_ a default instance profile name with a given format:

[code]
But on the [provider specific page for AWS](https://g

[2022-04-16 22:27] chrisnegus opened #1680 "Reorganize docs navigation to highlight provisioning and scheduling"
**Is an existing page relevant?**
The focus here is on the existing docs navigation.

**What karpenter features are relevant?**
Now that Karpenter is becoming more mature, we should consider restructuring the organization of the docs to make the most critical content as easy to find as possible.

**How should the docs be improved?**
Reevaluate the current docs structure, in particular, consider mo

[2022-04-17 14:39] yerenkow opened #1681 "Karpenter ignores extra labels coming from kubelet-extra-args in launchtemplate"
## Version
**Karpenter**: v0.8.2
**Kubernetes**: v1.21

## Expected Behavior
Node should set labels coming from extra kubelet args (in launch template user data) early, so daemonsets should see it.

## Actual Behavior
It doesn't work, as aws-node pod doesn't see label.

## Steps to Reproduce the Problem

We use launch template with certain customization done in the user-data script. This results t

[2022-04-17 19:10] MatthiasWinzeler opened #1682 "Cannot evict pods with PDB when multiple nodes are expired at the same time"
## Version

**Karpenter**: v0.8.2

**Kubernetes**: v1.22 (EKS)

## Expected Behavior

I deployed a sample deployment with 3 replicas. This deployment has a PDB with `minAvailable: 2` to ensure that Karpenter keeps my app running during node expiry etc.

For a kubernetes version upgrade, I manually set `ttlSecondsUntilExpired` to trigger a k8s node expiry which will bring up new nodes with the new

[2022-04-17 19:43] MatthiasWinzeler commented on #1682
Quick update: I noticed that the two remaining pods are indeed eventually evicted. It just takes time. For example, for my deployment with 3 replicas all pods were moved after ~10 minutes, sometimes a bit longer.

Another problem that then surfaced was that I set `ttlSecondsUntilExpired` rather low for testing - i.e. 15 minutes - and so Karpenter started to expire the new nodes already, causing ch

[2022-04-17 20:06] ellistarn commented on #1682
I read this as a feature request for an "imperative upgrade mechanism". I can potentially see implementing this using: https://github.com/aws/karpenter/issues/1457

[2022-04-18 12:31] mmclane commented on #1639
So this morning I ran tested this.  I had 6 pods running on my cluster (the number that can fit on my existing node and then added 1 more so that it would spin up a new node with only one pod.  Here is the time it took to pull the image
[code]

So... my question is this.  Is k8s trying to pull the same image multiple times when a new node comes up and thus running into issues or something?

[2022-04-18 12:34] mmclane commented on #1639
Here is the full event listing

[code]

Its worth noting that it took a LOT less time for the linkerd images to get pulled too.

[2022-04-18 14:29] devopsjnr opened #1683 "New nodes are failing to communicate with the API server"
Karpenter version: v0.5.6
EKS version: v1.21.5

After installing Karpenter I can see new nodes coming up and pods are waiting for resources. After a while the node fails and Karpenter tries to create a new node - this happens in infinite loop.

I looked at the kubelet logs and that's what I saw:

[code]

I added the Instance Profile to aws-auth configmap:

[code]

Also, the instance profile role h

[2022-04-18 14:30] devopsjnr commented on #1225
@ellistarn @felix-zhe-huang  I encounter the same error, could you please take a look? https://github.com/aws/karpenter/issues/1683

[2022-04-18 14:43] mmclane commented on #1639
I thought of that and changed it but it didn't seem to make a difference.

[2022-04-18 14:45] dewjam commented on #1639
Out of curiosity, I noticed this in your image line: `# {"$imagescan": "app"}`.  Are you using something like Fleet by chance?  (https://fleet.rancher.io/imagescan/)

I'm not familiar with `imagescan`, but could this be a contributing factor?

[2022-04-18 14:47] mmclane commented on #1639
Yep, that is exactly what that is for.

[2022-04-18 15:05] MatthiasWinzeler commented on #1682
@ellistarn thanks for the prompt response!

Yes, in the end such an imperative upgrade mechanism is what we're looking for. For the moment, I can confirm that the following workaround does the job:

- Add `ttlSecondsUntilExpired` to a value higher than the youngest node
- Observe that all nodes are expired immediately - nodes go into state `Ready,SchedulingDisabled`
- Right after the nodes went in

[2022-04-18 15:09] dewjam commented on #1639
OK, just reading about Imagescan a bit more and it seems this is just a method to populate manifests with most recent image:tag.  Shouldn't be related to pull performance.

[2022-04-18 15:15] mmclane commented on #1639
It shouldn't be related.  It just updates the manifest in git for us.

[2022-04-18 16:06] infestonn opened #1684 "Endless provisioning loop of new node"
## Version

**Karpenter**: v0.8.2

**Kubernetes**: v1.21.5

## Context
We are using calico CNI + istio in our clusters. _istio-validation_ is an init container injected in all our pods. When a pod is assigned to a node the first run of _istio-validation_ always fails with the error `Init:ContainerStatusUnknown`(because init container starts executing before _istio-cni-node-xxx_ is ready) this in t

[2022-04-18 17:11] njtran commented on #444
Hey @rajakshay, you're right. I can't find this in the documentation. I'll add it in. If Karpenter isn't running, you won't see these launch templates deleted until Karpenter starts running again.

In the meantime, if you're curious, we set the Cache TTL [here](https://github.com/aws/karpenter/blob/ff77ffd84f6e0f7bc62b77d5206cbfbbdcf50f93/pkg/cloudprovider/aws/cloudprovider.go#L53) and clear the c

[2022-04-18 17:38] njtran commented on #444
https://github.com/aws/karpenter/pull/1686 Here's the documentation changes. Closing this out. Feel free to open another issue about documentation if you think we need more.

[2022-04-18 17:38] #444 closed

[2022-04-18 19:05] tzneal commented on #1681
@yerenkow Do you use this tag to force pods to schedule to particular zones?

[2022-04-18 19:10] tzneal commented on #1683
Hey @devopsjnr , can you try to upgrade to the latest Karpenter v0.8.2?  It will be helpful to see if the issue occurs there for you.  There are some specific notes regarding upgrading from pre-v0.6.2 versions here: https://karpenter.sh/v0.8.2/upgrade-guide/#upgrading-to-v062

[2022-04-18 19:12] tzneal commented on #1684
@infestonn I believe you are running into the same root cause as #628 .  Are there taints on the nodes that come up that prevent kube-scheduler from binding the pods which cause Karpenter to provision new capacity?

[2022-04-18 20:34] ellistarn commented on #1018
Related: https://github.com/aws/karpenter/issues/1457

[2022-04-18 21:01] devopsjnr commented on #1683
@tzneal I already installed v0.5.6 on another EKS cluster in other AWS account, Hence I rather stick to that version and see it works before I proceed to any upgrade. I know this version is working, I just can't find what I have misconfigured.

Thanks!

[2022-04-18 21:15] suket22 commented on #1683
Apr 18 13:10:58 ip-10-104-24-95.eu-west-1.compute.internal kubelet[3197]: E0418 13:10:58.618444    3197 kubelet.go:2294] "Error getting node" err="node \"ip-10-104-24-95.eu-west-1.compute.internal\" not found"

What CNI are you using? If it's the VPC CNI, you'd want to look at the `aws-node` pod logs, IPAMD logs on the worker node etc. This sounds like an issue there and not with the kubelet itsel

[2022-04-18 21:27] infestonn commented on #1684
@tzneal No, we don't have taints in matching provisioner "default" as you can see.
I must say, this is not the only provisioner we have. There're 3 more provisioners which have taints, but they do not match those pods I described.

[2022-04-18 21:33] njtran commented on #1264
Completed with pod affinity/anti-affinity PR https://github.com/aws/karpenter/pull/1626

[2022-04-18 21:33] #1264 closed

[2022-04-18 23:02] tzneal opened #1690 "Expose Batch Window & Idle Time as Configurable Options"
**Tell us about your request**

I would like to expose the batch window and idle time as configurable options for Karpenter, or perhaps to expose less implementation details some other equivalent parameter e.g. a scale speed preference in the range [0,100] where 0 launches nodes instantly and 100 launches slowly but allows for longer batching?

This wouldn't really work as a provisioner specific p

[2022-04-18 23:23] yerenkow commented on #1681
What we want is karpenter to pick up any availability zone, best suitable at the moment, and not specify zones in the pods requirements.
However, for every zone we have certain networking setup, that comes from node' AZ.
This label is not used for scheduling our pods, but this label is being read by aws-node pod, to figure out proper network config (cni/eni).

[2022-04-18 23:24] suket22 commented on #1681
Does the label show up on your node eventually?
When Karpenter creates an EC2 instance, [it also creates a node object in your cluster with a set of labels it expects](https://github.com/aws/karpenter/blob/main/pkg/controllers/provisioning/provisioner.go#L169). This wouldn't include any args you've specified in your launch template since it only includes the labels that your pod requirements neces

[2022-04-18 23:25] bwagner5 commented on #1690
I think the idle and max timeout is more intuitive to expose rather than normalizing those values into a [0, 100] scale. But very supportive of the idea. I'm assuming this would be exposed via CLI params and not through the Provisioner spec.

[2022-04-18 23:31] yerenkow commented on #1681
Once node is ready, aws-node already completed setup (and failed to properly init networking), pod with payload is assigned and failed b/c of no network.
I've verified that at this moment "describe node" doesn't show the expected label (it's simply not there).

[2022-04-19 00:14] felix-zhe-huang commented on #1683
Are you using the `v0.5.6` getting started guide to install Karpenter? In that case Karpenter is instructed to use the InstanceProfile `KarpenterNodeInstanceProfile-${CLUSTER_NAME}` created by [this step](https://karpenter.sh/v0.5.6/getting-started/#create-the-karpenternode-iam-role). That's a different roleARN used in the your `aws-auth` configmap. Can you also check if the `KarpenterNodeInstance

[2022-04-19 01:42] ellistarn commented on #1690
It would have to be at the CLI level, since batching is global to the process.

[2022-04-19 02:11] rajakshay opened #1693 "Document value for the annotation key: karpenter.sh/do-not-evict"
**Is an existing page relevant?**

https://github.com/aws/karpenter/blob/fe3c3c287bb3d7c657dd6b9e15f0fc425dc26b9f/website/content/en/preview/tasks/deprovisioning.md

**What karpenter features are relevant?**

NA

**How should the docs be improved?**
The doc does not specify that a value is needed for the key: `karpenter.sh/do-not-evict`. Due to this, I just used the key, and set the value to an em

[2022-04-19 02:59] tzneal commented on #1684
Sorry, I was referring to taints that Istio or something else may be putting on the node.  Does kubectl get events show why the pod was evicted?  Karpenter shouldn't schedule new capacity unless for some reason kube-scheduler evicts and marks the pod as unschedulable again.

[2022-04-19 08:13] infestonn commented on #1684
[code]
This are the taints I see while node is being provisioned, I believe this is common taints for a node which is joining a cluster.
At the time pod fails there's no any taints.
To be accurate pods are not "Evicted", their statuses are `Init:ContainerStatusUnknown`

[2022-04-19 08:30] shaunfink commented on #1649
We are still seeing this behaviour after deploying v0.8.2

[2022-04-19 09:35] devopsjnr commented on #1683
@felix-zhe-huang

Yes, installing with Terraform.

It's the same roleARN, my the role's name did not contain the cluster name. However, I added the cluster name and updated. Still getting the same error.
Here is my updated aws-auth:

[code]
Is there anything different now that I do not see?

@suket22

I'm using Cilium, logs looks okay..

[2022-04-19 10:20] snorlaX-sleeps commented on #1649
@dewjam - I deployed the update on 4/14 but didn't get testing the change. I will get back to you once I can test it

[2022-04-19 12:42] psidza commented on #1539
hi @bwagner5, can you please confirm if you agree with my approach? I'll be very glad to create a pull request for it if you agree :). Thank you

[2022-04-19 13:33] snorlaX-sleeps commented on #1649
Hey @dewjam / @bwagner5
After testing v0.8.2 (with Helm Chart v0.8.2) the issue is still occurring.

Using the same initial deployments + daemonsets mentioned in the original comment, I created a new provisioner for these services and redeployed them.
Initially this looked fine, until all the pods had been restarted and some were stuck in a `pending` state (daemonsets with a lower or no `priority_

[2022-04-19 13:58] tzneal commented on #1649
@snorlaX-sleeps  Can you point me to a helm chart that has one of these daemon sets so I can try to reproduce, or paste the YAML for the daemonset?

[2022-04-19 14:00] tzneal commented on #1664
I'm going to go ahead and close this, but please re-open if you are still experiencing issues.  In the new v0.9.0-rc.0 there is some additional logging when this query fails that should help to troubleshoot if you continue to experience this issue.

[2022-04-19 14:19] #1535 closed

[2022-04-19 14:59] infestonn commented on #1684
I already had a small research regarding restart policy. The sad part that deployment's `restartPolicy: Always` which makes thing more confusing.

[2022-04-19 15:06] infestonn commented on #1684
All nodes below are empty. `8` pods on each node is just daemonests' pods.
Pod's requests: CPU=5200m, MEM=24960Mi
<img width="1575" alt="image" src="https://user-images.githubusercontent.com/15729032/164034828-22e9bda7-6208-416d-9fce-cc510661e492.png">

[2022-04-19 15:39] alex-treebeard opened #1695 "Allow provisioner minimum capacity"
**Tell us about your request**
Set a minimum capacity per provisioner below which nodes won't be terminated e.g. 1 instance, or 2cpus

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
Faster startup for infrequent jobs e.g. helm tests

**Are you currently working around this issue?**
Scaling from zero, waiting a few mins

### Community Note

* Pl

[2022-04-19 17:33] mmclane commented on #1639
Events for node on karpenter provisioned node that is running docker instead of containerd.  Not that 5 other pods were launching at the same time.  This is in contrast to the 4 minutes it takes to pull the images with containerd.

[code]

[2022-04-19 17:38] dewjam commented on #1639
Seems like this PR is related to our problem with containerd:  https://github.com/containerd/containerd/pull/6702

[2022-04-19 21:01] suket22 commented on #1593
I'm closing this out, let me know if there's more information I can provide.

[2022-04-19 21:01] #1593 closed

[2022-04-19 21:19] tzneal commented on #1681
@yerenkow We've looked into this, but for now it seems like the only solution is to use a provisioner per custom label as you had suggested earlier.  It appears that since we create the Node object initially, when kubelet starts up it will only merge in a [fixed set of label names](https://github.com/kubernetes/kubernetes/blob/39c76ba2edeadb84a115cc3fbd9204a2177f1c28/pkg/kubelet/kubelet_node_statu

[2022-04-19 21:24] snorlaX-sleeps commented on #1649
Hey @tzneal

We are deploying the following Daemonsets:
- `aws-node` as we are in AWS
- `kube-proxy`
- [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver) (Helm Chart)
- [Datadog](https://github.com/DataDog/helm-charts/tree/main/charts/datadog) (Helm Chart)
- [AWS EBS CSI Driver](https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html) (As an EKS add-on bu

[2022-04-19 21:49] dewjam commented on #1649
Hey there @snorlaX-sleeps ,
I'm working on reproducing this with the daemon sets you provided.  I'll let you know what I find.

[2022-04-19 21:57] snorlaX-sleeps commented on #1649
Thanks @dewjam - as I said in the initial post, there are ways to work around it (deploying everything, then destroying all the nodes, but thats only good for non-critical / non-production clusters), but I just want to help identify this issue 👍

[2022-04-19 22:38] dewjam commented on #1649
Do you think it's possible Deployments are being applied to the cluster before some of the DaemonSets?

[2022-04-19 22:59] dewjam commented on #1649
To give some context on my question above:
Karpenter usually only takes action when it sees pending pods.  For a Deployment, Karpenter will look at the resource requests/limits of pending pods to determine which instance type to launch.  When it comes to Pods managed by DaemonSets, Karpenter instead has to look at the PodSpecTemplate for DaemonSets to get resource request/limit info (because the p

[2022-04-19 23:21] rtripat commented on #1601
Closing as duplicate of https://github.com/aws/karpenter/issues/1243

[2022-04-19 23:21] #1601 closed

[2022-04-19 23:25] #1431 closed

[2022-04-19 23:26] njtran commented on #1431
Closing as the Migration guide has been merged.

[2022-04-19 23:34] BryanStenson-okta opened #1703 "removing node should not result in Karpenter panicing"
## Version
**Karpenter**: v0.9.0-rc0
**Kubernetes**: Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.9-eks-0d102a7", GitCommit:"eb09fc479c1b2bfcc35c47416efb36f1b9052d58", GitTreeState:"clean", BuildDate:"2022-02-17T16:36:28Z", GoVersion:"go1.16.12", Compiler:"gc", Platform:"linux/amd64"}

## Expected Behavior
removing a node should not result in Karpenter dying via panic

##

[2022-04-19 23:35] BryanStenson-okta commented on #1703
I realize this is a pretty slim bug report.  I wanted to get something filed in case some one else noticed this.  I'll try to add more details/steps if/when I get an accurate reproduction.

[2022-04-19 23:45] dewjam commented on #1252
Added to troubleshooting guide:  https://karpenter.sh/v0.8.2/troubleshooting/#pods-using-security-groups-for-pods-stuck-in-containercreating-state-for-up-to-30-minutes-before-transitioning-to-running

[2022-04-20 00:08] snorlaX-sleeps commented on #1649
That could be potentially true during the initial deployment, however I have seen this happening when deleting an existing Karpenter managed node to get it recreated as well.

I understand.
AFAICT, when deploying the services and seeing this issue, the "bound" service pods (the ones that are scaled) seem to start before daemonsets of a similar priority (or even slightly higher priority), going by

[2022-04-20 00:16] ellistarn commented on #1327
@stevehipwell is https://github.com/aws/karpenter/issues/1327#issuecomment-1036613965 still useful to you? We were curious about what the specific use case is. It's pretty straightforward to implement, but we weren't sure it was still necessary.

[2022-04-20 00:26] #1354 closed

[2022-04-20 00:27] #1336 closed

[2022-04-20 00:27] #1112 closed

[2022-04-20 00:27] ellistarn commented on #1112
@spring1843 can you link your updates?

[2022-04-20 00:28] ellistarn commented on #1097
Closing in favor of not binding pods. We have work in progress on this.

[2022-04-20 00:28] #1097 closed

[2022-04-20 00:30] #536 closed

[2022-04-20 00:31] #359 closed

[2022-04-20 00:32] #516 closed

[2022-04-20 00:32] ellistarn commented on #516
This is implemented

[2022-04-20 00:32] tzneal commented on #1703
@BryanStenson-okta  I think this is from the experimental branch that you are running, still a good bug report but I don't think this is from the RC as that cluster state tracking code isn't in v0.9.0-rc.0.

[2022-04-20 00:32] #532 closed

[2022-04-20 00:33] ellistarn commented on #635
We've got a bunch of talks posted now.

[2022-04-20 00:33] #635 closed

[2022-04-20 00:34] ellistarn commented on #1327
Related: https://github.com/aws/karpenter/issues/967

[2022-04-20 00:38] njtran commented on #1669
Just tried this out with your Provisioner and got some unexpected behavior in v0.8.2.
- Create Provisioner with BlockDeviceMappings
- Create Node with correct volumes
- Change Provisioner BlockDeviceMappings IOPS values
- Create Node and see the value not changed

After trying it at HEAD with commit https://github.com/aws/karpenter/pull/1673 and saw the value change with the same process. This sho

[2022-04-20 00:38] #1669 closed

[2022-04-20 00:39] #815 closed

[2022-04-20 05:39] rajakshay commented on #840
Adding my use-case here: Im trying to achieve an equivalent of High ASG utilization monitor in Karpenter. This feature will be useful to percentage capacity in use, and proactively update the limits on a provisioner before pods get stuck in a Pending state forever.

[2022-04-20 08:23] dragosrosculete commented on #1091
Hi, this is really important, needs to have the same functionality as cluster-autoscaler. This is preventing me from switching to Karpenter.

[2022-04-20 09:30] stevehipwell commented on #1327
@ellistarn yes this is still very important to our use case.

[2022-04-20 09:42] stevehipwell commented on #1327
@ellistarn is the provisioner failure logic documented anywhere? And is the specific failure logic for AWS also documented?

[2022-04-20 12:57] tzneal commented on #1703
Thanks for this, I wrote up a test and fixed it in #1698 .  This is a preliminary PR that starts to add support for maintaining cluster state as we move towards in-flight node awareness and potentially not-binding.

[2022-04-20 13:01] tzneal commented on #1682
@MatthiasWinzeler Sounds good, I'm going to close this as a duplicate of #1018 which has more discussion on providing control over the node recycle process.

However, we wanted to make you aware of Karpenter's existing support for node deletion that may be easier to script/use than changing the provisioner `ttlSecondsUntilExpired` and changing it back.  Karpenter places a finalizer on nodes that i

[2022-04-20 14:45] devopsjnr opened #1706 "Unable to delete launch template"
**Karpenter**: v0.8.2

**Kubernetes**: v1.21.5

Upgraded to v0.8.2, getting the following error from controller:

[code]

Tried to remove Karpenter, then manually delete all launch templates that previous Karpenter version created and reinstall Karpenter 0.8.2. Same error still appears.

Also, the instance profile role has the right permissions:

1. AmazonEKSWorkerNodePolicy
2. AmazonEC2ContainerR

[2022-04-20 14:51] dewjam commented on #1683
Hello @devopsjnr ,
The log messages read like a network connectivity or security group issue.
[code]
From a failed node, can you try to connect to the apiserver endpoint using curl?

[code]

You should see a 403 status code returned.
[code]

If you don't and instead it times out, then there is likely a network connectivity problem between kubelet and the APIServer endpont.

[2022-04-20 15:16] tzneal commented on #1706
If you look at the [cloud formation template](https://karpenter.sh/v0.8.2/getting-started/getting-started-with-eksctl/cloudformation.yaml) in the getting started guide, there are more permissions listed:

[code]
You seem to be missing the `ec2:DeleteLaunchTemplate`

[2022-04-20 16:23] dewjam commented on #1649
Thanks for the info.  If you don't mind, I would like to see the manifest for `<big_logging_pod>-774bd5cf76-lb4m6`.  Mainly curious about Tolerations and Priority Class (as you mentioned).

Do you have debug logging enabled in Karpenter?

https://karpenter.sh/v0.8.2/development-guide/#change-log-level

[2022-04-20 16:59] #1693 closed

[2022-04-20 17:02] njtran commented on #647
As this has been open for a while and we're actively working on making our [troubleshooting doc](https://karpenter.sh/v0.8.2/troubleshooting/) better, I'm going to close this out. Feel free to cut an issue or PR to include more troubleshooting here if you run into anything.

[2022-04-20 17:02] #647 closed

[2022-04-20 17:54] #975 closed

[2022-04-20 17:55] snorlaX-sleeps commented on #1649
No, but I now know thats a thing!!!

It doesn't have tolerations.
It's a 2 replica deployment given the same priority_class as the `fluentd` daemonset, as they are both part of the logging setup.
I believe it was the priority-class - I downgraded it's priority class to be lower than the daemonsets (secrets-csi and datadog) and everything correctly scheduled.

After that change I have been unable t

[2022-04-20 18:04] #1053 closed

[2022-04-20 18:05] bwagner5 commented on #702
Yes, we are working on this functionality currently

[2022-04-20 19:10] MatthiasWinzeler commented on #1682
@tzneal many thanks for this piece of information!

I just tested it and it works flawlessly; for our use case (imperative node upgrade) the approach of deleting (all or selected) nodes is even better than setting `ttlSeconsUntilExpired`. Thx!

[2022-04-20 21:11] devopsjnr commented on #1706
@tzneal I noticed and I added this permission. However when nodes are trying to come up I can still see the same error I in the node description as I saw before:

[code]

[2022-04-20 21:21] devopsjnr commented on #1683
Hi @dewjam, thanks for your reply.
I'm not sure that I can perform a `curl` command within the failed node because for that I would need at least one running pod, and I cannot have any running pod within any node that Karpenter creates.
The nodes are not coming up at all and pods inside are on waiting state.

[2022-04-20 23:43] dewjam commented on #1649
That makes perfect sense.  As you identified, if a pod has a higher priority-class than a DaemonSet Pod, then the DS Pod could end up displaced.  Which would leave it in Pending state.

I think you're right that you probably were seeing multiple issues.  Some were fixed by updating priority-class, but others likely were fixed through the v0.8.2 release.

Let me know if we can close this out.  Than

[2022-04-21 00:02] dewjam commented on #1683
Hey @devopsjnr ,
Are the nodes being terminated right away?  If not, then you should be able to connect to a node via the AWS Console and SSM to do some troubleshooting (or perhaps SSH).

[2022-04-21 07:58] infestonn commented on #1684
I was not quite right. Running a deployment with init container whose exit status is unsuccessful results in restarting init container as it should (https://kubernetes.io/docs/concepts/workloads/pods/init-containers/)
Whereas _istio-validation_ container fails with a bit different status – `Init:ContainerStatusUnknown` and a message: "The container could not be located when the pod was terminated"

[2022-04-21 14:08] Cagafuego commented on #1327
Just wanted to chime in on this with a use case I have, hope that is ok. We are setting up a multi-architecture cluster that supports both amd64 and arm64. Because of certain requirements we have on our end, we have to use custom launch templates and cannot allow Karpenter to generate them for us. Since we want to use multiple architectures, we then need to have multiple launch templates since the

[2022-04-21 14:17] stevehipwell commented on #1327
@Cagafuego I think there is a discussion somewhere with requests to move capabilities out of custom LTs you might want to add your requirements there?

[2022-04-21 14:20] tzneal commented on #1327
Thanks @stevehipwell  Yes, there is a PR with a doc at https://github.com/aws/karpenter/pull/1691 that talks about what we are looking at exposing to hopefully eliminate the need to use custom LTs.  Feel free to add questions/comments there.

Ping @suket22

[2022-04-21 16:45] snorlaX-sleeps commented on #1649
Thanks for your help with this @dewjam, sorry for making you test stuff yesterday :(
Thanks for releasing v0.8.2 so quick, I will close this out

[2022-04-21 16:48] tzneal commented on #1706
To clarify, the launch template deletion is now working, but you've got an error regarding " Failed to get lease"?

[2022-04-21 17:14] #610 closed

[2022-04-21 17:58] bwagner5 opened #1710 "Show runtime defaults in Status field of the Provisioner"
**Tell us about your request**

Some fields in the Provisioner spec  (specifically the AWS Cloud Provider), are runtime defaulted, meaning that Karpenter assumes a default value at runtime rather than persisting the default using a mutating webhook on provisioner creation. Some examples are `BlockDeviceMappings`, `AMIFamily`, and `MetadataOptions`.

We should add the resolved runtime defaults to t

[2022-04-21 18:07] bwagner5 commented on #1710
https://github.com/aws/karpenter/issues/1449

[2022-04-21 18:07] #1449 closed

[2022-04-21 18:29] devopsjnr commented on #1706
I had “failed to get lease” before I added the lt deletion. Now lt is deletes but “failed to get lease” left.
thanks !

[2022-04-21 20:13] ellistarn commented on #1059
Closing as duplicate https://github.com/aws/karpenter/issues/1044. We're working on this.

[2022-04-21 20:13] #1059 closed

[2022-04-22 09:34] infestonn commented on #1684
The question "why a pod doesn't scheduled on an empty node" is still opened.

[2022-04-22 15:13] dewjam commented on #1639
I did some testing and found that the [PR mentioned above](https://github.com/containerd/containerd/pull/6702) improves containerd image pull performance considerably when merged into the release/1.5 branch.  As such, I'm planning to cut a PR to back-port the fix to containerd-1.5.x.

---

The issue manifests when many pods are scheduled on a single node at one time which all use the same image.

[2022-04-22 15:19] tzneal commented on #1684
@infestonn Is this a node that has not become ready yet, or an existing ready node in your cluster?  If it's an existing ready node in your cluster, then kube-scheduler is responsible for scheduling those pods.  You can look at the output of `kubectl describe pod pod-name` to see why it failed to schedule.

[2022-04-22 17:26] infestonn commented on #1684
Existing ones.
I agree with you that kube-scheduler is responsible for that. But Im afraid I cannot get any useful info from describing a pod. Once init container fails the pod dies and replicaset controller creates a new one, which is picked by the karpenter and instantly bounds it to a new node. I wonder if there is any mechanism in karpenter which somehow breaks a regular k8s scheduling workflo

[2022-04-23 01:11] DWSR opened #1716 "Automatic Update of Nodes"
**Tell us about your request**

As a cluster operator, when a new AMI version is released for my cluster, Karpenter should slowly and gracefully update all nodes to the latest version without waiting for the node TTL

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I'd like to ensure that OS updates are applied to our clusters as soon as possibl

[2022-04-24 11:09] #1630 closed

[2022-04-24 12:59] HazoomExpert opened #1718 "spot market recovers"
I'm looking to deploy the solution in our environment. I tested our setup in production and when the spot market fails the autoscaler will automatically launch on-demand instances.

The question is will Karpenter migrate the cluster back to spots automatically once the spot market recovers?
Our current configuration was tested and indeed the cluster moved back to spots automatically once they were

[2022-04-24 14:48] devopsjnr commented on #1706
@tzneal any suggestion ?

[2022-04-24 17:17] tzneal commented on #1706
Can you post the kubelet logs?  Also, what method did you use for installation/configuration, eksctl or terraform?

[2022-04-25 12:33] sagi-shimoni commented on #1621
issue was resolved in v0.8.0
thank you!

[2022-04-25 12:33] #1621 closed

[2022-04-25 12:54] tzneal commented on #1718
Karpenter tracks the availability of instance types and records that they are unavailable for a period of time to avoid retrying them.  Once this period expires, they are eligible to be launched again.  In this way, if a particular instance type becomes unavailable Karpenter will eventually retry it.  However it does not automatically terminate existing nodes to replace them unless you use somethi

[2022-04-25 14:10] ryan4yin commented on #1091
We alose need this feature, the cluster's cost increase when we migrate to karpenter due to the increased nodes count.

In our scenario, we use karpenter in a EMR on EKS cluster, which creates CR on EKS cluster and  those CR will create pods, we can not just add a poddisruptionbudgets for those workloads simply.

[2022-04-25 14:47] tzneal commented on #1703
Cluster state with fixes was merged.

[2022-04-25 14:47] #1703 closed

[2022-04-25 19:34] tzneal commented on #1684
There shouldn't be, does describing the pod not show any events?

[2022-04-25 21:10] spring1843 commented on #1459
We are considering the option of not-binding, and that should help with this and a few other issues.

[2022-04-25 21:12] njtran opened #1723 "Karpenter Helm Deployment Default to more than 1 replica"
**Tell us about your request**
Karpenter's default deployment spec only creates one replica of the Karpenter controller pod. Karpenter's deployment should default to more replicas to reduce the chances that the Karpenter controller pod isn't scheduled and thus won't work.  This should work in the repo now, just need to change documentation.

**Additional context**
May need to consider changing the

[2022-04-26 00:45] amansaini46 opened #1724 "Unable to create DaemonSet that connect to docker endpoint"
## Version

**Karpenter**: v0.0.0

**Kubernetes**: v1.0.0

## Expected Behavior

I'm unable to deploy papertrail on node created by the Karpenter autoscaler. However, if i deploy the papertrail demonset on the managed nodegroup it works.

Error logs
2022/04/25 23:51:36 # jobs    : pump routes http[routes,health,logs]:80
2022/04/25 23:51:36 # routes  :
2022/04/25 23:51:36 pump ended: cannot connect

[2022-04-26 04:18] dmitry-mightydevops commented on #1391
I ran into the same issue with karpenter
version of the provider: 4.22
Used this terraform solution as an example and starting point: https://github.com/terraform-aws-modules/terraform-aws-eks/tree/v18.20.2/examples/karpenter

This is what I see in AWA GUI:
![image](https://user-images.githubusercontent.com/70822710/165219666-6cc5c847-4d6a-4f42-aa24-77781338ec0e.png)

And Karpenter controller is t

[2022-04-26 08:13] infestonn commented on #1684
Here's an example of a pod's events
[code]

[2022-04-26 10:29] eminalemdar commented on #995
I believe so. If Karpenter now has a proper Cleanup process for LTs, then this issue can be closed.

[2022-04-26 12:38] tzneal commented on #995
Karpenter periodically cleans up old launch templates, but it doesn't delete them all upon an uninstall. I think that is what this issue is referring to.

[2022-04-26 12:41] tzneal commented on #1724
Karpenter uses containerd as the container runtime by default except for a few special cases.  Does papertrail work with containerd?

[2022-04-26 12:54] tzneal commented on #1684
Is there a helm deployment I can use to try to replicate this? Those events make it look like the pod is going to run as the last message is about pulling the image.

[2022-04-26 13:29] infestonn commented on #1684
The pod does run. The issue here is that it fails and controller creates a new one.
The status of **istio-validation** container right after it exists with error.
[code]
`The container could not be located when the pod was terminated` I believe this is the root cause why `restartPolicy: Always` doesn't work.

I also had a try to workaround this by adding a delay to _calico-node_ pod, so my newly j

[2022-04-26 13:45] infestonn commented on #1684
The pod does run. The issue here is that it fails and controller creates a new one.
The status of **istio-validation** container right after it exists with error.
[code]
`The container could not be located when the pod was terminated` I believe this is the root cause why `restartPolicy: Always` doesn't work.

I also had a try to workaround this by adding a delay to _calico-node_ pod, so my newly j

[2022-04-26 14:14] dewjam commented on #1683
Hello @devopsjnr ,
Is this still an issue?  If you are looking for EKS security group requirements, this is a good reference:  https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html (specifically the "Cluster Security Group" section).

[2022-04-26 14:44] dewjam commented on #1252
Great, glad to hear the workaround is working @tomerpeer63 !

Quick update on our efforts towards a permanent fix.  We were working towards implementing a fix in the aws-vpc-resource-controller (https://github.com/aws/amazon-vpc-resource-controller-k8s/pull/103), but have shifted efforts to looking into removing the "early binding" capability Karpenter uses to assign pods to nodes.  Without early

[2022-04-26 14:49] dewjam commented on #1488
It seems as if the original purpose of this issue has been resolved.  I'm going to go ahead and close this out, but please feel free to reopen if you disagree :).

[2022-04-26 14:49] #1488 closed

[2022-04-26 15:03] vumdao commented on #1634
I faced this issue and fixed it. In my case, it was due to the karpenter node had not been allow traffic to ECR service endpint which is put in private network.

How did I figureout the rootcause? Reference to [Troubleshoot Karpenter Node](https://dev.to/aws-builders/troubleshoot-karpenter-node-44p0)

[2022-04-26 16:06] kbiton opened #1728 "Enhance resources limit constraint consistency"
**Tell us about your request**
Enhance ["spec.limits.resources"](https://karpenter.sh/preview/tasks/set-resource-limits/) provisioner resource limiter to be geared towards stronger consistency

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
Karpenter's resources limit checking is eventually consistent, which can result in overrun of compute res

[2022-04-26 16:12] rothgar commented on #1309
I like this idea because other systems have worked in similar ways (e.g. CoreOS)

Is the main goal is to have production stability? I'm assuming you would want a dev environment to use newest available image and production to use the AMI after it has been used/trusted for some time. Ideally this would be through a promotion process of the AMI itself.

Without AMI channels would it be enough to hav

[2022-04-26 16:16] rothgar commented on #1309
If AMI release skew (or whatever we call it) works then it would be possible to do this at the provisioner level and you could mix and match AMI releases in the same cluster. So you could have one deployment use something like the "beta" provisioner with the latest AMI and labels/taints added to the nodes so workloads could opt-in to using those nodes.

[2022-04-26 16:22] rayterrill commented on #1309
PROD stability is indeed the goal.

We'd really rather not maintain our own parameter store or launch templates. Ideally - we'd love for AWS to publish AMI channels, with documentation around it (what it means to be in each of the channels so we can choose appropriately). Karpenter is such a good tool - we're trying to use it to offload more of this work to AWS.

We'd likely set PROD to stable (an

[2022-04-26 16:48] rayterrill commented on #1309
Both of those would work for us! Thanks @rothgar !

[2022-04-26 20:12] njtran commented on #1728
The `spec.limits` only block provisioning when the existing capacity is over any of the specified `spec.limits.resources`.

I can imagine this isn't what you would want in the following case:
- `10` unschedulable pods are created requesting `10` total cpu (1 each)
- `spec.limits.resources.cpu = 15`, but there's already `5` cpu of provisioned capacity
- Karpenter needs to create a node that has at

[2022-04-26 21:52] dmitry-mightydevops commented on #1634
I had exactly the same issue, but my problem was that I mixed karpenter + managed eks groups (intentionally) and then my tag value for Provisioner.spec.provider.securityGroupSelector was selecting only "partial" of security groups, which resulted that the new node had NO security group which allows communication with the control plane of the cluster. Once I fixed it - everything worked like a char

[2022-04-27 13:10] aliusmiles opened #1729 "Webhook is causing random diff for provisioner's server-side apply"
## Version

**Karpenter**: v0.9.0

**Kubernetes**: v1.22.6-eks-7d68063

## Expected Behavior

No diffs for provisoner's server-side apply.

## Actual Behavior

Provisioner created with FluxCD or with kubectl but with removed last-applied-configuration annotation is randomly showing diffs for `kubectl diff` due to constantly changing order of list items in `requirements`. (diff result provided belo

[2022-04-27 13:17] aliusmiles commented on #1729
UPD: traced it specifically to MutatingWebhookConfiguration `defaulting.webhook.provisioners.karpenter.sh`: removing other webhooks still produced diffs, only stopped after removing this one.

[2022-04-27 13:55] bwmetcalf opened #1730 "Karpenter exceeding memory limits"
## Version
**Karpenter**: v0.7.2
**Kubernetes**: v1.22

## Expected Behavior
Karpenter would refuse to provision a new node based on memory limit of 50Gi

## Actual Behavior
Karpenter exceeds memory limit
[code]

[2022-04-27 14:45] bwmetcalf commented on #1730
Perhaps a red herring, but I think it's worth noting that even after deploying a new provisioner configuration with 50Gi as the memory limit, karpenter would refuse to spin up a new node until the pod was restarted:
[code]
After the restart, we found karpenter is exceeding the memory limit of 50Gi.

[2022-04-27 17:34] bwmetcalf commented on #1730
I did further testing and I _think_ what may have happened is this.  When karpenter was reporting the error that it could not launch a new node and while a helm deploy was running with pending pods, I restarted the karpenter pod.  I'm guessing is that when the pod restarted _and_ before karpenter was able to obtain current usage stats, it spun up a new node which exceed the limit.

If this is the

[2022-04-27 17:48] spring1843 commented on #1716
This is a duplicate of https://github.com/aws/karpenter/issues/1018

[2022-04-27 17:54] DWSR commented on #1716
I disagree that this is a duplicate. My proposal is about Karpenter periodically checking for a new AMI when using `amiFamily` and automatically rolling nodes over when a new one is found. In this scenario, there is no change to the Provisioner spec.

The linked issue (and issues linked from it) talk about reconciling nodes when the spec of the Provisioner that spawned them is updated.

[2022-04-27 18:26] bwagner5 commented on #1716
I think this issue is a part of what is being discussed here: https://github.com/aws/karpenter/issues/1457

[2022-04-27 19:25] njtran commented on #1716
Hey @DWSR, you’re right that these issues are different, but they are all related.

https://github.com/aws/karpenter/issues/1457 asks for a feature to reconcile nodes that are out of spec of the provisioner.
https://github.com/aws/karpenter/issues/1018 proposes a solution to rate-limit node rolling taking the assumption that Karpenter does the behavior specified in #1457.

This issue seems to ask

[2022-04-27 21:00] DWSR commented on #1716
I think aggregating all of the issues together makes lots of sense. I just disagree that it's been covered by the existing issues.

@bwagner5 The difference between #1457 and this request is that #1457 specifically mentions nodes that are "out of spec". In the scenario I am describing, the nodes are still technically "within spec" because they are using the correct AMI family, etc.

[2022-04-27 23:07] spring1843 commented on #1730
@bwmetcalf is there a chance you could try this with newer versions? Also do you mind sharing the rest of your provisioner?

Are you referring to the karpenter pod here?

[2022-04-28 00:07] spring1843 commented on #1730
I wasn't able to reproduce Karpenter exceeding the memory limit after modifying the provisioner, and restarting the Karpenter pod. I'm going to look further into the idea that Karpenter may launch a new node before the stats are ready.

Lets summarize the steps to reproduce:
1. The limit was 32Gi and Karpenter was working correctly by not launching new instances
2. The limit was changed to 50Gi Ka

[2022-04-28 12:49] Skarlso opened #1734 "Add a release trigger to create eksctl issue for upgrading minor version support"
**Tell us about your request**

A feature / automated process / github action which creates an issue in the eksctl repository if a new minor version is available compared to the previous release.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

Since Karpenter is very much in flux, `eksctl` pinned support to minor versions to prevent people fro

[2022-04-28 12:57] trondhindenes opened #1735 "taints dont work as expected"
## Version
**Karpenter**: v0.90.0
**Kubernetes**: v1.21.0

## Expected Behavior
the example should work

## Actual Behavior
Using the example from the doc does not work:

provisioner:
[code]
deployment:
[code]

## Steps to Reproduce the Problem
Use the example for the documentation, karpenter controller logs:
[code]

it looks to me like only taints without `value` set will work, which is just a su

[2022-04-28 13:23] tzneal commented on #1735
I can't reproduce this locally.  Using a provisioner with this taint:

[code]

Scaling this deployment caused a node to be launched:
[code]

I tested separately with an alternate toleration, which worked as well:

[code]
I submitted a PR to fix the docs issue.

Can you provide the provisioner spec and deployment YAML that you expect to work, but which aren't?

[2022-04-28 13:29] trondhindenes commented on #1735
that's very strange. Thanks for checking. Will double-check and report back.

[2022-04-28 13:51] infestonn commented on #1684
@tzneal
Im unable to fully reproduce the issue 😞 But the overall situation is more clear to me now. I know what exactly makes pods to fail – race condition described [here](https://istio.io/v1.12/docs/setup/additional-setup/cni/#install-istio-with-cni-plugin)

We have istio installed with CNI
[code]

So this flag `deletePods: true` does exactly what it must do. Changing it to `false` does not help

[2022-04-28 15:04] #1729 closed

[2022-04-28 15:05] tzneal commented on #1735
@trondhindenes I'll go ahead and close this since the doc PR is merged, but feel free to re-open if you run into any problems or notice an issue.

[2022-04-28 15:05] #1735 closed

[2022-04-28 15:30] tzneal commented on #1684
@infestonn I think this is similar to a Cilium issue that we are looking at ways to solve.  Cilium wants a taint to be placed on the node at startup, and then it removes the taint when the node is ready.  Can Istio notify us by removing a taint? Or does it just use node readiness?

Related: https://github.com/aws/karpenter/pull/1727

[2022-04-28 17:18] spring1843 commented on #1734
That sounds like a good idea, I am doing some work with regards to releases and it includes publishing events like you suggested for all the interested parties to react to our releases.

[2022-04-28 17:51] bwmetcalf commented on #1730
@spring1843 Yes, restarting the karpenter pod.  We are going to upgrade karpenter in our next sprint and I'll try to reproduce with the newer version.

[2022-04-28 17:52] bwmetcalf commented on #1730
The summary is correct and per my last comment we are going to upgrade in the next few days.  Thanks for looking into this.

[2022-04-28 17:59] njtran commented on #1376
This is mostly done. The last topic is the following which is being tracked in https://github.com/aws/karpenter/issues/1327. Closing in favor of that.

[2022-04-28 17:59] #1376 closed

[2022-04-28 18:11] njtran opened #1738 "Mega Issue: Deprovisioning Controls"
**Tell us about your request**
Karpenter provisions nodes and deprovisions nodes as described in the [docs](https://karpenter.sh/preview/concepts/deprovisioning/).

Some users are asking for more control on how to specify when Karpenter should disrupt nodes, and controls on how to rate-limit these disruptions. Opening this issue to aggregate the existing issues.

**Tell us about the problem you're

[2022-04-28 18:12] njtran commented on #1716
@DWSR: Opened #1738

[2022-04-28 18:48] Skarlso commented on #1734
Sounds awesome! Just what we need. :)

[2022-04-28 18:54] spring1843 commented on #1730
Regarding the limit check happening before the stats are ready, it seems like [those two events are sequential](https://github.com/aws/karpenter/blob/398e54295e8137af7ce0ce1c356185981a60299d/pkg/controllers/provisioning/provisioner.go#L200) and limit checking won't happen until there are stats.

[2022-04-29 06:05] infestonn commented on #1684
From my knowledge it relies on node readiness.
A main CNI(calico, aws-cni etc.) is in charge of network configuration on a node and [updates](https://github.com/projectcalico/node/pull/89/files#diff-244376dc6c04bdf11d9ce3ce4af468ade1982f194ecc6757e8b5e9ebedfa1805R1078) node status when it is ready. Only after that as a [chained cni](https://istio.io/v1.12/docs/setup/additional-setup/cni/), istio p

[2022-04-29 15:03] tzneal commented on #933
Covered in docs now and there is a method to do this using block settings instead of requiring the custom launch template as well.

[2022-04-29 15:03] #933 closed

[2022-04-29 18:08] spring1843 commented on #1730
I can confirm Karpenter may sometimes exceed the limits. Currently the limit evaluation happens prior to launching a new node. If the limits are not currently exceeded then Karpenter may launch a new node that causes the limits to be exceeded.

For example let's say the current memory usage is 5Gi and the limit is 6Gi, Karpenter may launch a node that has 2Gi of memory making the total usage 7Gi.

[2022-04-29 18:44] njtran commented on #1730
IIUC, this is due to our limits not being hard limits. If https://github.com/aws/karpenter/issues/1728 is implemented, this bug shouldn't happen. Can we close this in favor of #1728?

[2022-04-29 19:13] tzneal commented on #1684
@infestonn Thanks for the info.  We are actively investigating not binding pods to nodes.  In this case, we would just launch the node and allow kube-scheduler to bind pods after the node has become ready.  It should avoid the issue that you are seeing where the pod is bound before the node is ready and initialization fails.

[2022-04-29 19:42] bwmetcalf commented on #1730
Yeah, let's close this issue.  After we upgrade, I'll open a more specific issue for karpenter not picking up new provisioner settings if we still encounter this issue.

[2022-04-29 19:42] #1730 closed

[2022-04-30 19:09] amansaini46 commented on #1724
Thank you for your help. I was able to resolve the paper trail issue by switching to rkubelog (https://github.com/solarwinds/rkubelog) from logspout.  rkubelog supports containerd.

[2022-04-30 19:30] tzneal commented on #1724
Glad to hear it!

[2022-04-30 19:30] #1724 closed

[2022-04-30 19:38] tzneal commented on #1556
Should be fixed as of https://github.com/aws/karpenter/pull/1715

[2022-04-30 19:38] #1556 closed

[2022-05-01 12:29] olemarkus opened #1743 "Karpenter webhook panics trying to hydrate cache"
## Version

**Karpenter**: v0.9.0

**Kubernetes**: v1.23.6

## Expected Behavior

Karpenter webhook to start

## Actual Behavior

Karpenter webhook crashes with the following:
[code]

It's worth nothing that the controller starts just fine:

[code]

## Steps to Reproduce the Problem
This seems to happen just by running the Pod. No particular steps taken

## Resource Specs and Logs
It seems like th

[2022-05-01 15:02] devopsjnr commented on #1706
Changing the security group solved the issue. Thanks all.

[2022-05-01 15:02] #1706 closed

[2022-05-01 15:02] devopsjnr commented on #1683
upgraded to latest version. Problem solved, thanks all.

[2022-05-01 15:04] #1683 closed

[2022-05-01 15:28] devopsjnr opened #1744 "No logs appear in logLevel: error | v0.8.2"
**Karpenter**: v0.8.2

**Kubernetes**: v1.21.5

Hi guys, I upgraded to v0.8.2 and I cannot see any logs when I change logLevel to `error`. Logs will be seen only in `debug`.

The installation has been done through terraform with changing log level from there:
[code]

I can see in config-logging that `level` was changed to `error`:

[code]

When following the logs after applying the logLevel change

[2022-05-02 00:14] triceras commented on #1452
I am curious to know did you fix coredns as I am facing similar issue.

[2022-05-02 05:07] nikoul commented on #1452
I had some taints and labels on my nodes that weren't explicitly allowed in the coredns deployment. That's why coredns pods were always pending. So I used node affinity and tolerations.

[2022-05-02 12:12] #1586 closed

[2022-05-02 12:12] #1527 closed

[2022-05-02 12:12] #1501 closed

[2022-05-02 12:12] #1337 closed

[2022-05-02 12:12] #1283 closed

[2022-05-02 12:12] #1281 closed

[2022-05-02 12:30] macdrorepo commented on #933
Helo, I've found updated docs but they are not clear. https://karpenter.sh/v0.9.0/troubleshooting/#node-terminates-before-ready-on-failed-encrypted-ebs-volume
Where mentioned policy should be applied? To KMS key used in lauch template, or attached to controller role ? @tzneal

[2022-05-02 14:41] bwagner5 commented on #933
Hey @macdrorepo , the policy mentioned in the troubleshooting docs is applied on the KMS key.

[2022-05-02 15:04] dewjam commented on #1744
Hey @devopsjnr ,
This is actually by design assuming Karpenter is functioning correctly.  At ERROR log level you will not see logs emitted with the INFO or DEBUG log level.  You should only see logs which are at severity of ERROR or greater.

I'm curious if the INFO level is a better fit for what you're expecting to see in logs.  Or can you share what you were expecting to see in the logs at ERROR

[2022-05-02 16:18] bwagner5 commented on #1743
We've seen reports of this happening sporadically. Does the webhook recover on a restart?

[2022-05-02 16:21] macdrorepo commented on #933
Thank you. Last question - what will be Principal which is currently missing under "" in the first statement? That would be controller role ?

[2022-05-02 16:32] olemarkus commented on #1743
No, I have yet to see it succeed.

[2022-05-02 16:52] bwagner5 commented on #1743
Ok, interesting, I'll have to try to reproduce this consistently. It's also not even necessary for the webhook controller to hydrate the LT cache, so we should definitely remove that.

[2022-05-02 17:20] spring1843 commented on #1743
Are you able to see this debug message? "[Hydrating the launch template cache with names matching](https://github.com/aws/karpenter/blob/bc2273f3ef1c0f17344811c1e60a7f51af4f1dcd/pkg/cloudprovider/aws/launchtemplate.go#L220)" in the logs?

It should tell you what launch template it's trying to read, and then you can validate if it exists or not.

[2022-05-02 17:26] olemarkus commented on #1743
As mentioned, the logging setup hasn't happened yet at the time it crashes.

[2022-05-02 17:44] spring1843 commented on #1744
@dewjam is correct. To ensure logs would show up if there are errors you can cause a fake error, e.g. you can rename one of the many values in the provisioner to a fake one.

[2022-05-02 17:50] spring1843 commented on #1743
It seems like the logger would have been set [before calling the hydrate function](https://github.com/aws/karpenter/blob/bc2273f3ef1c0f17344811c1e60a7f51af4f1dcd/pkg/cloudprovider/aws/launchtemplate.go#L63), if you are not seeing any logs it could be because the log level is not set to Debug.

[2022-05-02 17:58] olemarkus commented on #1743
Logger is setup in `MainWithConfig`. That line you linked to just sets the object.

In the main controller you will see this code extracted into `LoggingContextOrDie`, but the same code does not exist for the webhook.

[2022-05-02 20:33] rohitjha941 commented on #1365
I want to be able to run Karpenter on EKS Fargate as a Permanent Place, I have tried placing karpenter on Fargate, but It does not seem to work. How can I debug this ?

[2022-05-02 23:09] devopsjnr commented on #1744
when I choose logLevel to error, I expect to log in all levels including ERROR logs.
Currently if I set logLevel to error, no logs appear at all, nothing. although I caused errors deliberately.
I saw now that if I leave logLevel as debug, I see all kinds of logs - including ERROR logs. Why is that?

[2022-05-02 23:19] devopsjnr opened #1748 "Instance profile InvalidParameterValue"
**Karpenter**: v0.8.2

**Kubernetes**: v1.21.5

I created an instance profile (with terraform) which I proved that works properly on my cluster. This instance profile contains exactly what mentioned in the guide.
Only the name of the instance profile is `instance-profile-483980943424`.

*Note that I have already used an instance profile with a different name as presented in the guide, with a littl

[2022-05-03 03:09] bwagner5 commented on #1748
can you try using `set_string` rather than `set` ?

Here's an example:
https://registry.terraform.io/providers/hashicorp/helm/0.10.6/docs/resources/release#:~:text=set_string%20%7B%0A%20%20%20%20name%20%20%3D%20%22service.annotations.prometheus%5C%5C.io/port%22%0A%20%20%20%20value%20%3D%20%229127%22%0A%20%20%7D

[2022-05-03 03:31] bwagner5 commented on #1744
Generally, log levels only show logs at that level and "worse". Here's a table that might make this clearer:

[code]
https://pkg.go.dev/go.uber.org/zap#pkg-constants

So when you set the logger to ERROR, you'll only see things logged at ERROR, PANIC, and FATAL.  If DEBUG logs are showing you too much, you probably want to set your logger at INFO. INFO will show you everything at INFO, WARN, ERROR,

[2022-05-03 18:21] devopsjnr commented on #1744
@bwagner5  Got it, thanks a lot!!

[2022-05-03 18:21] #1744 closed

[2022-05-03 18:53] devopsjnr opened #1753 "Edit Karpenter helm chart through Terraform"
Hi, I am installing Karpenter with Terraform and would like Karpenter to live on a separated node group.
I already created the Node Group but I am getting hard time trying add `nodeSelector` and `tolerations` through the helm_release module that given in the Terraform documentation of Karpenter installation.

`nodeSelector` is map type
`tolerations` is array type

this is the way I define then in

[2022-05-03 18:55] devopsjnr commented on #1748
@bwagner5  thanks! I have another issue regarding helm_release, I opened a different thread: https://github.com/aws/karpenter/issues/1753

I would be grateful to get your advise there too :)

[2022-05-03 19:04] tzneal commented on #1044
Fixed with #1727

[2022-05-03 20:26] #1748 closed

[2022-05-04 03:37] teochenglim opened #1755 "Allow flexible labels type for Provisioner"
## Expected Behavior
Please allow Provisioner spec.labels to have space in both and key and values.
Please allow Provisioner spec.labels to have @ in values so that we can put email as values

sample labels I need

[code]

## Actual Behavior

### error to add Owner: "tech@thunes.com"

for: "spot.yml": admission webhook "validation.webhook.provisioners.karpenter.sh" denied the request: validation f

[2022-05-04 04:34] bala151187 opened #1756 "Setup karpenter using eksctl"
Following this document to setup - https://karpenter.sh/v0.9.1/getting-started/getting-started-with-eksctl/
Just copy pasted all the command from above site

I see new instance coming up and getting terminated as soon as it get spin up.
karpenter version - v9.0.1

[code]

I manually created an instance using the lauchtemplate created by eksctl and got into the box for troubleshooting .
i saw kubel

[2022-05-04 06:10] spring1843 commented on #1730
@bwmetcalf Thanks for reporting that issue. I can confirm that part of the problem here where changes to the provisioner would not get updated in Karpenter has been fixed by https://github.com/aws/karpenter/pull/1673 so an upgrade to the latest version would fix that.

[2022-05-04 07:32] dotanalter opened #1758 "Multiple Provisioners"
## Version
**Karpenter**: v0.9.1
**Kubernetes**: any version

## Expected Behavior
From the docs FAQ page we have the following statement:
"By default, pods will use the rules defined by a provisioner named default. This is analogous to the default scheduler. To select an alternative provisioner, use the node selector karpenter.sh/provisioner-name: alternative-provisioner. You must either define a

[2022-05-04 11:51] devopsjnr opened #1759 "limit number of pods in a single node"
**Karpenter**: v0.8.2

**Kubernetes**: v1.21.5

I am not specifying requests and limits in my containers so scheduled pods are coming without requests and limits (I am aware that it is not the proper way to manage a cluster).
From the provisioner I specified cpu & memory limits so I expect Karpenter to create new nodes if the others exceeded those limits.

Although the limits I defined in the prov

[2022-05-04 12:48] tzneal commented on #1756
What does your provisioner spec look like?

[2022-05-04 13:02] tzneal commented on #1758
Sorry, that appears to be an error in the docs.  I'm not sure if Karpenter has ever had that behavior.  If multiple provisioners match, it used to pick the first one sorted alphabetically.

From the best practices guide, we recommend [mutually exclusive provisioners](https://aws.github.io/aws-eks-best-practices/karpenter/#create-provisioners-that-are-mutually-exclusive).

Karpenter currently sched

[2022-05-04 13:42] macdrorepo opened #1760 "Ec2 node gets deleted right after it was created"
**Karpenter**: v9.0.0

Server Version: version.Info{Major:"1", Minor:"22+"}

## Expected Behavior
Deploy EC2 spot nodes

## Actual Behavior
Node been deployed but right after it is deleted.

## Steps to Reproduce the Problem
I'm deploying cluster, node group, helm chart through AWS CDK (python). Using custom AMI with launch template.

## Resource Specs and Logs

Logs from karpenter controller:

20

[2022-05-04 14:45] bwagner5 commented on #1755
Hi @teochenglim , unfortunately this is a K8s validation that Karpenter does not control. Take a look at the upstream docs on labels here: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

[2022-05-04 14:45] #1755 closed

[2022-05-04 17:38] rohitjha941 opened #1762 "[Help] Running Karpenter on Fargate"
### What am I trying to do?
I am trying to run Karpenter on Fargate.  The idea is to have Karpenter running all the time on Fargate and running all the workload on EC2 SPOT. As this is Development Environment, Interruptions are not an issue.

### What help do you need?
I am getting the following error.
[code]
###  My Configuation

[code]

[2022-05-04 18:41] bwagner5 commented on #1756
It looks like the log snippet you posted shows a node being provisioned and then a different node being cordoned and then terminated:

[code]

You can set termination-protection on the backing instance to prevent the instance from being terminated so that you can investigate the logs. Here are some commands that should help.

[code]

[2022-05-04 19:14] chrisnegus opened #1763 "Recommend that Karpenter run on Fargate"
**Is an existing page relevant?**
Yes, the Karpenter getting started guides.

Also, review the wording related to this issue in the [Karpenter Best Practices](https://aws.github.io/aws-eks-best-practices/karpenter/#run-the-karpenter-controller-on-eks-fargate-or-on-a-worker-node-that-belongs-to-a-node-group) guide.

**What karpenter features are relevant?**
How to run the Karpenter controller secur

[2022-05-04 19:48] prateekgogia opened #1764 "Nodes(t2.large) fail to provision when there are daemon sets with similar label requirements"
## Version

**Karpenter**: v0.9.0

**Kubernetes**: v1.21

## Expected Behavior

I expected a t2.large node to be provisioned when there is a pending pod and the pod has an instance based node selector. However the pod stayed pending and no node was provisioned.

## Actual Behavior

Tried provisioning t2.large instance types for a set of pods and Karpenter failed to provision these nodes in some ca

[2022-05-04 22:32] tzneal commented on #1759
I think resource requests and resource limits on your workloads is the correct answer here.  Without these, Karpenter doesn't know which size of instance to launch.  Karpenter is not scheduling the pods on existing nodes, that is kube-scheduler. If your pods have no resources/requests, then kube-scheduler will schedule far more on a node than you likely intend as well.

[2022-05-04 23:15] bwagner5 commented on #1762
Hey there! You'll need to specify the instance profile for the nodes that Karpenter will provision. You can do that via the helm value:

[code]

which will use that instance profile by default for all provisioners unless a provisioner overrides it in the provisioner spec. If you don't specify the instance profile in helm, you'll need to set it in the Provisioner spec.

https://karpenter.sh/v0.9.1/

[2022-05-04 23:41] bwagner5 commented on #1753
I would guess you'd want to use the terraform `values` rather than `set`  to pass a yaml file instead.  But I'd agree with @dewjam that you probably want to ask the [Terraform Helm community](https://github.com/hashicorp/terraform-provider-helm/issues) for advice on this.

https://registry.terraform.io/providers/hashicorp/helm/latest/docs/resources/release

[2022-05-04 23:42] #1743 closed

[2022-05-04 23:57] #1044 closed

[2022-05-05 00:59] evandam opened #1766 "Provisioner name not showing in EC2 instance tags"
## Version

**Karpenter**: v0.9.1

**Kubernetes**: v1.22 (EKS)

## Expected Behavior
EC2 Instances provisioned with Karpenter are created with the tags as documented in https://karpenter.sh/v0.9.1/aws/provisioning/#tags. Same goes for the EBS volumes created.

Hoping I'm just missing something obvious in the docs but it doesn't seem like it.

[code]

## Actual Behavior

EC2 Instance tags:

[code]

[2022-05-05 01:58] tzneal commented on #1766
Great catch, thanks!

[2022-05-05 02:26] bwagner5 commented on #1760
[code]

Looks like it was only up for 20 seconds before being deleted. Can you post your provisioner spec?

Karpenter shouldn't terminate the node unless the `ttlSecondsUntilExpired` is set before the node is ready.

[2022-05-05 02:27] #1766 closed

[2022-05-05 05:14] macdrorepo commented on #1760
` karpenter_provisioner_manifest = cluster.add_manifest(
            "karpenter_manifest",
            {
                "apiVersion": "karpenter.sh/v1alpha5",
                "kind": "Provisioner",
                "metadata": {
                    "name": "default",
                },
                "spec": {
                    "ttlSecondsUntilExpired": 2592000,
                    "ttlSecondsA

[2022-05-05 06:08] rohitjha941 commented on #1762
Thanks, This solved the issue.

[2022-05-05 06:22] #1762 closed

[2022-05-05 09:16] trondhindenes commented on #1459
I'm seeing the same. We're setting the nvidia devide plugin pod to `system-node-critical` in hopes of forcing it to be fully loaded before the "workload pod" gets scheduled onto the node, but it doesn't seem to have an effect.

[2022-05-05 10:04] trondhindenes opened #1769 "evicted daemonset pod"
## Version
**Karpenter**: v0.9.1
**Kubernetes**: v1.21.0

## Expected Behavior
We're seeing that karpenter-provisioned nodes might evict daemonset pods to make room for the "workload pod". Is there a way to configure how much resource overhead karpenter should calculate with, in order to fit all daemonset pods?

## Actual Behavior
Daemonset pods get evicted because of memory pressure

## Steps to

[2022-05-05 12:37] tzneal commented on #1769
This can occur if your daemonset pods are of lower priority than your workload pods.  In this case, the kube-scheduler will evict a daemonset to let the workload run.  Karpenter won't launch a new node just for the DS.

Are your workloads higher priority than your daemonsets?

[2022-05-05 12:43] tzneal commented on #1459
This will sometimes work, the problem is that occasionally kubelet will zero-out the extended resources on startup, setting the number of GPUs to zero.  I am actively working on a solution for this.

[2022-05-05 15:48] bwagner5 commented on #1760
Is this the exact user-data you are using? If so, there's an issue in the line-breaks that may be causing the script arguments to not be passed to `bootstrap.sh` properly.  You may have just formatted it for readability in this issue, but if not, are you able to put `\` at the end of each line, like so?

[code]

If your node has permissions to call the EKS API, I believe the above, without `\` for

[2022-05-05 16:20] macdrorepo commented on #1760
Thank you, will check that. So in user data it is possible to have only:

[code]
and the rest is optional?

[2022-05-06 03:15] bala151187 commented on #1756
adding these permission was able to fix it .
[code]

[2022-05-06 04:35] #1756 closed

[2022-05-06 07:18] dmitry-mightydevops opened #1775 "unable to mount volume to the node (aws eks + aws ebs gp3)"
## Version

**Karpenter**: v0.9.0 installed via helm chart)
**Kubernetes**: v1.22 (AWS EKS)

## Expected Behavior
After starting the karpenter node the PVC should be mounted to that node and POD started

## Actual Behavior
- Karpenter node is created
- Volumes are created
- PV/PVC created
- PVC bound
- Node does not mount the created volumes
- POD is pending as it is unable to mount gp3 ebs pvc

!

[2022-05-06 08:47] iaacautomation commented on #942
Its also useful for elasticserach operator, if you create 3 node cluster topology spread can schedule 2,1 while preferred for HA is 1,1,1.

[2022-05-06 12:12] tzneal commented on #942
@iaacautomation Pod Affinity & Anti-Affinity support was released in v0.9.0.  Feel free to open a different issue if you are having problems with them.

[2022-05-06 15:30] chaitugsk07 opened #1777 "Karpenter support for eks ipv6"
**Is an existing page relevant?**

**What karpenter features are relevant?**

**How should the docs be improved?**
It would be great to have some documentation on karpenter for eks ipv6 cluster. Or may be a sample codebase

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original

[2022-05-06 19:50] bwagner5 commented on #1777
Hey thanks for raising this docs request. We're currently working on supporting ipv6 natively in Karpenter here https://github.com/aws/karpenter/pull/1605 once this PR is merged, we might be able to provide something in our getting started docs on how to use with IPv6.

[2022-05-08 06:22] dotanalter commented on #1758
Thanks for the explanation. Closing this one.

[2022-05-08 06:22] #1758 closed

[2022-05-08 12:49] trondhindenes commented on #1459
yeah, seeing the issue now. It seems to happen intermiddently, which is why we didn't catch it at first.

[2022-05-08 15:23] ssro opened #1778 "Karpenter 0.9.1 not assigning value for tag "karpenter.sh/provisioner-name""
## Version

**Karpenter**: v0.9.1

**Kubernetes**: v1.22.6-eks

## Expected Behavior
Karpenter should assing the default provisioner's name for `karpenter.sh/provisioner-name` tag

In version 0.9.1 this tag is empty
## Actual Behavior
In karpenter 0.9.0 after configuring and applying any provisioner, the tag `karpenter.sh/provisioner-name`, which was applied to the instances after launch had the v

[2022-05-09 01:31] jgournet commented on #1407
Not a super useful comment, but I just wanted to say:
Thanks for providing that solution !
We have the same issue, and that was VERY helpful

[2022-05-09 06:58] kayh-sportsbet commented on #1038
This might help https://github.com/aws-samples/cdk-eks-karpenter

[2022-05-09 06:59] kyhau commented on #1038
This might help https://github.com/aws-samples/cdk-eks-karpenter

[2022-05-09 10:40] lmouhib opened #1779 "Provisioning Configuration"
It would be good to have more details on the configuration API, what is required and what is not would be a good start/

[2022-05-09 12:30] tzneal commented on #1778
Thanks for the report, this is a duplicate of #1766 which was fixed.  It should be resolved in the release that will be made later today.

[2022-05-09 12:30] #1778 closed

[2022-05-09 12:33] alekc opened #1780 "Karpenter fails to provision new node for statefulset on m5.large instance type"
## Version

**Karpenter**: v0.9.1

Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.9-eks-14c7a48", GitCommit:"717bfb2b8ceb809a42a6c0baabde59fae28637ef", GitTreeState:"clean", BuildDate:"2022-04-01T03:17:28Z", GoVersion:"go1.16.12", Compiler:"gc", Platform:"linux/amd64"}

## Expected Behavior
Karpenter should provision a new node

## Actual Behavior
I have following 2 provisi

[2022-05-09 16:19] bwagner5 commented on #1780
Karpenter computes overhead to account for system daemons and kubelet reserved.

So an m5.large only has:
[code]

So the node would have a total of 6,770.6 MiB for bin-packing purposes. This doesn't include daemonsets that will be deployed to the node.

[2022-05-09 16:27] bwagner5 commented on #1779
Are you looking for something more than what this page describes? https://karpenter.sh/v0.9.1/provisioner/

[2022-05-09 16:36] lmouhib commented on #1779
Yes, one example, if we take the AWS provider it needs an SG, but in the documentation we do not specify it is mandatory, it will fail through the admission control. I do understand it is the SG that is attached to the provisioned EC2, but the documentation is not explicit about it. The SG is either provided through the manifest or the launch template.

[2022-05-09 20:01] bwagner5 commented on #1775
I'm not able to reproduce this... I created a gp3 `storageclass` just like yours, created a PVC that uses the gp3 storageclass and then created a deployment that uses the PVC and see that a node gets provisioned, PV is created, bounded, attached, and mounted.

[code]

[2022-05-09 20:04] bwagner5 commented on #1779
I see, maybe adding a full example with comments like we do for the Provisioner spec (without the provider) would be good.

[2022-05-09 20:11] Tasmana-banana opened #1783 "Controller no instance type satisfied resources"
## Version

**Karpenter**: v0.9.1

**Kubernetes**: v1.20.0

I used to use version 5.3 of the carpenter, but I decided it was time to upgrade. After a lot of configuration fixes, I ran into an error that I can not overcome ..
Please help in solving the problem, in which direction to look?

ansible template provisioner
[code]
try scale app to 3 pods, but have some errors:
[code]
upd. INstance create

[2022-05-09 20:20] Tasmana-banana commented on #1783
Simple test deployment
[code]

[2022-05-09 20:31] lmouhib commented on #1779
Either comments in a full example, like `#required` or  `#optional`. Or annotate the documentation itself if the doc generation allow it.

[2022-05-09 20:47] dewjam commented on #1783
Hello @Tasmana-banana ,
Do you have any DaemonSets running in this cluster which are also requesting CPU resources?

Karpenter will take into account the resources required by DaemonSets when scheduling pods.  If the sum of DaemonSet and Pod resources is greater than what's available in a t3a.medium then Karpenter will not be able to launch a node.

[2022-05-09 20:58] Tasmana-banana commented on #1783
Thanks for the answer @dewjam
No, it's new claster eks.

Outputs:
kubectl get daemonsets -A
[code]
kubectl get pods -A
[code]

[2022-05-09 21:38] dewjam commented on #1783
Would you mind providing the output of the below commands as well?

`kubectl get pods -A -o wide`

[2022-05-09 23:56] jinghea opened #1786 "Custom label for capacity-type."
**Tell us about your request**
Does Karpenter support or plan to support a custom label to indicate the current node is on-demand or spot instance?

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
For example, when we convert from cluster auto scaler, the label we use is:
node.kubernetes.io/lifecycle=on-demand
Is there a way to config in karpent

[2022-05-10 09:24] alekc commented on #1780
Fair enough. Looks like I've miscalculated overhead.

Closing this.

[2022-05-10 09:24] #1780 closed

[2022-05-10 11:28] Tasmana-banana commented on #1783
@dewjam
[code]

[2022-05-10 13:34] mandeepgoyat opened #1789 "Does Karpenter support Elastic GPUs ?"
Hi Team

I am trying karpenter now a days.

I have one query :- Does karpenter support Elastic GPUs ? I know karpenter support GPUs and I saw specs in karpenter documentation but I do not see anything related to Elastic GPUs. Like which property i should use to enable Elastic GPU etc..

Please share information related to Elastic GPU with Karpenter.

[2022-05-10 14:38] dewjam commented on #1783
Thanks @Tasmana-banana .  Unfortunately, I'm not able to reproduce this problem in my test setup.  Just so I fully understand the situation, I have a couple more questions.

1. You mentioned you upgraded Karpenter from 0.5.3 to 0.9.1 in this cluster.  Did you follow the upgrade guide [here](https://karpenter.sh/v0.9.1/upgrade-guide/#upgrading-to-v062)?

1. Looking at the output above, I see three

[2022-05-10 14:50] dewjam commented on #1775
Hey @dmitry-mightydevops ,
You may want to take a look at the [EBS CSI troubleshooting guide](https://aws.amazon.com/premiumsupport/knowledge-center/eks-troubleshoot-ebs-volume-mounts/) if you haven't already.

I'm specifically interested to see the logs from the EBS CSI controller pods.  Can you take a look and share your findings?

[2022-05-10 14:51] dewjam commented on #1769
Hey @trondhindenes ,
Were you able to validate the priority of your pods vs DaemonSets?  Is there anything else we can do to help with this issue?

[2022-05-10 14:52] dewjam commented on #1764
Hey @prateekgogia ,
Did you happen to try using multiple provisioners per the comment from @tzneal ?

[2022-05-10 14:55] dewjam commented on #1760
Hey @macdrorepo .  Checking in to see if you were able to solve the issue.  Let us know if there's anything else we can help with.

[2022-05-10 15:10] macdrorepo commented on #1760
Hi, I'm off for few days will be checking this next week

[2022-05-10 16:09] dewjam commented on #1639
The PR to back port the image pull performance fix to containerd-1.5.x was denied.  The fix was included in containerd-1.6.4, however, which I've briefly tested alongside k8s 1.21+.  I do not have a timeline for when containerd-1.6.x will built into the EKS Optimized AL2 image.

There are a few possible workarounds to the improve image pull performance in the meantime:

1. **Revert to Docker**
The

[2022-05-10 16:12] #1634 closed

[2022-05-10 16:21] dewjam commented on #1306
Closing this out in favor of #1329 .

[2022-05-10 16:21] #1306 closed

[2022-05-10 17:02] chrisnegus commented on #1779
I'm going to to the following:
* Create a full example provisioner in [AWS Provisioning](https://karpenter.sh/v0.9.1/aws/provisioning/) (like the one on [Provisioner API](https://karpenter.sh/v0.9.1/provisioner/)), with optional and required fields marked.
* Mark individual field descriptions on that page as required or optional.
* Describe why required fields are needed.
* Do similar to the descr

[2022-05-10 17:34] prateekgogia commented on #1764
Hi, for now I was able to reduce the resource requested in the daemonsets and didn't have to try multiple provisioners workaround.

[2022-05-10 18:09] Tasmana-banana commented on #1783
@dewjam
1. I set up a completely new cluster with two nodes in a node group and installed karpenter 0.9.1
Also, part playbook karpenter controller
[code]

2. No, the other two nodes are the Node group of my cluster.

[2022-05-10 18:15] macdrorepo commented on #1760
Found some time. Didn't help. My user data (no readability changes):

[code]
Provisioner taken from eks cluster:

[code]

[2022-05-10 19:50] thepinetree opened #1791 "Allow user-specified instance types to pass through filter"
**Tell us about your request**
The filter referenced in #1053 continues to be restrictive (e.g. the `i4` and `z1` instances classes are disallowed).

https://github.com/aws/karpenter/blob/ec2b5c021ca8baa2bebae36fac4f6c5969d2bfa3/pkg/cloudprovider/aws/instancetypes.go#L172

Ideally, as @bwagner5 mentioned in a comment on the aforementioned issue, it would be nice to allow instances specified by the

[2022-05-10 22:35] bwagner5 commented on #1791
Yes! Thanks for the issue! I just put up a PR to at least allow the use of any instance type that you directly specify in the provisioner spec.  I also set `i*` in the filter rather than just allowing `i3` before. I didn't include `z*` in the standard set, but you can set the provisioner to use `z1d` instance types which it will only use if no other instance types are available. There's probably s

[2022-05-10 22:38] bwagner5 commented on #1791
ah! I didn't even see the PR you submitted, apologies. I haven't taken a look at it yet, but if yours solves this problem as well, then I'd be happy to take yours.  I can take a closer look tomorrow.

[2022-05-10 22:50] thepinetree commented on #1791
ack, thanks for the quick turnaround @bwagner5! Feel free to use whichever PR works out better.

My first-order takeaway seems like #1793 might increase the set of potential instance types to consider (to nearly all instance types, I think) but is a cleaner change, while #1792 changes the set to known families + requested nodes but is  more invasive.

I also planned on adding a unittest with a lit

[2022-05-11 01:26] #1786 closed

[2022-05-11 09:30] edijsdrezovs opened #1794 "Incorrect resource provisioning using podAntiAffinity"
## Version
**Karpenter**:v0.10.0
**Kubernetes**: v1.0.0

## Expected Behavior
When using `podAntiAffinity` with topologyKey `kubernetes.io/hostname` when I'm adding let's say 3 additional replicas carpenter provisions node with resources to fit for all 3 new pods instead of provisioning 3 additional nodes
[code]

[code]

## Actual Behavior
Provisioning 3 additional nodes instead with resources to

[2022-05-11 10:50] centr0nix opened #1795 "Karpenter fails to provision any new nodes when a PVC is missing"
## Version

**Karpenter**: v0.9.1

**Kubernetes**: v1.21

## Expected Behavior
Karpenter should provision new nodes as expected.

## Actual Behavior
If a PVC is missing/deleted from a deployment Karpenter fails to provision any new nodes from any of the
applied provisioners.
## Steps to Reproduce the Problem
Delete/Remove a PVC from a deployment.

## Resource Specs and Logs
The Karpenter controlle

[2022-05-11 11:11] tzneal commented on #1794
Can you provide the entire deployment that you are using?

[2022-05-11 12:53] tzneal commented on #1794
I'm having trouble reproducing this. I'm running v0.10.0 and applied your deployment, I then scaled it to 3 and then 6 replicas before the first three nodes were ready.  I waited till those six nodes were ready and scaled again to 10 replicas.  It launched a new node each time.

I left the invalid image name in the deployment which caused the image pull errors:
[code]

[2022-05-11 13:23] edijsdrezovs commented on #1794
Can you share your provisioner config @tzneal ?

[2022-05-11 13:28] tzneal commented on #1794
Sure, it's:

[code]

[2022-05-11 13:37] tzneal commented on #1794
Karpenter created 10 nodes:

[code]
[code]

[2022-05-11 14:24] dewjam commented on #1783
OK, I see two of the inflate pods are running.  Are they both running on the Managed Nodes?  Or was one of those nodes launched by Karpenter?

ip-10-65-9-49.us-west-2.compute.internal looks like it was launched most recently, so I'm assuming this was launched by Karpenter, but wanted to be sure.

[2022-05-11 14:31] dewjam commented on #1789
Hey @mandeepgoyat ,
Karpenter does not support provisioning instances with Elastic Graphics at the moment.  As you mentioned, Karpenter supports GPU instances as an alternative.

Would you be willing to share your use-case for Elastic Graphics?  Can GPU instances fulfill your needs instead?

[2022-05-11 17:45] dewjam commented on #1795
Hey @centr0nix ,
Thanks for reporting this issue.  I'm going to work on reproducing this problem today.  I'll give an update once I have more info.

[2022-05-11 20:18] andrewhibbert opened #1796 "Errors continue despite terminating nodes manually"
## Version

**Karpenter**: v0.0.0

**Kubernetes**: v1.0.0

## Expected Behavior

Node terminated manually and reconciler recognizes this and stops erroring

## Actual Behavior

Keeps erroring

[code]

## Steps to Reproduce the Problem

Setup karpenter with this module - https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/modules/kubernetes-addons/karpenter. Create a provisioner with a

[2022-05-11 20:19] Tasmana-banana commented on #1783
U right @dewjam !
ip-10-65-9-49.us-west-2.compute.internal launched by Karpenter, but the pods that I scaled do not migrate to it

[2022-05-12 00:04] dmitry-mightydevops commented on #1775
hi @dewjam yes I'm planning to troubleshoot this and get back with report by the end of this week.

[2022-05-12 10:45] trondhindenes commented on #1769
Hi,
I think this was related to node disk pressure. Will keep watching for this, but for now I'll close the issue. Thanks for following up!!

[2022-05-12 10:45] #1769 closed

[2022-05-12 12:37] tzneal commented on #1794
Are you still seeing this issue?

[2022-05-12 12:52] aquarhead commented on #1574
Thank you so much for this list! I'm definitely on the same page that infra softwares should provide detailed install requirements instead of (or not only) "one click" solutions with helm.

Also for example the list item 2 and 3 depends on how the IAM policy is setup, it took me a while to make the connection.

[2022-05-12 23:34] irasnyd commented on #1368
Fixed by #1732

[2022-05-12 23:34] #1368 closed

[2022-05-13 00:28] robertd opened #1799 "feedback: possible use of conventional commits?"
Hello,

Would Karpenter team ever consider adopting “conventional commits” specification for the Karpenter project?https://www.conventionalcommits.org/en/v1.0.0/

For example, CDK project has been using this specification and it’s really working out well for them (and their community).

One of the benefits that comes to mind, for users (i.e. downstream CDK package maintainers), is that it would be

[2022-05-13 07:25] universam1 opened #1802 "label domain node.kubernetes.io not permitted"
## Version

**Karpenter**: v0.10.0

**Kubernetes**: v1.21.9-eks-14c7a48

## Expected Behavior
We need to set the label `node.kubernetes.io/node-group` on nodes to mark pod affinity. We have other node labels in use such as `node.kubernetes.io/lifecycle`or `node.kubernetes.io/class` as well.
For now we are setting those labels in user-data of the launch-template, however we cannot migrate to Karpen

[2022-05-13 07:29] universam1 commented on #1802
Suggestion: adding `node.kubernetes.io` to `LabelDomainExceptions` because this sub-domain is clearly distinct to nodes which is the very responsibility of Karpenter

https://github.com/aws/karpenter/blob/befc00c890878c6b531e7c07acd7be1d4a92f6ec/pkg/apis/provisioning/v1alpha5/labels.go#L46-L48

[2022-05-13 12:12] stevehipwell commented on #1490
@bwagner5 where are we with this, is it just the documentation missing?

[2022-05-13 12:40] stevehipwell opened #1803 "Support handling custom kube reserved values"
**Tell us about your request**
I'd like Karpenter to work correctly when not using the EKS optimised AMI calculations for `--kube-reserved` (as already discussed in #1490). The current logic in Karpenter is incorrect as it makes the assumption that pod count is directly related to the number of ENIs on an instance and that the kube reserved memory calculation is a function of pods rather than memo

[2022-05-13 12:40] stevehipwell commented on #1803
CC @bwagner5

[2022-05-13 13:11] celestialorb opened #1804 "Multiple Security Group Selectors"
**Tell us about your request**
I'd like to see the ability to specify multiple sets of tags/names/filters for the security group selector rather than just one to add flexibility in how security groups are determined.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I'm trying to provision a set of nodes in an AWS EKS cluster with an extra securi

[2022-05-13 14:44] bwagner5 commented on #1791
I've merged in #1793 which will hopefully unblock you. We'll likely release a new version next week. I'm still open to #1792 as that would increase the amount of instance types passed to the EC2 Fleet API to make more flexible decisions.

I'm not sure how often a more flexible set of instance types would actually be passed through though. For example, if I specify that I want "z" instance types in

[2022-05-13 15:32] stevehipwell commented on #1327
@tzneal I've looked over [custom-user-data-and-amis.md](https://github.com/aws/karpenter/blob/main/designs/aws/custom-user-data-and-amis.md) and have some feedback.

- We need the ability to provide an AMI per architecture otherwise we need to duplicate provisioners
- We need the ability to set kube reserved dynamically as it's a function of the node resources (see #1803)

[2022-05-13 15:33] bwagner5 commented on #1490
This is mostly a docs issue, but I'd still like to move away from a boolean flag to switch max-pods. @suket22 has a PR out (https://github.com/aws/karpenter/pull/1720) for bottlerocket config support and is working on AL2 as well (I realize you're not using either of these but it should carry over to generic bootstraps as well). We'd like to get to the point where the user is in full-control over

[2022-05-13 15:36] bwagner5 commented on #1803
We'll be setting ephemeral storage accurately soon.

But agreed on Karpenter respecting a custom kube-reserved and, in general, overhead values for nodes.

[2022-05-13 15:38] stevehipwell commented on #1803
Would you take a PR to use the GKE logic when `AWS_ENI_LIMITED_POD_DENSITY=false` as a stopgap?

[2022-05-13 15:42] stevehipwell commented on #1490
@bwagner5 I was literally just looking at the docs around this functionality as I've been trying to see what currently missing from Karpenter that we can't live without.

[2022-05-13 15:42] suket22 commented on #1803
We're going to respect custom kube-reserved values. We might just do it as part of `spec.kubeletConfiguration` so you don't need to write a custom UserData script for it. That way it'd help our binpacking logic too which would need to account for it.