[2021-12-10 06:00] olemarkus commented on #954
In kops, most people use other CNIs. MaxPods is a per instance group configuration one can set if one wants to. Default is 110 and from my own experience one rarely has that high density. I am also not sure I ever want such high density as a significant part of capacity would be gone if the instance fails.

Should someone use vpc cni, then same logic as Karpenter is used.

[2021-12-10 16:09] tuananh opened #965 "max no. of nodes to scale each reconcilation loop"
**Tell us about your request**
ability to specify the max no. of nodes that can be scaled down at a time.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I dont want the cluster to scale too many nodes all at once. maybe 2 or 5 nodes at a time.

**Are you currently working around this issue?**
no but i would like to work on it

**Additional con

[2021-12-10 16:10] tuananh commented on #965
@ellistarn is this currently possible? if not, do you think it's a good idea? maybe you can give some pointers where to look at.

[2021-12-10 16:31] ellistarn commented on #945
GPU count can be controlled via pod resource requests. https://karpenter.sh/docs/tasks/running-pods/#resource-requests-resources

[2021-12-10 16:34] ellistarn commented on #965
Is the for scale down or scale up? I don't see the use case for scale up. For scale down, something like a NodeDisruptionBudget that behaves like a PodDisruptionBudget (but for nodes) would accomplish something like this.

[2021-12-10 16:38] tuananh commented on #965
@ellistarn it's for scale down.

iirc nodedisruptionbudget is sth new that's recently introduced by karpenter right. lemme look into it.

[2021-12-10 16:44] ellistarn commented on #965
It doesn't exist. It's just an idea right now.

[2021-12-10 18:27] mikesir87 commented on #936
One thought I've had about this... rather than using CLI flags for each of the options, would it make sense to support a YAML-based config? Then, each provider can have its own set of options, yet not have to have them exposed through the CLI directly.

[2021-12-10 18:44] mikesir87 commented on #928
One thought here... in the case of `dns-cluster-ip`, that would be the same value for _all_ Provisioners, at least in my clusters. Maybe it does make sense for some of these to be higher-level config 🤔

[2021-12-10 19:01] ellistarn commented on #928
I want to be careful about the proliferation of CLI flags. I want to be explicit that we do not current plan to support backwards compatibility for CLI flags.

I can see implementing this as a short term workaround until we find a better long term solution. As long as the flag has plenty of caveats (and you agree to upgrade when we find a better solution), I think this is a decent path forward.

[2021-12-10 20:15] sylr opened #966 "instanceProfile not used when providing a launch template"
I've created a launch tempate which did not reference any IAM instance profile thinking that karpenter would add it himself as the instanceProfile of the provider is a mandatory property.

## Version

**Karpenter**: v0.5.2

**Kubernetes**: v1.21.5

## Expected Behavior

Nodes are started with the profile specified in the provisioner provider.

## Actual Behavior

Nodes started by karpenter without

[2021-12-10 20:46] mikesir87 commented on #928
Would you be ok with, for right now, simply allowing a CLI flag that's something like `--additional-bootstrap-flags`? That way, we can use it for `dns-cluster-ip`, but might meet other temporary needs. Thoughts?

[2021-12-10 21:52] sylr opened #967 "Improve Cloudprovider Separation in Provisioner API"
I would suggest to add a layer between the provisioner provider and its properties, e.g.:

[code]

Of course only one cloud provider would be accepted.

The advantage of this design would be to be able to design a strict CRD which would not allow unknown properties (typos, mixed properties from other cloud provider) with an explicit message when creating the Provisioners.

Regards.

[2021-12-11 06:04] orirawlings opened #969 "Support configuring instance metadata options for AWS provisioner"
**Tell us about your request**
What do you want us to build?

AWS currently documents EKS security best practices, including restricting access to Instance Metadata Service (IMDS) from pods (https://aws.github.io/aws-eks-best-practices/security/docs/iam/#restrict-access-to-the-instance-profile-assigned-to-the-worker-node). Exposure of IMDS is controlled via the metadata options on the Launch Templ

[2021-12-11 09:42] olemarkus commented on #907
See https://github.com/kubernetes/kops/pull/12906

[2021-12-11 12:47] linjungz commented on #945
Hi, I think it would be useful if we could provide a excluding list, for example we don't want to run production workload on t2/t3/t4 instances. It would be better if we could select the instance types using wildcard, for example t3.* for all sizes of t3 instance type.

[2021-12-12 18:58] olemarkus opened #972 "Karpenter not setting CCM uninitialized taint"
## Version

**Karpenter**: v0.5.2

**Kubernetes**: v1.23.0

## Expected Behavior

When external cloud controller manager is used, kubelet will taint Nodes with `node.cloudprovider.kubernetes.io/uninitialized`, which the cloud-controller-manager is expected to remove once the Node object has been initialised.

It may be an idea to ensure general "Initialisation taints"–that is taints that Karpenter

[2021-12-12 20:27] johngmyers opened #973 "RBAC is too permissive"
**Tell us about your request**

The Helm chart templates grant overly permissive privileges. The controller and webhook Roles and ClusterRoles should be restricted to only the rights that they need.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

I would like to grant permissions using the principle of least privilege.

**Are you currently wor

[2021-12-13 03:56] ellistarn commented on #973
+1. We need to lock these down.

[2021-12-13 03:56] ellistarn commented on #972
Interesting -- I'm not familiar with this, but it seems plausible that we should do this. Do you have any links to code/documentation as to how this taint is designed to work?

[2021-12-13 03:57] ellistarn commented on #972
Related to: https://github.com/aws/karpenter/issues/628

[2021-12-13 03:59] ellistarn commented on #966
We don't have the ability to override the InstanceProfile of a custom launch template. We definitely need better document this behavior. In general, I'd like to find alternative solutions to custom launch templates, as they do not fit cleanly into Karpenter's other features.

[2021-12-13 04:03] ellistarn commented on #969
What is the desired configuration settings for your use case? We should figure out what we want our defaults to be.

[2021-12-13 04:14] ellistarn commented on #967
Hey -- this is an interesting ask. I don't particularly like the current state of affairs w.r.t our cloud providers relying on https://pkg.go.dev/k8s.io/apimachinery/pkg/runtime#RawExtension. In general, I think this is an area that could be significantly improved.

Currently, `spec.provider` :
1. is vendor neutral and varies depending on your build flags passed to karpenter
2. is passed through t

[2021-12-13 04:25] ellistarn commented on #954
One idea to explore, use "IntOrString" to support things like `spec.density: 30`, `spec.density: vpc-cni`, `spec.density: default` (some strategy like cpu/memory)

[2021-12-13 04:50] zeagord opened #974 "EC2 spot instance interruption handling"
**Tell us about your request**
What do you want us to build?
Currently Karpenter doesn't have spot instance interruption handling mechanism. Users have to to install node termination handler (https://github.com/aws/aws-node-termination-handler) along with karpenter. It would be useful if this is built natively within karpenter

**Tell us about the problem you're trying to solve. What are you tryin

[2021-12-13 05:02] ellistarn commented on #974
I'd love to do this. We'd need some concept of provider specific controllers. Alternatively, I could imagine wiring this through the cloud provider API like:

[code]

We may also want to wire through a concept of duration to differentiate between rebalance and interrupt.

[2021-12-13 06:07] olemarkus commented on #972
https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#running-cloud-controller-manager explains this particular taint.

https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-evictions this page lists a few others as well. It claims it is node controller that sets this, but it is actually kubelet that does it.

The code is here https://git

[2021-12-13 06:28] olemarkus commented on #954
Topology spread constraints won't do anything to avoid say 1/3 of capacity to go away if a single instance dies. 1/3 capacity going away during AZ failure may be something one gets away with, but not on a regular basis. I think a lot of cluster admins aim to have a certain amount of Nodes in the cluster and adjusts instance type thereafter.

If karpenter intends to control max pods, it must also e

[2021-12-13 08:33] sylr commented on #966
I am building and using my own amd64 and arm64 AMIs for EKS (official image + 5.10 kernel and preloaded docker images).

[2021-12-13 08:51] olemarkus commented on #966
Why is it mandatory if it isn't actually used? It sounds like it perhaps should be mutually exclusive with launch templates.

[2021-12-13 10:04] SoulKyu commented on #928
I agree with @mikesir87, actually have to edit my launch_template created by Karpenter to manually add the flags to make it work properly, it's such a bad thing for automation especially for cloud infrastructure...
A temporary flags cloud make the work for a first commit i guess ! :D

[2021-12-13 16:45] mikestef9 commented on #969
The default should be httptoken required with hop limit of 2, aka IMDSv2 enabled, IMDSv1 disabled. For customers using IRSA everywhere, they can take a step further and set hop limit to 1 (only host networking pods can access IMDS).

[2021-12-13 18:06] orirawlings commented on #969
For my use case, the desired configuration is:
[code]

Though my organization is still transitioning and not all workloads will work on this yet.

It seems that EKS Managed Node Groups also requires a hop limit of 2, though they allow httptoken to be optional. This maximizes compatibility with an older AWS SDK version and any code that hasn't been updated to use IMDSv2. In #970 I've started with a

[2021-12-13 18:10] olemarkus opened #975 "Topology Spread Constraints calculations don't apply across mutually exclusive provisioners"
## Version

**Karpenter**: v0.5.2

**Kubernetes**: v1.23.0

## Expected Behavior
`topologySpreadConstraint` at least with `whenUnsatisfiable: DoNotScheduler` should never schedule when violated.

## Actual Behavior
If there are two Provisioners with mutually exclusive subnets, Karpenter will just pick one and schedule all instances and Pods in the subnets that Provisioner has, going far above the

[2021-12-13 19:21] ellistarn commented on #975
This is a super tricky problem and definitely an edge case for topology. Thanks for pointing this out.

Can you dig in a little bit for the use case of using a single topology spread selector across distinct provisioners? Provisioners manage distinct sets of capacity and are unaware of each other. In order to compute topology, we need to know the set of viable zones to spread across. Right now, th

[2021-12-13 19:28] ellistarn commented on #966
This is changing here: https://github.com/aws/karpenter/pull/914

[2021-12-13 19:29] bwagner5 commented on #975
This is something for us to consider on how topology spread works across provisioners, but I suspect that part of the issue here is that kOps IGs are often setup w/ only 1 AZ which would require multiple provisioners. Ideally, one IG would span all zones available for worker nodes and you shouldn't run into weird topology spreads like you're seeing.

Is there a use-case for multiple provisioners?

[2021-12-13 19:29] ellistarn commented on #928
I'm supportive of an experimental feature `--additional-kubelet-args`. We may eventually bake this into the API.

[2021-12-13 20:18] mikestef9 commented on #969
I believe we go a step further than MNG here, and require http tokens. Customers that still need IMDSv1 enabled for whatever reason will have to explicitly turn it back on.

[2021-12-13 20:45] ellistarn commented on #928
Can we use karpenter's bootstrap to edit this file?

@mikesir87, this may be a great opportunity to implement this using a configmap instead of as a CLI arg. That might allow you to more easily pass a YAML patch to the kubelet config file.

[2021-12-13 21:20] ellistarn commented on #975
Agree that we need to resolve this more long term, but it seems like the use case is fairly contrived. I'll think a bit about whether or not about the easiest way to enforce DoNotSchedule across multiple provisioners.

[2021-12-13 21:27] mikesir87 commented on #928
Nah... it would go in as part of the user-data that Karpenter is creating, simply as an additional flag to the bootstrap.sh script. That script in the launched machine will then modify the file.

I have thought that, as we're starting to do more "global" config, it might make sense to explore a ConfigMap-based approach as the number of potential CLI flags is going to grow as more cloud providers a

[2021-12-13 21:37] akestner commented on #963
Karpenter is already designed to work with any Kubernetes cluster, regardless of where it’s running, but you're right in that today there is only an AWS cloud provider. We hope that the community will contribute additional providers so that Karpenter can be used by more people in more places.

We plan to explore what that means for the project by working closely with the Kubernetes community in th

[2021-12-13 21:57] ellistarn commented on #945
You can use a `NotIn` rule in your requirements. I agree that it's a bit painful without wildcards.

[2021-12-13 22:02] #386 closed

[2021-12-13 22:04] ellistarn commented on #500
Hey @mattparkes , I think that this is probably in the purview of another tool in the ecosystem. It should be straightforward to implement a custom controller that integrates w/ karpenter's termination workflows.

[2021-12-13 22:16] ellistarn commented on #639
This is now implemented. https://github.com/aws/karpenter/pull/924

[2021-12-13 22:16] #639 closed

[2021-12-13 22:17] #812 closed

[2021-12-13 22:19] ellistarn commented on #974
Closing as duplicate of https://github.com/aws/karpenter/issues/702

[2021-12-13 22:19] #974 closed

[2021-12-13 22:22] #843 closed

[2021-12-13 22:22] #826 closed

[2021-12-13 22:23] #820 closed

[2021-12-13 22:24] #590 closed

[2021-12-13 23:24] mattparkes commented on #500
Yeah we can totally do that. As I said in my initial post, that's currently how we do it:

We currently use cluster-autoscaler, node-termination-handler and our own custom controller (written with kubebuilder) to detect the Taints being added by node-termination-handler and then we rollout restart any Pods which are single replicas and have a PDB.

However I do think that is definitely outside the

[2021-12-13 23:34] ellistarn commented on #500
For karpenter, `node.deletionTimestamp` will be set once karpenter starts to finalize the node.

[2021-12-14 00:00] aldredb commented on #612
@cjerad Suggest that `node_creation_failures` should be for any reason, not just  **Number of spot fleet request fails to get capacity**. the **reason** can be a dimension/label of the metric

[2021-12-14 01:47] ellistarn commented on #972
I'll have to play around with this, but as far as I understand, if we set the --external cloud provider flag, then kubelet should add the taint and CCM should be able to remove it. It's not clear how karpenter gets in the way.

[2021-12-14 03:01] yahavb opened #984 "controller.provisioning Failed to bind pod to a node in highly concurrent cluster (100s nodes and 1000s pods)"
## Version

**Karpenter**:v0.5.1

**Kubernetes**: Server Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.7-eks-d88609", GitCommit:"d886092805d5cc3a47ed5cf0c43de38ce442dfcb", GitTreeState:"clean", BuildDate:"2021-07-31T00:29:12Z", GoVersion:"go1.15.12", Compiler:"gc", Platform:"linux/amd64"}

## Expected Behavior

per the docs "Karpenter schedules pods that the Kubernetes scheduler

[2021-12-14 03:51] ellistarn commented on #984
How many of these? This is a natural and self healing mechanism where the kubescheduler is scheduling pods as capacity comes online. Perhaps the message should say "Ignoring pod, already bound to capacity by the kube scheduler". You shouldn't be seeing this on a large percentage of your scale up, but it definitely can happen.

[2021-12-14 06:17] olemarkus commented on #972
The code around https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L108-L122
shows what on a Node object is updated by kubelet starting up with the Node object already existing. It patches in things that only kubelet can truly know, like the underlying OS, arch etc. It patches in capacity.

But it does not patch in taints. The appropriate taints have to be adde

[2021-12-14 07:50] olemarkus commented on #975
One way of doing it is something like
* Check what values exist for a topology
* Check each provider that it can launch instances matching all values, skip those that can't
* If no single provider can launch instances in all zones, bail

To me, this seems reasonable. In our usecase we need those specific Provisioners for those zone specific workloads, and then we need an extra Provisioner that han

[2021-12-14 08:42] eminalemdar commented on #963
Donating Karpenter to CNCF will bring more people in the community to be a contributor for this project. By that, contributors will extend the usability of Karpenter with new provisioners faster and I'm sure everyone will come up with brilliant ideas.

[2021-12-14 10:36] olemarkus opened #985 "podAffinity"
**Tell us about your request**
What do you want us to build?

I know you'll love this: Support `podAffinity`

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
This is a sibling issue to #942 , but specifically on `podAffinity`.

Cilium's hubble has component called hubble-relay that needs to run on the same node as a cilium agent.
The cilium inst

[2021-12-14 16:06] cjerad commented on #612
@aldredb Thanks for the suggestion.  The description in the table at the top has been updated.

[2021-12-14 17:11] ilyatovbin-pp opened #987 "Reserve capacity"
I want to be able to configure extra reservation capacity (nodes/cpu/memory) in the provisioner settings.
On one hand I have the ttlSecondsAfterEmpty option that scales down empty nodes, which is great. On the other hand, scale up takes some time. If I could keep a reserved instance or two (or any number I choose for that matter) to never scale down even if the node is empty, this will speed up po

[2021-12-14 17:27] ilyatovbin-pp opened #988 "Nodes not ready if using a private subnet"
## Version

**Karpenter**: v0.5.2

**Kubernetes**: v1.20.0

## Expected Behavior
When an instance is launched on a subnet which does not have "Auto-assign public IPv4 address" in the subnet options, the launch should either fail in the controller, or automatically add the option in the Launch Template that's created in AWS. Either that or a property called "AssignPublicIpOnLaunch": "true/false" sh

[2021-12-14 18:02] bwagner5 commented on #984
I've seen this occur when binding is throttled on a subset of nodes being launched which, as Ellis mentioned, results in kube-scheduler beating the bind call and then getting duplicate binds.  Full logs would definitely help if you have them or can reproduce.

[2021-12-14 18:02] ellistarn commented on #988
Thanks for reporting this! I think it should be straightforward to implement. Can you confirm that you are not using custom launch templates?

Karpenter will terminate the node after 15 minutes if it fails to connect. We may tighten this to 5m, since users have been thinking this is an infinite loop.

[2021-12-14 18:14] mikesir87 commented on #988
We're launching into private subnets (with auto-assign public addresses set to false) and not having any issues with it. If you're in private subnets, make sure you have a NAT gateway/instance setup and that your nodes are getting the right security groups applied to them.

I would actually prefer nodes _not_ to have public addresses on them. If this were implemented, it should definitely be false

[2021-12-14 18:19] ellistarn commented on #987
I think you might be referring to [Spot Ocean headroom](https://docs.spot.io/ocean/features/headroom)? In general, I'm open minded to this approach, but we need to be careful about implementing it in a way that fits naturally with Karpenter's scaleup/scaledown mechanisms.

The same mechanism as the cluster autoscaler's [overprovisioning](https://github.com/kubernetes/autoscaler/blob/master/cluster

[2021-12-14 18:45] bwagner5 commented on #988
I would agree w/ @mikesir87 on NOT assigning public IPs on launch into a subnet that is not auto-assigning public IPs.  The subnet should auto-assign public IPs OR have NAT setup.

[2021-12-14 21:23] Nuatu commented on #973
I'd like to work on this. This will be my first contribution to Karpenter.

[2021-12-14 21:29] olemarkus opened #992 "Support labels on Provisioner set outside of labels"
**Tell us about your request**
What do you want us to build?

Karpenter currently only supports label selectors that either karpenter manage (by assuming it can configure kubelet) or that are well-known (those kubelet set itself, such as kubernetes.io/os and kubernetes.io/arch).

But there is a host of other components that put labels on nodes: KCM, CCM, CNIs, device managers and others.
It should

[2021-12-14 21:38] Noksa opened #993 "Why Karpenter waits more than specified in ttlSecondsAfterEmpty?"
Hello.
Could you please explain why Karpenter waited 4 minutes instead of 2?

[code]

[2021-12-14 21:51] njtran commented on #993
Can you share your Provisioner Spec(s)?

[2021-12-14 22:00] njtran commented on #341
We no longer list nodes for every reconcile loop in a controller, so this is no longer relevant.

[2021-12-14 22:00] #341 closed

[2021-12-14 23:11] ellistarn opened #994 "Quota Fallback"
**Tell us about your request**
Ice cache should include quota out errors.

**Attachments**
If you think you might have additional information that you'd like to include via an attachment, please do - we'll take a look. (Remember to remove any personally-identifiable information.)

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reacti

[2021-12-14 23:42] eminalemdar opened #995 "Launch Template Removal After Uninstalling Karpenter"
## Version

**Karpenter**: v0.5.2

**Kubernetes**: v1.21

## Expected Behavior
After uninstalling Karpenter from the cluster or completely deleting the cluster, cleanup process should remove all resources related to Karpenter including Launch Templates those are created for Provisioners.

## Actual Behavior
After removing Karpenter from the cluster there are some orphaned Launch Templates left in

[2021-12-14 23:46] #686 closed

[2021-12-14 23:51] ellistarn commented on #993
Hmm -- I wonder if something is wrong with the Node reconcile trigger. 2m0s looks like the controller thought it was up to date at least. Perhaps there's a time skew between the API Server's clock and your Karpenter's clock?

[2021-12-14 23:54] ellistarn commented on #992
I'd love to see another example other than kop's `node-role.kubernetes.io/node`. One might be the node labels from https://github.com/NVIDIA/k8s-device-plugin. Seeing more examples will help us design the right solution.

I'll be honest that this feels like a hack to me. One option (at least in this case) would be to use a NotIn NodeAffinity rule to avoid the kops masters, rather than attracting t

[2021-12-15 03:36] geoffcline commented on #432
closing because https://github.com/aws/karpenter/issues/432 solved this issue for good

[2021-12-15 03:36] #432 closed

[2021-12-15 03:57] geoffcline commented on #507
Is this a suitable policy?

[code]

[2021-12-15 04:23] yahavb opened #998 "populating EC2 instance-id when launching node via Karpenter"
**Tell us about your request**
What do you want us to build?
Node cleaning mechanism of EC2 instances that are in Not Ready state.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
What outcome are you trying to achieve, ultimately, and why is it hard/impossible to do right now? What is the impact of not having this problem solved? The more detai

[2021-12-15 04:56] Noksa commented on #993
Thanks guys for quick reaction! :)

Let me describe a bit.

I can reproduce it with the following manifests (I reduced TTL time).

Provisioner:

[code]

Pod:
[code]

What I do:
[code]

As you can see I removed the pod when it was bounded to a node and than created it again.

And the node was empty more than 30 seconds, in this case it was more than 5 minutes (logs are correct - I saw the node in E

[2021-12-15 05:06] olemarkus commented on #992
The node role label is a wellknown label that all installers use. Kops has a role for spots though that is very popular for using with cluster autoscaler to ensure a pod are either scheduled on or off spot instances.

master (and apiserver) nodes are tainted and doesn't automatically attract any pods.

CAS has templates that support this functionality.

[2021-12-15 05:51] geoffcline commented on #507
[sample-policy-karpenter-restrict-controller-role-14DEC2021.json.txt](https://github.com/aws/karpenter/files/7716759/sample-policy-karpenter-restrict-controller-role-14DEC2021.json.txt)

here is a sample policy that currently only works for deletes, not create instances. so, a work in progress.

[2021-12-15 05:56] geoffcline commented on #445
if you set a lower value to "max pods" (e.g., 50) in a custom launch template, will karpenter know about this? or will it provision a node that can handle 70, and yet only 50 schedule onto that node?

[2021-12-15 07:23] olemarkus commented on #445
The behavior is somewhat broken now. It assumes CNI specific limitations and there is no way to get around this: https://github.com/aws/karpenter/issues/954

[2021-12-15 07:43] eminalemdar opened #1000 "Karpenter adds hardcoded Node Name to Pod Spec for scheduling."
## Version

**Karpenter**: v0.5.2

**Kubernetes**: v1.21

## Expected Behavior
Karpenter scales nodes and schedules pods onto those without depending on the kube-scheduler. This reduces latency of the pod scheduling process. At the same time there should be a reasonable logic behind the scenes.

## Actual Behavior
After scaling the nodes Karpenter adds node name's to the pods spec hardcoded. When

[2021-12-15 08:12] olemarkus commented on #992
It's worth mentioning that karpenter cannot schedule nodeAffinity that uses `NotIn`. There is no way for karpenter to know what labels a node may _not_ have.

[2021-12-15 08:58] Noksa opened #1002 "Specify container-runtime in CR without creating custom launch template"
**Tell us about your request**
Currently as I can see in the code https://github.com/aws/karpenter/blob/acbf53f403db09397e788760953f2723f66d6d79/pkg/cloudprovider/aws/launchtemplate.go#L161
container-runtime is containerd by default for almost all nodes.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
Currently we use EKS 1.21 and we don't want

[2021-12-15 09:02] Noksa commented on #1002
Also maybe it is valuable to add a field with custom `kubelet` flags or custom `userData`.
So if we only want to change `userData` or set custom flags for `kubelet` it would be convenient to do it without custom launch template.
If it is okay for you please consider this as well

[2021-12-15 09:36] tsahiduek opened #1003 "Provisioner API - limits are missing in the docs"
Limits are described in [getting started guide](https://karpenter.sh/docs/getting-started/#provisioner), but not exists in [Provisioner APIs](https://karpenter.sh/docs/provisioner/)
It would be great to understand what options a user can configure on Limits and what does that means

[2021-12-15 09:57] Skarlso opened #1004 "What is the format of annotations in the helm chart?"
The helm chart just defines these as:

[code]

But what's the actual format of the passed in annotations? Is it a list or a map? Do they have to be escaped?

So if setting it from Go and coming up with something like this:

[code]

This is not working, so probably incorrect? What is the format?

[2021-12-15 11:53] ilyatovbin-pp commented on #987
Yeah I was talking about Ocean. Option 3 actually sounds interesting, I'll check it out.
Still, something native might be better.

For example have an option like this:
reservedInstances: 2
reservedInstanceTypes: ['m5.xlarge','m4.xlarge']

Then if you don't have 2 empty nodes of these types, launch new ones, and if you want to scale down, make sure to keep 2 empty nodes of this type. This might be

[2021-12-15 12:25] Noksa commented on #1002
In addition it would be very convenient if  we were able to specify AMI in `CR` as well... ^_^

[2021-12-15 12:33] Skarlso commented on #1004
It's fine like that.

[code]

This is the service account it creates. This looks okay to me. Maybe it needs to be escaped?

[2021-12-15 12:33] #1004 closed

[2021-12-15 12:54] agrrh commented on #944
Just to clarify, templating works for default Name only, right?

Setting some custom value for Name in my YAML, I must hard-code cluster and provisioner names.

[2021-12-15 13:33] seh commented on #1000
I [raised a similar concern in the "eks" channel](https://kubernetes.slack.com/archives/C8SH2GSL9/p1638366098483600?thread_ts=1638234150.444800&cid=C8SH2GSL9) of the "Kubernetes" Slack team. Specifically: Creating a _v1/Binding_ object during [the scheduler's _PreBind_ phase](https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/#pre-bind) sounds like it violates that extens

[2021-12-15 14:43] mslavin-tibco commented on #944
@agrrh See PR ^^^ for additional details, since you are in control with how the provisioner CR is submitted, if it's wrapped in some helm chart, it can be set via
[code]
If the "Name" tag is not provided in your provisioner CR, then the default Name tag will be set using
[code]
where the cluster name and provisioner are dynamically populated.

[2021-12-15 15:26] eminalemdar commented on #1000
@seh I believe that triggers adding the Node Name to pod's spec.

[2021-12-15 15:29] seh commented on #1000
That's one thing that the API server does in response to creating a _v1/Binding_, but that's not the problem here. The binding is occurring **earlier than intended in the scheduler's interaction with plugins**, and the binding is occurring before many facts about the node remain unknown. For admission plugins that hook _v1/Bindings_, they will find that the referenced _Node_ object is underpopulat

[2021-12-15 15:36] bwagner5 commented on #1000
Karpenter actually only performs scheduling if the kube-scheduler fails to find a node to place the pod (meaning the cluster needs to scale up nodes to accommodate the pods). As far as the scheduling portion of karpenter goes, it's not that different from how kube-scheduler works in terms of adding the node name to the pod. One optimization Karpenter makes is the optimistic binding of the pod to t

[2021-12-15 16:03] olemarkus commented on #1000
Taint tolerations is actually one of the plugins that is not entirely correctly followed. The issues around affinity, spread constraints etc also comes from this early binding.

Even DaemonSet relies on kube-scheduler now and only provide restrictive node affinities to ensure pod end up in the right place. Unless Karpenter plans on emulating all scheduler plugins (which is sort of what cluster aut

[2021-12-15 16:20] seh commented on #1000
The admission plugin is not blocking this binding; it is augmenting it.

We have such a Webhook in production use that reacts to creation of _v1/Bindings_. It inspects the target _Node_ object, collects details like any external IP addresses that the node has, and adds annotations to the _v1/Binding_ object—which [the API server then copies onto the _Pod_ object being bound](https://sourcegraph.co

[2021-12-15 16:59] ellistarn commented on #1000
By design, karpenter owns the nodes it creates. It knows the properties (e.g. zone/arch) and the scheduling constraints (labels/taints) of the nodes it launches. It has to know this in order to be accurate about the scheduling decision it makes. If we didn't know these things, it's possible to get into situations where the node launched by karpenter isn't a viable node for the pod.

The fact that

[2021-12-15 17:00] ellistarn commented on #1000
For example:

Karpenter knows external IP addresses of the node, perhaps we can expand the amount of information that is decorated at creation time. Do you have a list of properties that would be useful to see?

[2021-12-15 17:07] ellistarn commented on #1000
Karpenter currently implements affinity, spread, taints, and factors these in for both unschedulable pods and daemonsets. We chose an alternative approach of the cluster autoscaler, and decided to not use the kube scheduler's implementation. There are a number of benefits to this approach, but it does mean that we are responsible for implementing the scheduling spec.

[2021-12-15 17:30] eminalemdar commented on #1000
Thank you for these informations @ellistarn. This actually explains a lot!

That means Karpenter doesn't inject the necessary information to pods earlier. That's great news actually! Thank you for this explanation @bwagner5.

[2021-12-15 18:01] seh commented on #1000
Per [this Slack discussion](https://kubernetes.slack.com/archives/C8SH2GSL9/p1638310286469500?thread_ts=1638234150.444800&cid=C8SH2GSL9)—in which I pointed at [the portion of code where you populate the nascent _Node_ object](https://sourcegraph.com/github.com/aws/karpenter@f6875583e90dda70d196dfb5354764d41e6abca3/-/blob/pkg/cloudprovider/aws/instance.go?L242-278)—I thought that the EC2 instance d

[2021-12-15 18:39] olemarkus commented on #1000
`status.addresses` field of the Node object is handled by CCM. That's one of the reason for #972 . `topology.kubernetes.io/region` is also reconciled by CCM.

[2021-12-15 18:48] ellistarn commented on #1002
Docker will eventually be deprecated in kubernetes.

Can you explain this?

[2021-12-15 18:50] ellistarn commented on #998
i'm open minded to adding this tag.

[2021-12-15 18:55] seh commented on #1000
Yes, I've seen the CCM code in the past that handles those, and considered mentioning that, but my main point is that Karpenter is exposing Webhooks to _Nodes_ in this partially populated state well before any other Kubernetes component normally would. Waiting on the CCM to have its turn at enriching the _Node_ would help.

[2021-12-15 18:55] ellistarn commented on #992
Would this "just work" if kops didn't use the kubernetes.io domain?

[2021-12-15 18:56] ellistarn commented on #987
reservedInstanceTypes: ['m5.xlarge','m4.xlarge']

Which AZ? Spot or OD? There are many questions that make this challenging. To cover all use cases, you really need to know the eventual pod specs that you'll need and solve the constraints from there.

[2021-12-15 19:22] olemarkus commented on #992
What are you referring to? If you mean the `node-role.kubernetes.io/role` label then that is a label that all nodes have in a cluster. It is e.g used by `kubectl get nodes`. All installers have mechanisms for setting this label. That also goes for the older `kubernetes.io/role` label.

[2021-12-15 19:34] olemarkus commented on #998
Wouldn't you be able to use `spec.providerID`? It should immediatly be populated with something like `aws:///<AZ>/<instance ID>`

[2021-12-15 19:35] Nuatu commented on #921
I'd like to work on this. I anticipate researching the options and planning the approach this month/into early January then working on implementation in January.

[2021-12-15 19:49] ellistarn commented on #921
Awesome!

[2021-12-15 19:56] Nuatu commented on #921
Sounds good. I'll be in touch as I hone in on the remaining scope.

[2021-12-15 20:30] Noksa commented on #1002
I mean we use docker as runtime until 1.22 EKS. And there is no option to specify to use `docker` as runtime with default launch template in Karpenter

[2021-12-15 20:32] ellistarn commented on #1002
Given the deprecation path for the docker runtime and the fact that karpenter is new, we chose to not implement support for this, opting for best practices instead. By adopting the docker runtime, this would be a feature we would eventually need to deprecate.

[2021-12-15 20:40] Noksa commented on #1002
Okay, thanks

[2021-12-15 20:40] #1002 closed

[2021-12-15 22:29] chrisnegus commented on #1003
There is an example of setting limits within a Pod spec in [Running pods](https://karpenter.sh/docs/tasks/running-pods/). I'll add a section on that to the [Provisioner API](https://karpenter.sh/docs/provisioner/) page as well.
/assign @chrisnegus

[2021-12-16 02:48] bdwyertech commented on #998
I wrote this project to enrich labels/annotations with other node metadata as well -- might help you replace the bash script in the mean time.

https://github.com/bdwyertech/aws-node-labeler

[2021-12-16 03:19] vinayan3 commented on #331
We have one application that has been testing this out using ASGs with mixed purchasing options(on-demand and spot). This one application is using this:
https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-mixed-instances-groups.html

In the future it would be great to find a mechanism to migrate this ASG to karpenter.

[2021-12-16 04:35] deveshbajaj59 opened #1005 "Unable to create multiple launch template for multiple Provisioner."
## Version

**Karpenter**: v0.5.2

**Kubernetes**: v1.2.1

## Expected Behavior

When multiple provisioner is created with different instances type and different lables , and for that different launch template need to be created.

## Actual Behavior

Only first launch template is created ,and for the next provisioner same template used , which causes the wrong lables and taints on the node.

## St

[2021-12-16 11:19] Noksa opened #1008 "An ability to specify AMI in Provisioner spec"
**Tell us about your request**

It would be convenient if we were able to specify custom `AMI` in the `Provisioner` spec instead of creating a lot of custom launch templates just to change the AMI in them.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

Currently I should create a lot of launch templates and change only `AMI` in them.
It is an

[2021-12-16 11:33] Noksa opened #1009 "An ability to specify multi launchTemplate in Provisioner spec"
**Tell us about your request**

Currently we are able to specify only one `launchTemplate` in `Provisioner`.
Like this:
[code]

At the same time we can specify two arch in requirements (at the same time or separately):
[code]

But if I want to run only on amd or arm I have to change `launchTemplate` as well.

Because custom template has `AMI` only for specific arch and actually we can't specify bo

[2021-12-16 11:41] Noksa opened #1010 "Support PodAntiAffinity"
**Tell us about your request**

As you know k8s has great `podAntiAffinity` mechanism that allows us to place the same pods on different nodes.
As example:
[code]

At the same time `Karpenter` doesn't support both `podAffinity` and `podAntiAffinity`

We can use `topologySpreadConstraints` instead but it has `maxSkew` 1 as minimum value.
It means that two same pods can be placed on the same node.

[2021-12-16 14:44] mikesir87 commented on #928
Now that my other PR is wrapping up, I'd like to start taking a stab at this one. I'm thinking of something like this...

[code]

With that, I'll update the Provisioner spec to support that API and then introduce the ability to add the appropriate flag when creating the user-data. Obviously, this would be specific to the AMI type, but allows the specific provider to figure out how to translate the

[2021-12-16 15:28] Noksa opened #1011 "Karpenter adds a node from incorrent zone"
**Tell us about your request**

I have three pods in stateful set, each of them has volume in different AZ.

When I scale STS from 0 to 1, Karpenter creates a node for a pod from different zone than volume.
And the pod can't start.

[code]

How can I solve it? I have the following provisioner:
[code]

Does Karpenter consider persistent storage/volume?
For example I can have all volumes in only one

[2021-12-16 15:46] Noksa commented on #1011
Hm, looks like it is the same as #622

[2021-12-16 18:33] Tyler887 commented on #586
Stale.

[2021-12-16 20:24] Noksa opened #1014 "A node lives forever if it failed to join the cluster"
## Version

**Karpenter**: v0.5.2

**Kubernetes**: v1.21.1

## Expected Behavior

A node that was stuck in `NotReady` state but not because of `NodeStatusNeverUpdated`  will go away after `LivenessTimeout` timeout.

## Actual Behavior

A node that was stuck in `NotReady` state but not because of `NodeStatusNeverUpdated` will live forever despite the fact that it is empty

## Steps to Reproduce the

[2021-12-16 20:24] ellistarn commented on #1011
Do you mind commenting on #622 and we can close here? This is absolutely on our roadmap.

[2021-12-16 20:25] #1011 closed

[2021-12-16 20:27] ellistarn commented on #1014
This is a great suggestion and something I'd like to move forward with in our liveness controller. I think we should terminate after a specified period, regardless of status conditions. Further, I think we should allow the user control over how long to wait, or whether or not to terminate.

[code]

[2021-12-16 20:35] Noksa commented on #1011
@ellistarn
Sure. Thanks

[2021-12-16 20:35] olemarkus commented on #1014
If a kubelet cannot properly connect to the cluster, why would it be able to do so the second time?
I would definitely want the instance around for investigation.
Worst case one would end up in a provisioning loop that does nothing more than add load to the cluster.

[2021-12-16 20:38] Noksa commented on #622
I would say this is very useful feature.

Without this we are not able to use statefulsets that use EBS volumes using all AZ in a region.

I would really appreciate if someone could tell us that we will get this feature before NY :)

[2021-12-16 21:08] ellistarn commented on #1014
Another thing we can do is look at the tolerations of pods on the node that is not ready. If pods tolerate NotReady for a long time, we shouldn't terminate the node. If pods don't tolerate NotReady, they will be evicted by the pod lifecycle controller, so terminating the node won't harm anything. As @olemarkus mentions, it should be possible to disable this feature.

[2021-12-16 21:09] ellistarn commented on #622
It's not currently being worked on, but is high priority. Is there something specific about NY timing that's important? As a short term workaround, you can use multiple statefulsets with a zonal nodeselector. Not great - I know, but it's something.

[2021-12-16 22:42] #704 closed

[2021-12-17 01:53] mikesir87 commented on #995
I agree with this, but curious if you have any ideas how to pull this off. I don't think you want to simply do it when the pod is being removed, as that will cause all upgrades to nuke all of the launch templates (maybe that's a good thing to do anyways???). I guess a finalizer on the pod could work to let it have some tear down activities?

I might be willing to pick this one up next if we figure

[2021-12-17 06:39] eminalemdar commented on #995
I didn't mean Karpenter should remove the Launch Templates after a pod removal. Because like you said removing a LT after every pod removal would cause a lot of unnecessary event. Karpenter should remove the LTs after Karpenter itself is removed from the cluster and after the cluster deletion. There should be a usual Cleanup procedure for every resource created by Karpenter.

[2021-12-17 07:11] Noksa commented on #1014
Also if I delete a pending pod that was bound to a new node that was stuck - a node will live forever in `NotReady` state even if there are no pods on it except daemonsets

[2021-12-17 16:11] #928 closed

[2021-12-17 16:12] #927 closed

[2021-12-17 20:24] johnktims opened #1017 "Subnet Selector default is surprising"
## Version

**Karpenter**: v0.5.2

**Kubernetes**:
Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.2-eks-06eac09", GitCommit:"5f6d83fe4cb7febb5f4f4e39b3b2b64ebbbe3e97", GitTreeState:"clean", BuildDate:"2021-09-13T14:20:15Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"linux/amd64"}

## Expected Behavior
`subnetSelector` should only include the specified subnet selection c

[2021-12-17 22:15] m00lecule opened #1018 "Provide more control over node upgrading"
Hello, I would like to submit a feature request.

Currently I am trying to replace clusterautoscaler with karpenter but one missing feature is a blocker - **updating cluster nodes spawned by karpenter**. Referencing official docs - https://karpenter.sh/docs/concepts/#upgrading-nodes the only way to update Your current cluster setup is to configure `ttlSecondsUntilExpired` for each node. I believe

[2021-12-17 22:51] ellistarn commented on #1018
I think that this is massively important. We've heard this a couple times. We need some time-gated mechanism for allowing node termination. I think this particular facet operates outside of just upgrade and includes expiration, consolidation, and other termination use cases.

[2021-12-17 22:53] ellistarn commented on #1018
If I'm reading this correctly, it seems like you're looking for a similar relationship to Deployment -> Replicaset -> Pod, but for NodeDeployment -> NodeReplicaSet -> Node. I can't help but think of CAPI here, but I need to noodle on how this would apply to a dynamic instance count.

[2021-12-17 22:54] m00lecule commented on #1018
@ellistarn - Yes, rolling update but on nodes level

[2021-12-17 22:54] m00lecule commented on #1018
Yes, rolling update on Provisioner CRD level

[2021-12-17 23:03] ellistarn commented on #1018
I do wonder how much churn this would cause on provisioner update. I'm imagining the scenario where a provisioner manages 5,000 nodes. Right now, an operator could update requirements and they would be applied immediately for new instances. With the proposed mode, this would force a refresh on the entire cluster.

I do think we need to figure out how to support the case where you *do* want to recy

[2021-12-17 23:08] m00lecule commented on #1018
Agree, cluster administrator must be capable of picking own strategy to handle cluster updates but still - If i would be in charged of handling those numbers of nodes that are not some periodic spike then I would never pick a `ttlSecondsUntilExpired` option.

[2021-12-17 23:41] ellistarn commented on #622
I have a work in progress here: https://github.com/aws/karpenter/pull/1015. It's working for both preprovisioned volumes and new volumes, as well as storage class aware topology and PVC aware topology. Need to write some tests, but this will likely land next release.

[2021-12-18 20:20] ellistarn commented on #1017
You must tag your subnets with `kubernetes.io/cluster/prototype: Owned` https://karpenter.sh/docs/getting-started/#tag-subnets.

Is there a reason that subnet tagging is a challenge? We wanted to settle on a default that was already set for many clusters. I'd love to hear more about your subnet tagging process and perhaps we can find a better default.

[2021-12-18 20:23] ellistarn commented on #1010
Closing in favor of https://github.com/aws/karpenter/issues/942. Can you post your question there?

[2021-12-18 20:24] ellistarn commented on #1010
It means that two same pods can be placed on the same node.

If you use hostname topology  with max skew of one, you will only get one pod per node.

[2021-12-18 20:28] #1010 closed

[2021-12-18 21:29] johnktims commented on #1017
Unfortunately, the VPC and subnets are owned by a different team.

I guess I don't understand what subnetSelector is for if I still have to tag the subnets. I figured I'd be able to use this to override the defaults and specify my own filter.

[2021-12-18 23:51] ellistarn commented on #1017
This makes sense to me. I think we're overeagerly defaulting. If the user provides a selector, we should use it, otherwise we should default to something. I'll see if I can get this into the next release.

[2021-12-19 01:33] mikesir87 commented on #1017
I’ll be happy to take this one! 👍

[2021-12-19 06:42] olemarkus commented on #1017
I think kubernetes require that tag, but it can also be set to shared. The tag is used by service controllers to allow ELBs to talk to the node. (you may also need additional tags for internal ELBs if applicable)

[2021-12-19 07:52] olemarkus opened #1021 "topologySpreadConstriants with empty labelSelector makes karpenter crash"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.22.4

## Actual Behavior

Karpenter crash with an npr if a Pod has a topologySpreadConstraint with empty labelSelector. Empty labelSelectors doesn't make much sense, but still shouldn't crash karpenter.

## Resource Specs and Logs

Just ignoring the spread constraint is probably fine if the labelSelector is empty.

[code]

[2021-12-19 16:46] ellistarn commented on #1017
The tag is used differently by different installers. @olemarkus , is it correct that KOPs labels subnets and security groups with kubernetes.io/cluster/$name: owned | shared?

I could see Karpenter being agnostic to any of these tags and not providing a default at all. Or defining a karpenter specific tag karpenter.sh/discovery.

The aforementioned relaxation of our defaults still makes sense for

[2021-12-19 16:55] olemarkus commented on #1017
This doesn't have anything to do with installers. See this code:
* https://github.com/kubernetes/cloud-provider-aws/blob/a91c69e4d9b91b3ffc55c0a7f39c89fdba1fddc2/pkg/providers/v1/aws.go#L4668
* https://github.com/kubernetes/cloud-provider-aws/blob/a91c69e4d9b91b3ffc55c0a7f39c89fdba1fddc2/pkg/providers/v1/tags.go#L133

The requirements come from k/k and AWS Kubernetes Cloud Provider.
There is also

[2021-12-19 16:57] olemarkus commented on #1017
Relised my first link was for SGs. Here is the one for subnets https://github.com/kubernetes/cloud-provider-aws/blob/a91c69e4d9b91b3ffc55c0a7f39c89fdba1fddc2/pkg/providers/v1/aws.go#L3647

[2021-12-19 17:07] olemarkus commented on #1017
As for kOps, we tag subnets and such unless users configure kOps not to. Many bring their own subnets, and then it is up to them to ensure tags match what is required. Many want to do their own terraform stuff for example and want kOps to stay out of changing such resources. kOps also use those tags for IAM purposes, but that was outside of what I referred to here.

[2021-12-19 19:57] yahavb commented on #998
This is brilliant! I just add it so got my node labeled. I am ok to close it but wanted to know first if the Karpenter gods wants to add it as default.

[2021-12-19 23:48] ellistarn commented on #998
We do want to add it! I'm on vacation for a bit, but PRs welcome!

[2021-12-20 08:27] olemarkus commented on #445
My proposal to solving this:
[code]

The eni model needs an AMI that supports it, but that is what is assumed today.

In the future, a resource-based capacity model may be added, but again requires an AMI that supports it (or that karpenter can provide the data per Node rather than per LT)

If this sounds good, I can try to implement this.

[2021-12-20 10:37] alex-berger commented on #969
And please don't forget to also support setting `httpProtocolIpv6`.

[2021-12-20 15:36] mattcamp opened #1030 "Waiting for unschedulable pods yet pods stuck pending"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.21.2-eks-06eac09

## Expected Behavior
Karpenter should provision new nodes

## Actual Behavior
Karpenter is sitting at `Waiting for unschedulable pods` even though there are multiple pods stuck in `Pending` state (due to insufficient CPU)

## Steps to Reproduce the Problem
Apply provisioner and deployment as below.

## Resource Specs and Logs

[2021-12-20 15:47] mattcamp commented on #1030
Nevermind, I've since found the other issues and docs recommending the use of topologySpreadConstraints instead.

[2021-12-20 16:31] ellistarn commented on #1030
Glad you figured this out. Debug logging would've shown this explicitly. There's a line for it in the getting started guide. You can update logging without restarting the process.

[2021-12-20 19:13] rothgar commented on #445
Would that spec be used in addition to instance type capacity? 110 pods on a .small instance is a lot different than 110 on a .24xlarge

[2021-12-20 19:31] olemarkus commented on #445
What do you mean by instance capacity?

It would only be used to determine how kubelet's `MaxPods` is set. It would not affect anything wrt cpu and memory resource constraints.

[2021-12-20 20:27] lucasreed commented on #923
👍  Would love to see this as an option instead of maintaining a separate LaunchConfiguration.

[2021-12-21 11:53] jalawala commented on #1021
I also saw crash with below configs
      nodeSelector:
        kubernetes.io/arch: amd64
      topologySpreadConstraints:
      - maxSkew: 5
        topologyKey: "topology.kubernetes.io/zone"
        whenUnsatisfiable: ScheduleAnyway

2021-12-21T11:47:25.368Z        INFO    controller.provisioning Batched 18 pods in 1.506678526s {"commit": "5047f3c", "provisioner": "default"}
panic: runtime error

[2021-12-21 14:59] mikesir87 commented on #1017
I think one of the surprising parts of this is that when you specify the security group selector, the default cluster tag is not auto-added to the collection. So, there's a difference in how those are handled compared to the subnets. I hadn't thought about it, but we're soon going to be transitioning into an environment where we are using a Shared VPC and the subnets are delegated to us, making it

[2021-12-21 15:18] mikesir87 commented on #1017
Hmm... I actually just looked at the code (in prep for submitting a PR), but it looks like it's doing exactly what we wanted it to do... it defaults to using the cluster tag if none is provided. But, if one is provided, it uses only the set provided.

[code]

And then running `kubectl describe provisioner provisioner-with-subnets` gives me the following...

[code]

So... it looks like it's listing

[2021-12-21 16:00] mikesir87 commented on #954
I'm using another CNI and running into this now as well. Now that we have `spec.kubeletConfiguration`, I'm thinking about creating a PR that adds a `maxPods` option there. The tricky part is the AL2 EKS-optimized AMI makes the assumption you're using the AWS CNI, unless you set `--use-max-pods=false`. So, we could allow someone to set a value of `-1` (which isn't allowed), but can be handled by th

[2021-12-21 16:02] mikesir87 commented on #445
See https://github.com/aws/karpenter/issues/954#issuecomment-998899853. Now that we have `spec.kubeletConfiguration`, we could allow someone to specify a value directly. Would this work?

[2021-12-21 16:19] chrisnegus commented on #915
EKS AMI is implementing a discovery feature that all EC2 instance types will be supported. Instead of hardcoding a list, we are discovering them in the AMI. So we are closing this Issue.

[2021-12-21 16:19] #915 closed

[2021-12-21 16:26] olemarkus commented on #954
The important bit is the logic karpenter use internally for scheduling pods before it knows the actual Node Pod capacity.

[2021-12-21 16:26] #596 closed

[2021-12-21 16:33] chrisnegus commented on #591
Limiting the number of getting started experiences for the moment.

[2021-12-21 16:33] #591 closed

[2021-12-21 17:26] johnktims commented on #1017
@mikesir87 I see the issue now.

If I create the provisioner with the custom label the first time, it works, as you've demonstrated. If I create the provisioner without the custom subnetSelector, and then add a custom subnetSelector, the new criterion is is appended to the default.

[2021-12-21 17:57] ellistarn commented on #445
I'd like to hold off and think a little more deeply before we make changes. Max pods is not a concept that melds naturally with heterogenous instance types. I want to be very careful about how we decide to approach this. Most of the team is currently on vacation, so this may need to wait for the new year.

[2021-12-21 18:06] olemarkus commented on #445
I would be fine with agreeing on a large value for MaxPods so that it doesn't become a part of the equation.

[2021-12-21 18:46] mikesir87 commented on #445
Makes sense to wait until the team comes back. For my use case, I simply don't want to set it at all or use a crazy high number.

As we find more AWS VPC CNI-specific things, it almost makes me think if there's a high-level config that needs to indicate this, as defaults should vary quite a bit.

Anywho... everyone have a great break and we'll pick it up after the holiday!

[2021-12-21 23:03] bdwyertech commented on #942
EKS built-in CoreDNS leverages a pod anti-affinity rule.

Stumbled across this wondering why Karpenter is spinning up nodes in the same region with a topology zone anti-affinity rule configured 😄  Many Helm charts expose affinity but do not expose topologySpreadConstraints.

+1

[2021-12-22 02:18] jalawala opened #1034 "Binpacking algorithm incorrectly selects instance type with insufficient allocatable memory"
## Version

**Karpenter**: v0.0.0

**Kubernetes**: v1.0.0
0.5.3

## Expected Behavior

 This Issue is observed with smaller instance say t4g.micro which takes longer time to get into ready state
T0 =  pod in pending
Line 4: arm64-6bcdd8f45-95j9v   0/1     Pending   0          5s    <none>   ip-192-168-77-153.ec2.internal   <none>           <none>
T1 = pod is terminated by Karpenter assuming that t

[2021-12-22 02:30] mikesir87 commented on #1034
I’ve run into this as well and I think narrowed it down to the number of DaemonSets I had running. For a t4g.micro instance, the max pod limit is only 4. So, there actually wasn’t enough room on the nodes to run the workloads. Are you running any DaemonSets?

[2021-12-22 02:59] Nuatu commented on #973
@johngmyers @ellistarn

Below are some notes I put together as I worked through the each of the concerns you mentioned in this issue.

---

### configmaps

1. The controller can currently modify and delete any ConfigMap in the kube-system namespace. It should be restricted to only modify the specific configmaps it needs.
2. The controller can currently modify configmaps/status for any ConfigMap in

[2021-12-22 03:29] johngmyers commented on #973
I was under the mistaken assumption that karpenter was intended to be installed into the kube-system namespace.

[2021-12-22 04:27] ellistarn commented on #1034
It looks like our maxpods calculations are not factoring in daemonsets. We need to fix this.

[2021-12-22 04:56] Nuatu commented on #973
Gotcha! Either way, moving towards least privilege was worth it at this stage.

Working through this issue to implement #1035 definitely gave me a good first issue to work on.

[2021-12-22 05:27] mikesir87 commented on #1034
I bet this is what I was running into with #930. I’ll close that one in favor of this one.

[2021-12-22 05:28] mikesir87 commented on #930
Duplicate of #1034

[2021-12-22 05:28] #930 closed

[2021-12-22 11:46] mattcamp commented on #622
Just adding my +1 that this would be a very useful feature.

Currently I'm stuck in a situation where Karpenter has provisioned all my nodes in eu-west-1b and eu-west-1c (despite there being plenty of capacity in 1a), leaving my pods with PV's in eu-west-1a stuck in Init forever.

[2021-12-22 12:05] yzhengwei opened #1036 "How can I set the tags for every EC2 Instance launched by the provisioner?"
## Version

**Karpenter**: v0.4.1

**Kubernetes**: v1.2.0

When I add tags for the provisioner, I want to added to every EC2 Instance launched by this provisioner, but it's failed.  It shows that found unknown field: tags, Why ?
[code]

[2021-12-22 13:24] mikesir87 commented on #1036
Hard to tell immediately, but my first guess is see what happens if you coerce your `InternalAccountingTag` tag value to a string. It's reading as a number, but the type for that field is a map of strings. Give that a shot and see what happens

[2021-12-22 15:06] chrisnegus opened #1037 "Restore the FAQs page to docs"
**Tell us about your request**

We removed the FAQs section after v0.4.3 because much of the information became outdated. We are going to reimagine the FAQs section and create a new one.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

Some of the previous FAQs content is now in Concepts and other parts of the docs. So the FAQ will be a place w

[2021-12-23 00:00] abierbaum commented on #897
@eptiger Any pointers to an example provisioner that supports the example you gave above?  In particular I don't quite see how to set a node affinity rule that prefers spot instances.

[2021-12-23 04:08] yzhengwei commented on #1036
I fixed it, but the error still exists!
This provisioner yaml:
[code]

error log:
[code]

[2021-12-23 12:47] abierbaum opened #1038 "AWS CDK Construct for Karpenter"
**Tell us about your request**

A construct that wraps the installation and setup of Karpenter for use with the AWS CDK along side aws_eks.Cluster.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

The AWS CDK is awesome for installing and configuring EKS Clusters and nodegroups.  There are constructs for setting up a cluster autoscaler as well.

[2021-12-23 14:48] empath-nirvana opened #1039 "Assigning random security groups by default is not ideal behavior."
## Version

**Karpenter**: v0.0.0

**Kubernetes**: v1.0.0

## Expected Behavior

I recognize that the documentation points out that if you use the cluster name tag, it will randomly assign security groups, but I can't imagine a single situation where this would be desired behavior.  Either it needs to be deterministic, or it shouldn't provision nodes at all using that selector.   It's especially b

[2021-12-23 17:23] ellistarn commented on #1039
Agree that the nondeterministic behavior is a problem. We'd like to address this at the root with the LB controller relaxing their single-sg requirement. In the short term, I think we should probably just alphabetize to ensure deterministic behavior.

[2021-12-23 17:25] ellistarn commented on #1038
Can you cut this issue over at the CDK repo?

[2021-12-23 17:27] ellistarn commented on #1036
You're on an old (beta) version of Karpenter. Can you upgrade to v0.5.3?

[2021-12-23 17:35] ellistarn commented on #1000
I don't think there's any contract that the node object is fully populated for any given webhook invocation. This becomes challenging to reason about, since Karpenter would need to be aware of every use case. Instead, can't the webhook only act once the information is there?

[2021-12-23 17:45] ellistarn commented on #1005
Hi @deveshbajaj59. I need some more context before digging into this. Can you provide provisioner specs, pods spec, and relevant controller logs?

[2021-12-23 17:52] empath-nirvana commented on #1039
Personally, I think I'd prefer that it not be the default setting -- just make it a required field unless you've got a tag that does what one would naturally expect

[2021-12-23 17:55] olemarkus commented on #1000
There is no contract for a _fully_ populated node. But for CCM, the contract is clearly documented here: https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#running-cloud-controller-manager
New nodes are tainted upon creation with `node.cloudprovider.kubernetes.io/uninitialized`. Thus no Pods are scheduled on new nodes until CCM has removed that taint. That is, unless Pod

[2021-12-23 18:13] seh commented on #1000
No, it can't. It has to augment the _v1/Binding_ at time of creation, and that happens only once.

[2021-12-23 19:51] ellistarn commented on #1039
I could see potentially including all security groups, and leaving it up to the user to define a security group selector that does not violate the LB controller's assumptions.

[2021-12-23 19:59] ellistarn commented on #1000
What modification is happening to the binding object?

I understand this contract, however, this will cause Karpenter to race with the Kube scheduler, which is something I want to avoid unless absolutely necessary. There are a number of architectural advantages to binding early (see above), and I'd hate to lose them unless we didn't have another option. Fundamentally, Karpenter is a scheduler that

[2021-12-23 20:33] seh commented on #1000
Per https://github.com/aws/karpenter/issues/1000#issuecomment-994948113, we add annotations, which the API server transcribes onto the _Pod_ being bound.

[2021-12-23 22:37] ellistarn commented on #1000
I'm unfamiliar -- can you educate me on the use case?

[2021-12-23 22:47] zswanson opened #1040 "Documentation - overly permissive IAM policy for ssm:GetParameter"
The suggested/sample IAM policy for karpenter is over permissive for ssm:GetParameter, allowing all resources with `"*"`. As far as I can tell this is only used to access the public AWS paramstore item for the EKS optimized image ID. The sample policy should be updated to use a minimal IAM permission for this action.

[2021-12-23 22:59] ellistarn commented on #1040
Closing as dup of https://github.com/aws/karpenter/issues/507

[2021-12-23 22:59] #1040 closed

[2021-12-23 23:02] ellistarn commented on #1000
@seh, looking at some shorter term options
- Is it possible to watch the node object and annotate the pods?
- Could the aws provider for karpenter write the information into the instance? What is the set of data you need?

[2021-12-24 11:51] seh commented on #1000
No. There are only two _happens-before_ edges in the API to supply Downward API content to all containers in a pod: pod creation and (for unbound pods) node binding. After the latter, the kubelet is free to start running init containers. We hook the latter during admission so that by then both the pod and the node exist, but no containers could have started yet.

Yes, I hope so. As mentioned earli

[2021-12-24 20:26] ellistarn opened #1041 "Testing should include RBAC"
**Tell us about your request**
What do you want us to build?

Tests do not cover RBAC profiles, which represents a huge surface for regression. See discussion here: https://github.com/aws/karpenter/pull/1035. This should be included with overall testing improvements.

**Attachments**
If you think you might have additional information that you'd like to include via an attachment, please do - we'll

[2021-12-24 20:32] ellistarn opened #1042 "Performance Regression Testing"
**Tell us about your request**

We do not currently have any mechanism that prevents performance regressions in Karpenter (scheduling latency, etc). We should build out a suite of tests and measure/assert KPIs:
- single pod ready
- n pods ready (1000?)
- todo: more test cases

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-

[2021-12-24 20:38] ellistarn opened #1043 "Branch-based releases and Release Automation"
**Tell us about your request**
Releases are currently driven by tags, which means patching any release version requires rewriting git history (i.e. moving the tag). Many projects in the kubernetes ecosystem instead use release branches so that patches can be made to specific branches as necessary.

- Release automation should be triggered by pushing a change to a semver-matching branch.
- This cha

[2021-12-24 20:43] olemarkus opened #1044 "Karpenter should consider in-flight capacity when scaling out"
**Tell us about your request**
What do you want us to build?

If two apps are scaling up in succession, Karpenter will first react to app one's requirements and provision instances accordingly. Often there will be will be spare capacity on the provisioned nodes, especially if there are topology spread constraints involved.
When app two scales up, that spare capacity is not considered, and Karpente

[2021-12-24 21:02] ellistarn commented on #1044
One of the benefits of Karpenter's current implementation is that it's almost entirely stateless. Introducing new concepts such as awareness of in-flight instances or delayed pod binding significantly increases the Karpenter's complexity surface.

The Cluster Autoscaler has gone down this road and attempted to be smart about what it thinks might happen in the future, and relies on various timeouts

[2021-12-27 06:46] yzhengwei commented on #1036
I upgraded Karpenter to 0.5.3 and it works fine now, thanks very good!

[2021-12-27 08:53] olemarkus commented on #1034
It looks like also static/mirror Pods need to be taken into consideration. I frequently run into `OutOfPods` errors that I think comes from Pods being scheduled to a given node, but then enter this state as static pods take precedence.

[2021-12-27 10:06] yzhengwei opened #1047 "How to set the minsize and maxsize of the ec2 in karpenter provisioner?"
Version
Karpenter: v0.5.3

Kubernetes: v1.2.0

How to set the minsize and maxsize of the ec2 in karpenter provisioner?  Fox example, When I have 10 nodes, how do I manually adjust to 100?  And when scaled downs, how to set the parallelism and idle time ?

[2021-12-28 01:21] vikas027 opened #1048 "[feature-request] - helm search repo should show the app version"
As of now, the app version is not shown in the while searching the helm repo, it will be great to have the same.

[code]

[2021-12-28 17:09] olemarkus opened #1050 "Pod preemption cause Karpenter to over provision and leave Pods Pending"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.23.0

## Expected Behavior
Ideally Karpenter would realis we the preemption event.
At least all Pods being responded to and not left in Pending state for an extended period of time (many minutes)
Launching an instance that will always end up being empty should also be avoided.

## Actual Behavior

When there is a pod preemption there is a race

[2021-12-28 17:15] ellistarn commented on #1050
Interesting. Currently karpenter looks at the pod status condition `Unschedulable=True` and will immediately attempt to provision. I'm not familiar with the eviction process, but if we could somehow know that the pod would schedule due to eviction, then we would not want to provision that pod.

Do you have any ideas for how we can know whether or not the kube scheduler will evict a pod for any giv

[2021-12-28 18:53] olemarkus commented on #1050
I can do a PR for the unnecessary scale-up. That should be fairly easy.
But as mentioned above, the actual bug is the evicted pod being stuck in Pending state. I do think this is a bug as it is an unschedulable Pod that Karpenter miss.

[2021-12-28 19:18] ellistarn commented on #1050
What specifically can we use to detect this?

[2021-12-29 00:23] asimshankar opened #1053 "Allow other opinions on which instance types are filtered"
**Tell us about your request**

It seems that many instances types (i3* in particular) are disallowed by the opinionated filter at:
https://github.com/aws/karpenter/blob/2ea8ed43fb96fe02e027aac9b135e7cbd839dd68/pkg/cloudprovider/aws/instancetypes.go#L165

Is that something that can be relaxed? Either by including `i3` in the filters above, or by allowing some sort of customization of the filter? (

[2021-12-29 00:34] ellistarn commented on #1053
We wanted to reduce the scope to known families to avoid any surprises with new instances types that weren't compatible on release. I want to get @bwagner5's go ahead on this, but I'm supportive of allowing the i3 prefix.

[2021-12-29 06:29] olemarkus commented on #907
Started on docs in #1055
Also see docs on the kOps side here: https://kops.sigs.k8s.io/operations/karpenter/

[2021-12-29 15:38] DWSR opened #1056 "Document Which Container Runtime Launched Nodes Will Use"
**Tell us about your request**
There should be documentation on which runtime the launched nodes will use. Browsing through the source, it appears that Karpenter will launch nodes with `containerd` except when certain accelerators are present in which case it will use Docker. This was surprising to us when we implemented Karpenter in our cluster as it switched our container runtime without our kno

[2021-12-29 18:37] #1050 closed

[2021-12-30 08:28] olemarkus opened #1059 "[kops] Karpenter schedules nodes that are never used during deployment rolling restart"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.23.0

## Expected Behavior
Karpetner does not schedule any additional nodes

## Actual Behavior
Karpenter schedules a set of nodes that are never used and terminated immediately.

## Steps to Reproduce the Problem
1. Create a deployment
2. Wait until karpenter has scheduled new instances for the pods
3. do a `kubectl rolling restart` of the dep

[2021-12-30 09:50] gbvanrenswoude commented on #1038
@abierbaum this might help:

https://gist.github.com/gbvanrenswoude/b5363d78d39ff32ace9899942110184d

[2021-12-30 19:22] tobernguyen commented on #1039
Hi @empath-nirvana Can you point me to the part of document you mentioned? I couldn't find one.

@ellistarn I believe we are experiencing the same problem. We have nginx-ingress controller and I believe the AWS LB Controller created a SG for that the associated ELB with the same tag of the default SG that was created of EKS (with pattern: `kubernetes.io/cluster/CLUSTER_NAME: owned`). And Karpenter

[2021-12-30 20:33] a0149659 commented on #943
I have the same issue (No matches for kind "Provisioner" in version "karpenter.sh/v1alpha5"
) after running:

helm upgrade --install --skip-crds karpenter karpenter/karpenter --namespace karpenter \
  --create-namespace --set serviceAccount.create=false --version 0.5.3 \
  --set controller.clusterName=$CLUSTER_NAME \
  --set controller.clusterEndpoint=$CLUSTER_ENDPOINT --wait

[2021-12-30 20:35] ellistarn commented on #943
This is your problem `--skip-crds`. Where did you read to do this?

[2021-12-30 23:42] a0149659 commented on #943
Thank you for the Reply, you are right. I'm not sure how that flag made it into the helm command, I first tried to install it around late November I think, following the getting started page. Which had version 0.5.0 at the time.

I just did a clean install with the steps on the Getting Started page and it works perfectly

[2021-12-31 00:10] ellistarn commented on #943
Great!

[2021-12-31 00:10] #943 closed

[2021-12-31 11:20] Noksa opened #1065 "Karpenter stopped to provision new nodes"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.21.1

## Expected Behavior

Karpenter provisions nodes as before
## Actual Behavior

When a new pod has been created - Karpenter doesn't do anything

## Steps to Reproduce the Problem

Actually I don't know
## Resource Specs and Logs

Provisioner:
[code]

Last logs with this provisioner:
[code]

So today I scaled statefulset from 0 to 1 and a p

[2021-12-31 16:03] ellistarn commented on #1065
I haven't seen this before, but it's a big problem that shouldn't be possible. It sounds like you're describing some sort of deadlock. Can you enable debug logging `kubectl patch configmap config-logging -n karpenter --patch '{"data":{"loglevel.controller":"debug"}}'
` and attempt to reproduce?

This bit indicates to me that there might be a deadlock

[2021-12-31 16:06] Noksa commented on #1065
Thanks, I’ve enabled debug logging.

When it happens again I will update the ticket with logs

[2022-01-01 06:20] StrongNitPicker opened #1066 "public doc correction"
some parts in public doc say like
- provision Pod
- schedule Node
need to replace with
- provision Node
- schedule Pod

[2022-01-01 11:14] olemarkus opened #1067 "Karpenter fails to create node object if an instance does not have PrivateDnsName"
## Version

**Karpenter**: master

**Kubernetes**: v1.23.0

## Expected Behavior

Karpenter creates node object.

## Actual Behavior

Karpenter does launch instance, but no node object. Then it let Pods hanging.

The instance eventually does join the cluster just fine.

I am mostly concerned with the Pod being left hanging.

## Steps to Reproduce the Problem

It just happens randomly on scaleup. I

[2022-01-01 18:20] ellistarn commented on #1067
- This can happen in rare cases, when it does
- It's imperative that the node has the provisioner label in its kubelet config so karpenter can manage it
- The reconcile loop should fail, resulting in the pods triggering a new reconcile loop
- The node should come online, pods may schedule to it or to another node
- The extra node should be scaled down

This doesn't sound right to me. What do you m

[2022-01-01 18:22] ellistarn commented on #1066
Hey @StrongNitPicker , thanks for the report. Can you provide some references to what you mean or perhaps a PR? The docs are here: https://github.com/aws/karpenter/tree/main/website/content/en/docs.

[2022-01-01 18:37] olemarkus commented on #1067
There is no reason not to create the node object. In this case, PrivateDNSName is not used for anything interesting. I think I should be able to fix that part.

The reconcile loop doesn't seem to be failing. Karpenter just stops caring about that Pod. The pod is hanging until the Node object is created by Kubelet and eventually schedules by kube-scheduler. This bit worries me a lot more. I have se

[2022-01-01 23:28] ellistarn commented on #1067
It's currently used for the node's name.

[2022-01-03 10:06] shirish-qub opened #1071 "Error : Failed to compute packing, pod did not fit in instance type option even though matching provisioner exists"
## Version
**Karpenter**: v0.52
**Kubernetes**: EKS v1.21

## Expected Behavior
The pod should be scheduled via the new custom provisioner

## Actual Behavior
Getting error,
2022-01-03T09:33:44.695Z        ERROR   controller.provisioning Failed to compute packing, pod(s) [default/pause-57d7bf4ddb-5kcnk] did not fit in instance type option(s) [] {"commit": "870e2f6", "provisioner": "default"}

## S

[2022-01-03 15:43] abierbaum commented on #1038
Looks like a great start.

[2022-01-03 16:50] ellistarn commented on #1071
Enable debug logging: `kubectl patch configmap config-logging -n karpenter --patch '{"data":{"loglevel.controller":"debug"}}'`. My guess is that t4g.micro was excluded due to kube system overhead.

[2022-01-03 20:31] #907 closed

[2022-01-03 23:29] suket22 commented on #1059
I haven't been able to reproduce this issue.

I tried doing a rolling restart of a deployment with defaults (25% maxSurge and maxUnavailable) and the only times I saw Karpenter kick in, was when the scheduler had actually marked the pod as unschedulable (since my old worker nodes couldn't accommodate more pods).
I did lose my optimal bin-packing at the end of the restart since an extra node was la

[2022-01-03 23:29] ellistarn opened #1072 "Resource Based Naming not behaving correctly"
## Version

**Karpenter**: HEAD

**Kubernetes**: v1.220

## Expected Behavior

## Actual Behavior
It looks like resource based naming is being used by default, but my cloud provider is launching with ip naming.
[code]

## Steps to Reproduce the Problem
[code]

## Resource Specs and Logs

[2022-01-03 23:30] ellistarn commented on #1072
@olemarkus

[2022-01-03 23:31] ellistarn commented on #1072
Potentially caused by
[code]

[2022-01-03 23:36] ellistarn commented on #1072
Ah -- turn out this is just a surprising default.

[2022-01-04 03:10] felix-zhe-huang opened #1075 "Inconsistent cluster name in kube config causes tagging error and node failing to join"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.21.2
**eksctl**: 0.77.0
**aws-cli**: 2.2.43

## Expected Behavior

Karpenter tags subnet and security groups correctly.
Karpenter successfully launches new node.

## Actual Behavior

Karpenter Makefile fails to extract correct value for `${CLUSTER_NAME}` when ~/.kube/config is created by eksctl.
When manually provided the correct value, Karpent

[2022-01-04 05:18] olemarkus commented on #1072
Sorry about that one. That was not really intentional. Thanks for fixing.

[2022-01-04 05:23] olemarkus commented on #1059
The Pods go into unchedulable for only the briefest of moments. Karpenter manage to respond to it, but not correctly react.
I don't defrag is a good solution to this. It means a rolling update would, should karpenter be successful at binding, cause a lot of unecessary restarts of the deployment. As app deployments happens all the time, this sort of unexpected volatility would at best cause a lot o

[2022-01-04 12:03] marcportabellaclotet-mt opened #1077 "Limit number of nodes that can be scheduled simultanioulsly"
**Tell us about your request**
I would like to set the max number of nodes that can run simultaniously using karpenter.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
With cluster autoscaler, you can define a max number of nodes, as it is based on AWS ASG. I would like to put contraints on how many nodes are scheduled by karpenter.

**Are you

[2022-01-04 16:43] felix-zhe-huang commented on #1075
Kops also uses the FQDN. Need a more consistent and inclusive way to config the Karpenter deployment process.

[2022-01-04 17:11] ellistarn commented on #1077
Have you seen https://github.com/aws/karpenter/issues/1003

[2022-01-04 17:33] felix-zhe-huang commented on #1034
I have recreated the original issue. The t4g.micro node is terminated because pods fail to schedule on it due to insufficient memory (pod requests 1000Mi and t4g.micro allocatable is only 558Mi).
The issue is caused by incorrect resource calculation in binpacking algorithm.

There is potentially a problem with maxpod calculation as well. I will fix the wrong calculation first and do some further e

[2022-01-04 20:55] marcportabellaclotet-mt commented on #1077
Maybe I am missing some part of the #1003 , but I can't find how to limit the max number of nodes that can be provisioned via karpenter.
Let's say that I have a deployment with multiple replicas with anti-affinity rules to avoid node sharing. If by accident, I put 100 replicas, karpenter will start 100 eks workers. I would like to have a mechanism to limit that. Is this possible using some kind of

[2022-01-04 21:07] clementrey-dev opened #1082 "Name not resolvable inside containers running on instances managed by Karpenter"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.0.0
Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.2-eks-06eac09", GitCommit:"5f6d83fe4cb7febb5f4f4e39b3b2b64ebbbe3e97", GitTreeState:"clean", BuildDate:"2021-09-13T14:20:15Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"linux/amd64"}

## Expected Behavior
I expected name to be resolvable inside container running on i

[2022-01-04 22:00] marcportabellaclotet-mt commented on #1077
I think that I misunderstood the limits configuration in #1003. If I understand it well now, this means, that if you set :
[code]
It will only allow to start new nodes until capacity sum is not higher that 1 vcpu.

Thanks for the information. Great project!!

[2022-01-04 22:00] #1077 closed

[2022-01-04 22:01] ellistarn commented on #1082
Is it possible that nodes in your private subnet do not have network access?
[code]

[2022-01-04 22:44] felix-zhe-huang opened #1084 "Constraint validation incorrectly excluding daemonset pods in provisioning"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.21

## Expected Behavior

Daemonset pods should be included in provisioning process.

## Actual Behavior

Daemonset pods with NotIn node selector were excluded when node constraints do not specify the value of the corresponding key. Further investigation suggests the constraint validation logic is incorrect.

This error also applies to applicat

[2022-01-04 22:45] mikesir87 commented on #1082
Are you using the VPC CNI? If not, you will need to set the dnsClusterIp for in-cluster name resolution to work.

[2022-01-04 22:46] felix-zhe-huang commented on #1034
Create a separate issue to track the daemonset problem mentioned above (#1084)

[2022-01-04 23:18] #1072 closed

[2022-01-04 23:18] ellistarn commented on #1065
Hey @Noksa, I reimplemented this to be a little more straight forward and less likely (fingers crossed) to contain bugs.

[2022-01-04 23:28] ellistarn commented on #1084
Discussed offline.

Currently, we treat the NotIn operator for unknown labels (i.e., not well known or custom) to be invalid. We do this because we can't know the labels that may be applied to the node by other operators. This causes daemonsets with NotIn rules to be incorrectly ignored incalculations.

I think it probably makes sense to start treating this case as schedulable, and users must be a

[2022-01-04 23:53] felix-zhe-huang commented on #1084
I agree. We should put some best practices in the document.

[2022-01-05 00:06] dbgoytia commented on #1075
Hi! I'd like to contribute to this problem! May I take this one @felix-zhe-huang

[2022-01-05 03:24] felix-zhe-huang commented on #1075
That will be fantastic! Thank you very much!

[2022-01-05 03:28] felix-zhe-huang commented on #1075
One more observation, when we use kOps we specify the full FQDN as $CLUSTER_NAME and it works just fine. As long as $CLUSTER_NAME and clusters.cluster.name in .kube/config are consistent we should be fine.

[2022-01-05 08:32] Noksa commented on #1065
@ellistarn Thanks a lot :)
Hope we’ll never see this bug again!

[2022-01-05 09:51] clementrey-dev commented on #1082
I finally found the issue, pods could not access to `coredns`.

The terraform EKS module creates a security group that allows pod to pod communication. By using the `securityGroupSelector` and selecting the SG (created by the terraform EKS module) in the provisioner spec the issue was fixed.

[2022-01-05 11:49] JohnMops opened #1086 "Encrypted EBS without using Launch Template"
**Tell us about your request**
An option to specify EBS encryption as part of the Provisioner CRD

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
We currently have a CSP policy to prevent provisioning of non encrypted EBS volumes on all accounts.
When using Provisioner without a launch template , the nodes will not spin up because if that.

**A

[2022-01-05 17:08] ellistarn commented on #1086
I'm unfamiliar with this. Can you point me towards the specific setting that needs to be set or an example of an LT you're using? I'm looking at blockdevicemappings in https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-launchtemplate.html.

We don't currently set one, so I'm guessing the default boot volume is unencrypted.

[2022-01-05 17:37] JohnMops commented on #1086
Hey,

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-launchtemplate.html

By default the first api call to create an instance is unencrypted and then the policy gets evaluated.
It’s not a deal breaker but would be great if we can eliminate the need for templates altogether

[2022-01-05 18:51] suket22 commented on #1065
Coming in 0.5.4

[2022-01-05 18:51] #1065 closed

[2022-01-05 18:51] suket22 commented on #1039
Coming in 0.5.4

[2022-01-05 18:51] #1039 closed

[2022-01-05 20:45] suket22 commented on #1047
I'm not sure I follow your ask.

Do you mean the minimum and maximum bounds on the number of EC2 instances Karpenter will provision, or the actual sizes of the instances Karpenter is choosing? If it's the former, you can specify an upper bound by using `spec.Limits.Resources` in terms of CPU and Memory (not the actual number of nodes as you would if using ASG).

Karpenter scales to zero which is t

[2022-01-05 21:02] suket22 commented on #1053
I like the idea of ignoring the instanceType filtering if there's an explicit ask to use a particular type via `node.kubernetes.io/instance-type`.

The only issue I see is that for new instanceTypes, we may not choose the right AMI to go with it. For example, g5g's are ARM + GPU and there's no EKS-optimized AMI to use with that. Similar issues [with g5s too](https://aws.amazon.com/ec2/instance-typ

[2022-01-05 22:40] suket22 commented on #1059
Right, I agree that defrag is not a solution to this and I wasn't alluding that it was. In cases where a pod is legitimately unschedulable because maxSurge > maxUnavailable, Karpenter is helping keep downtime to a minimum by launching additional capacity and defrag helps clean things up later.

Based on the logs that you've provided, it sounds like something different is happening in your env.
`Th

[2022-01-05 23:41] rwd5213 opened #1088 "InvalidParameterValue: AllocationStrategy must be "lowest-price", "capacity-optimized", or "diversified""
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.18.14

## Expected Behavior

Nodes are spun up for non-schedulable pods

## Actual Behavior

Karpenter throws an error

[code]

## Steps to Reproduce the Problem

The error is difficult to reproduce since this error is appears in an AWS cloud environment with no Spot instances so I am guessing the the EC2 Fleet API is not familiar with the Capa

[2022-01-06 00:56] felix-zhe-huang commented on #1034
Issue is resolved by https://github.com/aws/karpenter/pull/1080

[2022-01-06 00:56] #1034 closed

[2022-01-06 17:15] suket22 opened #1089 "Add launchTemplateVersion to AWS Provider and default to $Latest"
**Tell us about your request**
Add ability to specify version of the EC2 launch template that should be used with Karpenter. Should support a number or `$Default` or `$Latest`. It should default to `$Latest` if no version is specified. It currently defaults to `$Default`.

Maybe something like -
[code]

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it ha

[2022-01-06 18:49] ellistarn commented on #1086
Adding this to our upcoming work on launch-templates. @suket22 is owning this.

[2022-01-06 19:25] felix-zhe-huang opened #1091 "Karpenter workload consolidation/defragmentation"
**Tell us about your request**
As a cluster admin, I want Karpenter to consolidation the application workloads by moving pods to a fewer worker nodes and scale down the cluster so that I can improve the cluster resource utilization rate.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
In an under-utilized cluster, application pods are spread ac

[2022-01-06 21:23] bwagner5 opened #1093 "Helm Chart Upgrade Tests"
**Tell us about your request**

There should be Helm upgrade tests on chart changes to ensure that charts can be cleanly upgraded when we do releases.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

The helm charts are currently not tested very extensively.  For example, in PR #1001 a seemingly innocent change introduced a backwards incompatib

[2022-01-06 23:46] #1021 closed

[2022-01-07 09:06] olemarkus commented on #1059
The logs above are with debug log enabled. I just removed those log entries about discovered subnets and instance types found.

Here are the events for a failing pod:
[code]
I.e for a second it was unschedulable before kube-scheduler assigned it.

[2022-01-07 09:37] olemarkus opened #1097 "Configure Karpenter to be a custom scheduler"
**Tell us about your request**

Instead of listening for unscheduled Pods, listen for Pods configured with karpenter as scheduler name (configurable).

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
In reality, this may be mostly useful for testing. When karpenter continuously race with kube-scheduler, it is hard to determine what behavior karp

[2022-01-07 10:45] StarpTech opened #1098 "Tutorial: Karpenter node fails to join cluster"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.21.5-eks-bc4871b

## Expected Behavior

The node should join the cluster and be ready.

## Actual Behavior
The node is provisioned but remains with the following taints:

- karpenter.sh/not-ready:NoSchedule
- node.kubernetes.io/not-ready:NoSchedule
- node.kubernetes.io/not-ready:NoExecute

## Steps to Reproduce the Problem
I followed the tutori

[2022-01-07 10:56] matti opened #1099 "deleting all nodes causes karpenter to be pending forever"
## Version
**Karpenter**: v0.5.3

**Kubernetes**: v1.0.0
[code]

## Expected Behavior

Deleting all nodes should not stop karpenter from working

## Actual Behavior
Deleting all nodes makes karpenter controller be pending forever and ironically the pods that karpenter got running are running.

## Steps to Reproduce the Problem

0. create test cluster with karpenter eksctl instructions
1. using the

[2022-01-07 11:24] matti commented on #1099
karpenter-controller refuses to shedule on karpenter managed nodes:

[code]

If I remove this affinity, karpenter schedules itself on a karpenter managed node and launches new instances.

So what happens is that when I remove the EKS managed node with kubectl delete, then EKS autoscaler does not start a new node to replace the node. If I manually add a new in the EC2 autoscaling group, I'm able to

[2022-01-07 11:30] matti commented on #1044
What about bringing https://github.com/kubernetes-sigs/descheduler to the mix? Descheduler can detect these kind of conditions and then delete/drain those nodes?

[2022-01-07 11:34] matti commented on #1099
Could karpenter prevent deletion of a EKS managed node?

[2022-01-07 11:41] matti commented on #1091
what about https://github.com/kubernetes-sigs/descheduler which already implements this?

[2022-01-07 12:11] olemarkus commented on #1044
I want to avoid pods being rescheduled multiple times during a normal deploy, so descheduler, just like defrag, is not a viable solution.

[2022-01-07 12:12] StarpTech commented on #1075
Hi, I'm a bit lost. This issue is only about local testing right? May it be related to my issue https://github.com/aws/karpenter/issues/1098 ?

[2022-01-07 13:05] olemarkus commented on #1091
i've been using descheduler for this. But mind one can only use `HighNodeUtilization`. If you enable the other strategies, you're in for a great time of karpenter illegally binding pods to nodes with taints they don't tolerate (the unready taints for example), descheduler terminating those pods, karpenter spinning up new pods due to #1044, descheduler again evicting those pods ...

Also mind that

[2022-01-07 14:23] StarpTech commented on #1098
Hi, I started from scratch and it's working now.

[code]

[code]

[2022-01-07 14:28] matti opened #1100 "disk size setting"
**Tell us about your request**
currently karpenter starts nodes with 20gb disk

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I can not specify any other disk size

**Are you currently working around this issue?**
none

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-

[2022-01-07 14:31] matti opened #1101 "Document Multiple Provisioner settings"
**Tell us about your request**
I want some of my nodes to have labels "hello: world" and some "beer: bar" - currently karpenter only allows me to create one kind:Provider so all of my nodes will have all of the labels.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I want some nodes to have different machines than others. Requesting those mach

[2022-01-07 14:35] #1098 closed

[2022-01-07 14:49] matti opened #1102 "provider api docs are not up to date"
**Tell us about your request**
The tutorial at https://karpenter.sh/docs/getting-started/ references "limits:" field that is not listed in https://karpenter.sh/docs/provisioner/, but I could find that some design specs are at https://github.com/aws/karpenter/blob/main/designs/limits.md

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
It is kinda

[2022-01-07 14:56] matti opened #1103 "TTLSecondsAfterEmpty not applied retroactively to nodes."
## Version
**Karpenter**: v0.5.3

**Kubernetes**: v1.0.0
[code]

## Expected Behavior

Updating `ttlSecondsAfterEmpty:` should be enough for nodes to start deleting

## Actual Behavior
Nothing happens (sometimes) and I need to delete the karpeter controller pod. When the a new pod starts, it marks the nodes for deletion.

## Steps to Reproduce the Problem

Set `ttlSecondsAfterEmpty: 3600`, have so

[2022-01-07 16:00] StarpTech opened #1104 "Question: How to limit the max size of a cluster?"
Hi, how can I ensure the maximum number of nodes? Will `karpenter` respect the configuration of a managed eks cluster (eskctl `maxSize`)?

[2022-01-07 17:04] adefrasne commented on #1104
Hi,
You cannot specify yet a max number of nodes, but a workaround may to fine-tune your instance types and assign a hard resources limit as shown in the example config : https://karpenter.sh/docs/getting-started/#provisioner

[2022-01-07 17:06] adefrasne commented on #1101
Hi,

No, I have 3 Providers on a cluster with different requirements and labels.
You can create as much Providers as needed.

[2022-01-07 18:33] matti commented on #1101
ok, this wasnt clear from the docs

[2022-01-07 18:36] matti commented on #1100
Workaround would be to start maintaining own Launch Template etc, but then whats really the point of using karpenter?

[2022-01-07 18:39] ellistarn commented on #1099
This is a great feature request to have in a separate issue. It requires changes to managed nodes, IIUC. @suket22 is a great point of contact for this.

[2022-01-07 18:44] ellistarn commented on #1097
We thought about this as part of the original design. Practically, it was a ton more work to try to implement both a scheduler and provisioner as part of the MVP, so we relied on the kube-scheduler for scheduling to existing capacity. The race is actually quite rare -- since Karpenter waits for the kube scheduler to mark a pod as unschedulable, the race only occurs when capacity becomes available

[2022-01-07 18:44] felix-zhe-huang commented on #1103
May I ask if you are referring to updating `ttlSecondsAfterEmpty` value on the fly? Can you share what command you use to update that value? I would like to recreate it step by step.

[2022-01-07 18:52] ellistarn commented on #1102
Hey @matti,
The project is evolving quickly, and we're adding new features all the time. Because of this, the docs are lagging a bit, and it really sucks you had a confusing experience.

I imagine that this sense isn't just lack of documentation, but a combination of issues adding up to a sense of things not being quite where they should be. If you're willing to take the time, I'd love to hear a l

[2022-01-07 18:54] ellistarn commented on #1103
This is all about the semantic of whether or not these are properties of nodes (ttlafterempty set on node creation) or whether or not it's a policy that applies retroactively to all nodes (ttlafterempty value is always current provisioner value).

I believe that currently we set a timestamp label on nodes of when it should be terminated, so if the provisioner is modified after the TTL is set, then

[2022-01-07 18:55] matti commented on #1103
just kubectl apply -f - it

[2022-01-07 18:57] ellistarn commented on #1067
I think this should be fixed with https://github.com/aws/karpenter/pull/1070. Let's reopen if we see it after v0.5.4.

[2022-01-07 18:59] ellistarn commented on #1101
@geoffcline can you take a pass at the docs and make sure this is covered?

[2022-01-07 18:59] geoffcline commented on #1101
👀 sure

[2022-01-07 19:03] ellistarn commented on #1104
You can specify max resources `spec.limits.resources`. We need to document this. Closing as dup of https://github.com/aws/karpenter/issues/1003.

[2022-01-07 19:03] #1104 closed

[2022-01-07 19:10] ellistarn commented on #1100
What do you think about this approach: https://github.com/aws/karpenter/issues/939

[2022-01-07 19:11] ellistarn commented on #622
Coming in v0.5.4

[2022-01-07 19:11] #622 closed

[2022-01-07 19:13] olemarkus commented on #1104
Just a thought here. Just like you have maxPods in addition to cpu/mem, it does make sense to have max nodes. From control plane perspective, each node does have some overhead. That's why it is quite common for e.g CNIs to specify scaling thresholds both in terms of number of pods in the cluster and number of nodes.

Granted, some of this should be mitigated by disallowing nodes that are too small

[2022-01-07 19:37] ellistarn commented on #670
Hey @tsunamishaun , I was able to get this working with https://github.com/aws/karpenter/pull/1015. Specifically, karpenter needed to apply the SelectedNodeAnnotation, since normally the kube scheduler would do this.

Can you try this in v0.5.4?

[2022-01-07 19:42] ellistarn commented on #1082
@geoffcline , can you document this?

[2022-01-07 19:45] #1067 closed

[2022-01-07 22:00] StarpTech commented on #1104
@adefrasne @ellistarn thanks, this is what I'm looking for. I want to avoid that an infinite number of nodes are provisioned. We use karpenter to deploy preview environments.

[2022-01-08 01:51] felix-zhe-huang commented on #1084
Current requirement implementation is becoming too complex to be sustainable. It may not be a bad idea to refactor requirements.

[2022-01-08 05:06] vicyap commented on #995
Is this a dupe of #444 ?

[2022-01-08 05:58] Noksa opened #1109 "Support region topology for the ebs in tree provider"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.21.5

## Expected Behavior

Karpenter creates nodes using volume topology when a PVC already exists for a pod

## Actual Behavior

Karpenter can't create a new node due to wrong `nodeSelector`

## Steps to Reproduce the Problem

Use the following steps and manifests.

* Apply manifests first time (a node will be provisioned)
* Scale STS to 0
*

[2022-01-08 06:22] rayterrill commented on #923
We'd like to see this as well - our default is Bottlerocket today. Would love to just specify the AMI family and let Karpenter grab the latest AMI if possible.

[2022-01-08 07:41] ellistarn commented on #1109
It looks like the topology region label is getting applied to your volume somehow. Is it possible that this label is a property on your storage class for some reason?

Karpenter doesn't support (currently) the region label since it doesn't support multiple regions. We could always add noop support for it, but I'm curious how this is getting applied in the first place.

[2022-01-08 08:11] Noksa commented on #1109
Yeah, my volumes have the following labels:
[code]
But the StorageClass doesn't have any unexpected settings:
[code]

[2022-01-08 08:32] olemarkus commented on #1109
I know of a couple of configurations that will cause this. I don't know what EKS use, but I am guessing it depends on versions.

First off, there is this [KCM admission controller](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#persistentvolumelabel)
Secondly, it is CCMs `GetLabelsForVolume`. I believe this is only used if you are using the in-tree EBS volume driver

[2022-01-08 08:45] Noksa commented on #1109
Yeah, I've tested it.

When I use https://kubernetes.io/docs/concepts/storage/volumes/#awselasticblockstore
The labels and the nodeAffinity are set to volumes.

When I use AWS EBS CSI driver the volume looks like this and seems it will work as expected:
[code]

[2022-01-08 15:52] Noksa commented on #1109
Confirmed.
It works with https://github.com/kubernetes-sigs/aws-ebs-csi-driver
But with in-tree aws ebs provisioner it doesn't work as expected.

[2022-01-08 17:03] ellistarn commented on #1109
How difficult is it for you to migrate to the out-of-tree provider? I think we likely want to support the in-tree in the short term, but perhaps not in the long term.

[2022-01-08 17:37] Noksa commented on #1109
@ellistarn
I already have moved to the ebs csi driver due to the issue.
So it is not a problem anymore. At least for me.

This issue was a good point to try an out-of-tree storage provider (:

[2022-01-08 17:40] Noksa commented on #1109
Probably it would be convenient to update the documentation about this limitation to avoid new similar issues

[2022-01-08 19:51] joekr commented on #1048
It looks like it might do that now: https://github.com/aws/karpenter/blob/main/charts/karpenter/Chart.yaml#L2

[code]

[2022-01-08 20:53] mikesir87 commented on #1048
Yup. It's working now. Looks like the PR just didn't close this issue /cc @ellistarn

[2022-01-08 21:50] #1048 closed

[2022-01-08 21:50] ellistarn commented on #1048
Thanks all!

[2022-01-09 11:26] Noksa opened #1111 "A node was created with error and Karpenter doesn't terminate it"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.21.5

## Expected Behavior

Karpenter deletes 'bad' node. At least.
## Actual Behavior

For some reason one of nodes was created with the following error in logs:
[code]
After these messages Karpenter just ignores this instance.
I mean this instance is actually up and running:
<img width="1114" alt="image" src="https://user-images.githubusercon

[2022-01-09 11:28] olemarkus commented on #1111
Same as  #1067, I think

[2022-01-09 12:16] Noksa commented on #1111
Yeah, looks the same.

I think it may happen because `PrivateDnsName` is set only when an instance in in `running` state:
[code]
Ref: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Instance.html)

If for some reason an instance can't be in `running` state it means it doesn't have `PrivateDnsName`.
The most common scenario is when EC2 doesn't have capacity of desired instance type and w

[2022-01-09 17:05] ellistarn commented on #1111
EC2 can often take several seconds to assign a Private DNS Name. It's usually much quicker, but we've seen this happen. This will be resolved permanently when we move towards id-based naming in kubernetes 1.23.

Are you using a custom launch template? It must inject the label `karpenter.sh/provisioner-name="storage-db-smb-eu-central-1"`. Karpenter does this automatically for launch templates it ge

[2022-01-09 17:23] Noksa commented on #1111
Yeah, I'm using custom LT.
This is the reason #1008
In my case:
* some of pods **must** use Ubuntu as OS.
* Some of pods **must** use specific AMI where we preinstalled some packages on a node (for example `tcpdump`). So we built that AMI and I have to use it instead of default.

I think if #1008 is implemented I will be able to get rid of custom LT.

[2022-01-09 17:26] Noksa commented on #1111
@ellistarn
Thanks for the clarification about the label and provisioners.
But could you say why other nodes that are created correctly have this label even if they are provisioned with custom LT?

As example:
[code]

[2022-01-09 17:33] olemarkus commented on #1111
When Karpenter is able to create the instance, it also creates the node object itself with the correct label. When it fails, it is kubelet that creates the label, but kubelet has not been configured to add it.

[2022-01-09 17:41] Noksa commented on #1111
@olemarkus Thanks for the clarification.
When an instance has been created and joined a k8s cluster (even if Karpented failed to create a node object itself), Karpenter still is able to add required labels/finalizers by itself because it knows at least the node's ID when it tried to create a `node` object.

[2022-01-09 17:49] olemarkus commented on #1111
It would take some state maintenance that karpenter doesn't do right now. The easier solution is to use the instance ID as node name, which I added support for earlier and that kOps clusters already make use of.

[2022-01-09 18:00] Noksa opened #1112 "Alpha/Beta/GA release channels"
I would like to try and test new features before they are released.

Benefits what I see:
* New functionality will be tested by volunteers
* Probably, most bugs/limitations will be found before they are included in a release
* Some of features can be improved from a release to release and sometimes it means there can be breaking changes and so on.

As example it can be implemented like:
* FG in k8

[2022-01-09 23:43] felix-zhe-huang commented on #1112
This is a great feature request. Having nightly builds sounds like a great starting point. @njtran is a great point of contact for this.

[2022-01-09 23:50] felix-zhe-huang commented on #1043
Some of us are also talking about including pre-release versions for testing. For major features it will be great if there is a venue to conduct some thoroughly e2e tests. What do you think about having a pre-release branch that also publishes deployable artifacts?

[2022-01-10 16:51] ellistarn opened #1114 "Explore tag-based-discovery alternatives"
**Tell us about your request**
Users have given strong positive feedback on the tag selection mechanism for security groups and subnets, but we should  explore better default discovery values for securitygroups/subnets.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
Right now, the `kubernetes.io/cluster/$name` tag is somewhat standardized acro

[2022-01-10 16:52] ellistarn commented on #1114
https://github.com/aws/karpenter/issues/1017

[2022-01-10 17:37] bwagner5 commented on #1088
Hey @rwd5213! Did this error come from the distributed images on ECR or is this recompiled locally? The reason I ask is that it seems the aws-sdk  used in the error you're reporting is old (PRE v1.37.26 [2021-03-08]) which is when `capacity-optimized-prioritized` was released.

Also, what region are you seeing this error?

[2022-01-10 18:46] rwd5213 commented on #1088
Oh thats super weird, I did not recompile it locally, i used the images from ECR. I can double check the images I downloaded and transferred but the image is `public.ecr.aws/karpenter/controller:v0.5.3@sha256:ddd24d756cb324cf8f91f2274621646f83d6121ed6856312ca672a5f78c57174`

This is in the us-iso-east-1 region.

[2022-01-10 19:53] bwagner5 commented on #1088
@rwd5213 the PR above should fix the issue you are seeing.  The issue is that SpotOptions are included in all CreateFleet requests but Spot is not necessarily available in all regions, hence the error you are seeing.

[2022-01-10 20:08] bwagner5 commented on #1088
Patch has been merged! We will release a new version of Karpenter at the end of this week or early next week.

[2022-01-10 20:08] #1088 closed

[2022-01-10 20:57] suket22 commented on #1008
The AMI and the UserData in the EC2 LaunchTemplate are tightly coupled. We'd have to expose both of them in some form in the provisionerSpec to address this.

[2022-01-11 02:35] #1100 closed

[2022-01-11 03:33] bwmetcalf opened #1118 "multiple securityGroupSelectors"
The documentation for securityGroupSelector seems to imply that multiple criteria are OR'd together:  https://karpenter.sh/docs/aws/provisioning/#securitygroupselector.  Specifically,
[code]
However, the logs indicate that the criteria are AND'd as we are getting the following error:
[code]
It seems there should be a way to specify a filter that will select multiple security groups.  What is the e

[2022-01-11 04:31] geoffcline commented on #912
I am disinclined to use subdomains, as it requires integrating with netlify to do releases (new netlify deployment for each release). I am working on making a 'lil script to handle making the new docs dir during the release process. I would be more inclined to do more complex work if pushing new docs versions was causing substantial issues or taking up too much time. Just my thoughts. Thanks, Geof

[2022-01-11 04:34] geoffcline opened #1120 "docsy search bar includes old doc versions"
problem:
docsy search bar includes old versions, confusing users and propagating outdated info

proposed solution:
limit the paths searched to /docs/

[2022-01-11 06:49] Noksa commented on #1008
@suket22
Definitely, `UserData` is also very important!

[2022-01-11 15:56] lbvffvbl opened #1125 "Attache instance to karpenter autoscaler after migration from cluster autoscaler"
I want to migrate from cluster autoscaler to karpenter on an existing cluster without terminating old instances. I can just detach the instance from ASG, but how to attach it to karpenter autoscaler to downscale it in the future?

[2022-01-11 18:30] bwagner5 opened #1126 "BinPacking Offerings (CapacityType & Zone) Validation Bug"
## Version

**Karpenter**: v0.5.4

## Expected Behavior
When an Insufficient Capacity Error (ICE) is returned from the AWS EC2 CreateFleet API, then the instance type and zone that is reported to have insufficient capacity should not be used in the bin packing pkg.

## Actual Behavior
If I have 2 zones (`zone1` and `zone2`) and an ICE occurs for `instanceType1` in `zone1`, then I would expect a po

[2022-01-11 18:49] #1118 closed

[2022-01-11 18:51] suket22 commented on #917
@srasun Could you give us the pod yaml that caused this crash? I'm having trouble reproducing this.

I tried an emptyDir which schedules fine -
[code]

Also tried using generic ephemeral volumes (the provisioner isn't topology-aware for ephemeral volumes so had to constrain that to us-west-2b) but that scheduled fine too -
[code]

Karpenter controller logs before the crash with debug mode would al

[2022-01-11 19:29] #1126 closed

[2022-01-11 19:35] yahavb commented on #984
That does not happen to me anymore because my load stabilized. Should we close it and reopen when I see the issues again?

[2022-01-11 19:39] bwagner5 commented on #1125
Hey @lbvffvbl !  It should be possible to detach the instances from the ASG and label the nodes w/ `karpenter.sh/provisioner-name: ${YOUR_PROVISIONER_NAME}`.  Karpenter's Node Controller should pick that label up and go through the normal checks for TTL, emptiness, etc. and also install Karpenter's Node Finalizer to support graceful cordon and drains.

I'd be careful to also remove any cluster aut

[2022-01-11 20:19] bwagner5 commented on #1066
https://github.com/aws/karpenter/pull/1094 this PR took care of this. Let us know if there are other places where it is incorrect and we'll keep an eye on this wording as well. Thanks!

[2022-01-11 20:19] #1066 closed

[2022-01-11 20:27] bwagner5 commented on #1071
Hey @shirish-qub !

Your deployment nodeSelector will never match any instances as defined because `t4g.*` instance types are arm64 architecture not amd64. If you change your nodeSelector to:

[code]

it should provision the node if the pod can fit on the t4g.micro w/ the kubelet overhead and any daemonset overhead.

[2022-01-11 20:28] #1071 closed

[2022-01-11 20:37] bwagner5 commented on #1089
Just to add more details to this issue:

We previously supported specifying Launch Template version, but ended up removing it. There's a design on it here (Karpenter has changed quite a bit since then, so some of the problems listed in this doc may no longer apply, but wanted to link for context anyways): https://github.com/aws/karpenter/blob/main/designs/aws-launch-templates-options.md

[2022-01-11 20:55] njtran opened #1128 "Include node logging commands in troubleshooting guide."
**Is an existing page relevant?**
yes

**What karpenter features are relevant?**

**How should the docs be improved?**
We currently have commands to refer to controller and webhook logs, but should also include commands to refer to individual node logs for debugging purposes.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-

[2022-01-11 20:56] bwagner5 commented on #1053
Apologies, I missed this issue!  I think allow i3's are fine in the hardcoded filters. I also agree that if the user specifies an instance type in the provisioner we shouldn't filter it out.

[2022-01-11 20:59] ellistarn commented on #1089
The key difference is we're using strongly typed cloud providers instead of provider specific labels. In the recommendation (https://github.com/aws/karpenter/blob/main/designs/aws-launch-templates-options.md#recommendation), you can see a proposal to support version :P

[2022-01-11 21:56] jeffreymlewis commented on #1109
FWIW I ran into this issue yesterday. Having support for the in-tree provisioner would be greatly appreciated! I will look into switching to the AWS EBS CSI driver, but I assume that will be too much churn right now.

[2022-01-11 22:47] savealive commented on #939
Is it possible to prioritize this issue? It's a really blocking one.

[2022-01-11 23:46] dbgoytia commented on #1075
Hi @felix-zhe-huang, I've been testing this issue for the past couple of days and I'm unable to reproduce it 🤔 maybe I'm doing something wrong?

So after deployment of the cluster using eksctl, I get the following configuration:

[code]

and I'm able to run the make commands correctly:

[code]

Can you help me elaborate a bit further on this? I deployed this cluster using eksctl:

[code]

[2022-01-12 00:21] suket22 commented on #917
When using a pod requesting ephemeral storage, I do see the Karp controller failing to provision pods.
[code]
This leads to the controller complaining with -
[code]
This is expected in [our code as per this](https://github.com/aws/karpenter/blob/main/pkg/controllers/provisioning/binpacking/packable.go#L108) since we haven't handled ephemeral-storage and therefore don't really know how to pack this

[2022-01-12 15:24] yzhengwei opened #1130 "The securityGroupSelector is not work"
k8s cluster version: v1.21
karpenter version: v0.53

In my K8S cluster, I have v0.53 karpenter installed, I have a security group with a tag "name: CBS-Bigdata-u1-prod-nodesecurityGroup", and when I set "securityGroupSelector" in a provider, It doesn't  work. Karpenter's new machine security group is default through the Launch Templates. In the Launch Templates, I didn't set the security group, Wh

[2022-01-12 15:37] Noksa commented on #1010
@ellistarn
Actually, the `topologySpreadConstraints` doesn't work properly because of that:
https://github.com/kubernetes/kubernetes/issues/94627

So let's say if I have only one node with label `db-only=true` ALL pods that tolerate this label and have `nodeSelector` equals to this label will be place on the same node. And new nodes won't be provisioned.
`topologySpreadConstraints` starts to work

[2022-01-12 15:45] Noksa commented on #942
I've added some explanation why we need `PodAntiAffinity`:
https://github.com/aws/karpenter/issues/1010#issuecomment-1011171630

[2022-01-12 16:50] shirwahersi opened #1131 "Windows support"
**Tell us about your request**
Windows OS support

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
We have mixed OS workload (Linux,Windows), we would like to managed both Linux/Windows nodes with Karpenter

[2022-01-12 17:08] arvindgorur opened #1133 "Spin up new node before expiring an existing node"
**Tell us about your request**
Ability to analyze workload on a node that is going expire and spin up a new one to handle the workload before the old one is expired.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
Let's say I have deployed a new application and there's no spare capacity in the cluster. Karpenter will provision a new node and th

[2022-01-12 17:51] youngjeong46 opened #1134 "Cleanup mechanism once a cluster is deleted"
## Version

**Karpenter**: v0.3.5

**Kubernetes**: v1.20

## Expected Behavior

I created an EKS cluster with an existing VPC (3 Public, 3 Private subnet) - both created using CDK, and then deployed Karpenter. Karpenter scaled correctly with a provisioner when I deployed a sample php server and scaled to 20 pods (creating 2 new nodes). Upon resource deletion, one of the nodes shut down but the oth

[2022-01-12 17:57] ellistarn commented on #1130
Security Groups are owned by the launch template. Karpenter's Security Group Selector injects those security groups into the karpenter managed launch template. If you specify a custom launch template, karpenter.

I agree this is annoying and unintuitive, but it's how the AWS APIs work. I'd love to figure out why you need a custom launch template and if the requirements can be met another way. Cust

[2022-01-12 19:49] RetWolf opened #1135 "Liveness controller doesn't terminate nodes in all cases"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.21.2

## Expected Behavior
Karpenter should gracefully handle scenarios where nodes are unable to join the cluster. In this scenario, Karpenter could wait forever (or for some configurable timeout period) for the nodes to join the cluster, or maybe Karpenter should continually delete the nodes that were unable to join the cluster and launch new

[2022-01-12 20:06] ellistarn commented on #1135
This is such a good find. Currently, the liveness controller terminates nodes that fail to connect: https://github.com/aws/karpenter/blob/main/pkg/controllers/node/liveness.go#L49. However, for nodes that *do* connect but *dont* become ready, this can happen! We've been aware of this gap, but haven't had an example of it happening, so we hadn't prioritized it.

I think we probably want to apply li

[2022-01-12 20:18] RetWolf commented on #1135
Are limits actually implemented? I had read the design doc here: https://github.com/aws/karpenter/blob/main/designs/limits.md but was under the understanding they aren't implemented yet? We actually have them commented out in our current Provisioner configuration as I was waiting until they were available 😄

[2022-01-12 21:09] suket22 commented on #1135
They are implemented. You can limit via cpu and memory. We've got a doc update in PR right now that should hopefully clear out that confusion - https://github.com/aws/karpenter/pull/1117

[2022-01-12 21:14] RetWolf commented on #1135
Awesome, thanks. I'll enable those in the meantime as a failsafe.

[2022-01-13 00:27] chrisnegus opened #1136 "Change "Cluster operator" to "Cluster administrator" in docs"
Karpenter docs currently refer to the person installing Karpenter and configuring provisioners as the "cluster operator". The term "cluster administrator" is more appropriate.

**How should the docs be improved?**
Update the docs to make that change throughout.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-request

[2022-01-13 03:45] slobo commented on #939
FWIW in the interim we are running a patched version of Karpenter that hardcodes root volume to 60GiB. See here for code: https://github.com/CourtAPI/karpenter/commit/8111c2b6d272b92ea23498291c59d5ef1bf8be63.

To deploy it in our cluster, we:
- Created 2 public ECRs: `karpenter/controller` and `karpenter/webhook`.
- Published the modified image to above repository
[code]
- Asked helm chart to use

[2022-01-13 13:48] bwmetcalf opened #1138 "amiIdList parameter not documented"
If we use a launch template that doesn't have an AMI defined, we get the following error:
[code]
However, I can't find this parameter documented anywhere so I'm not sure how to define it in the provisioner helm chart.

[2022-01-13 17:09] njtran commented on #1133
Hey @arvidgorur! Thanks for the issue. Karpenter's node deletion logic will actually drain the nodes and gracefully evict all pods scheduled to the node before we delete the node. This should allow the evicted/orphaned pods to schedule to a new node before we delete the node and the pod.

Have you seen behavior different than this?

[2022-01-13 17:57] #1136 closed

[2022-01-13 20:26] chrisnegus commented on #935
I'm adding a description of `do-not-evict` to the Deprovisioning page. I will have a PR for that shortly.

[2022-01-13 21:40] ellistarn commented on #1131
This should be straightforward to support as a new value for key `kubernetes.io/os`.

[2022-01-13 21:54] Tasmana-banana opened #1140 "Failed to find instance type option(s)"
Hi all!
When apply provisioner and scale test deployment i get some error in logs controller:
[code]
Use Provisioner:
[code]
Deploy karpenter chart by ansible:

[code]
Can u help my?
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintain

[2022-01-13 22:01] Tasmana-banana opened #1141 "Validation does not catch invalid capacity-type values"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.20.0

Hi all!
When apply provisioner and scale test deployment i get some error in logs controller:

[code]
Use Provisioner:

[code]
Deploy karpenter chart by ansible:

[code]
Can u help my?

[2022-01-13 22:19] suket22 commented on #1138
What were the contents of your launch template? As called out [by our docs](https://karpenter.sh/docs/aws/launch-templates/), if you're providing your own launch template to Karpenter, it must include the AMI in it.

[2022-01-13 22:21] suket22 commented on #1140
This looks like a duplicate of https://github.com/aws/karpenter/issues/1141 so I'm going to resolve this one.

[2022-01-13 22:21] #1140 closed

[2022-01-13 22:24] suket22 commented on #1141
Could you also share your deployment.yaml? I'd like to see what the pod was requesting for.

Also if you run
[code]

you might be able to see more verbose logging for our controller which might help as well.

[2022-01-13 23:10] njtran commented on #1134
Hey @youngjeong46! Thanks for cutting this issue.

If I understand correctly, `cdk destroy` is deleting the cluster stack without waiting for all nodes to finish terminating. Since Karpenter nodes aren't modeled in infrastructure as code, if the node with the Karpenter controller is terminated, any leftover unterminated Karpenter nodes will still have its finalizer and will be unable to be termina

[2022-01-13 23:43] akestner commented on #445
Would it be possible to consolidate this and #954 since they both deal with the same problem / request?

[2022-01-13 23:43] akestner commented on #954
Would it be possible to consolidate this and #445 since they both deal with the same problem / request?

[2022-01-14 00:18] ellistarn commented on #885
Hey @amitde69, we'd love to understand what about userdata you need. It's a challenging space that intermingles kubelet configuration and instance configuration. The more clear you can be about the use case, the better can find a solution that works cleanly with all use cases.

[2022-01-14 01:49] ellistarn commented on #1018
We haven't gone anywhere. @njtran is looking into this. :)

[2022-01-14 05:52] youngjeong46 commented on #1134
@njtran Thanks for your response. Currently the way Karpenter is deployed on our cluster is using cluster.addHelmChart within the cluster stack. It would be great to see Karpenter nodes terminated when Karpenter itself is deleted.

[2022-01-14 06:39] olemarkus commented on #1134
I am not sure it is a good idea to terminate all karpenter nodes just because one reinstalls the helm chart. I think it falls on the cluster manager to clean up such instances (e.g terminating the instances, which would then lead to pods running there being scheduled on ASG-managed instances).

[2022-01-14 08:44] Tasmana-banana commented on #1141
@suket22 shure
Deployment:
[code]
Also in debug mod i get two new debug logs:
[code]

[2022-01-14 11:33] sandeeplamb opened #1144 "Node not able to Join EKS Cluster via Launch Template"
## Version
Karpenter: v0.5.3
Kubernetes: v1.21.4-eks-033ce7e

## Expected Behavior
Node created via LaunchTemplate should be able to join EKS cluster

## Actual Behavior
I create a new Launch template with custom userdata. When Provisioner is created using the new Launch template, Node never joins the EKS cluster.

When I update the provisioner file with Launch template created by Karpenter, nodes

[2022-01-14 13:00] sandeeplamb commented on #1144
Issue Resolved
It was encrypted EBS volume. Should be un-encrypted
[code]

[2022-01-14 13:01] #1144 closed

[2022-01-14 13:59] Tasmana-banana commented on #1141
Ok, I have new error...
`controller.provisioning	Could not launch node, launching instances, with fleet error(s), InvalidParameterValue: Value (KarpenterNodeInstanceProfile-dev-eks) for parameter iamInstanceProfile.name is invalid. Invalid IAM Instance Profile name	{"commit": "5047f3c", "provisioner": "demand"}` Who know, what to attach the error to?
I checked several times, the role name is corre

[2022-01-14 14:35] stevehipwell commented on #973
I've opened #1145 to refactor the Helm chart and as part of that I've separated the ServiceAccount to one per component as the current logic was binding both sets of roles to a single ServiceAccount. This will also help make sure that the IAM role is only bound to the controller when using IRSA.

I've also changed the documentation to prefer the use of the created ServiceAccount rather than the na

[2022-01-14 14:45] bwmetcalf commented on #1138
Yes, the ami field is empty in the launch template.  After looking at the doc you provided again, I see that the ami must be included in the template.  I'll close this issue.

[2022-01-14 14:45] #1138 closed

[2022-01-14 15:11] sisuani-eb opened #1146 "Karpenter provisions multiple nodes when the pending pods claims for PV"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.21.0

## Expected Behavior

If the incoming node has enough resource to attach the volumes of the pending pods don't provision with new ones

## Actual Behavior

Karpenter provisions multiple nodes when the incoming node(s) are not ready yet even though the incoming node has enough resource to allocate the pending pods

## Steps to Reproduce th

[2022-01-14 17:18] mbevc1 opened #1148 "Leftover Network Interfaces after scaling down"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.21

## Expected Behavior

Scale up and down and Karpenter provisions and cleans up resources correctly.

## Actual Behavior

When scaling down there are some Network Interfaces left unattached from removed Pods/Nodes.

## Steps to Reproduce the Problem

Deploy Karpenter and demo inflate Deployment. Scale it up and then down to 0. Not always the

[2022-01-14 17:22] ellistarn commented on #1141
Keep in mind, this is an instance profile, not a role. Can you verify with `aws iam get-instance-profile --instance-profile-name KarpenterNodeInstanceProfile-dev-eks`?

[2022-01-14 17:32] aizumoff opened #1149 "Provisioning Docs - link to Running pods is 404"
https://karpenter.sh/docs/tasks/provisioning-nodes/ in the text "Refer to Running pods to see how the same features are used in Pod specs to determine where pods run." Running pods -> https://karpenter.sh/docs/tasks/running-pods is not existing (404 error).

https://karpenter.sh/docs/concepts/ -> "For more on how, as a developer, you can add constraints to your pod deployment, see Running pods for

[2022-01-14 17:43] ellistarn commented on #973
To complicate this a bit, I'd really like to move towards running the webhook and controller together. This is blocked by https://github.com/aws/karpenter/issues/863. I'd hate for you to do a bunch of work here and then have it be made obsolete.

[2022-01-14 17:44] ellistarn commented on #1146
Is this a duplicate of https://github.com/aws/karpenter/issues/1044

[2022-01-14 17:45] hscheib commented on #1141
I ran into this original error `ERROR	controller.provisioning	Failed to find instance type option(s) for ` and it was because my Provisioner config was incorrect.

I had
[code]
 And the correct value is "on-demand". So I just needed to double check my values.

FWIW, I turned on debug logs in the karpenter controller and did not see any validation errors when it starts and discovers the Provisioner

[2022-01-14 17:45] ellistarn commented on #1148
Hmm -- this looks like it might be an AWS VPC CNI bug. Can you file an issue over there: https://github.com/aws/amazon-vpc-cni-k8s

[2022-01-14 17:53] ellistarn commented on #1149
Nice catch! I just broke this -- let me fix it.

[2022-01-14 17:59] stevehipwell commented on #973
I did wonder why they were currently separate, this makes sense and would simplify the whole setup but while they're separate it makes sense to keep the RBAC separate.

[2022-01-14 18:01] ellistarn commented on #973
It's currently separate because we're using knative/pkg to generate certs, but controller runtime elsewhere. They both declare the same global flag for klog, so I haven't figured out how to run them in the same binary yet 😭. We can always do multiple containers in one pod though, which is the likely other approach.

[2022-01-14 18:33] arvindgorur commented on #1133
Hey @njtran thanks for getting back! So I'll elaborate a bit.

First, I followed the getting started guide to spin up a v1.20 EKS cluster. I scaled the deployment and Karpenter created a new node and bound the new pods to that node. At this point, there are two worker nodes - one part of the node group where Karpenter is running and one created by Karpenter to host the deployment. Then I updated t

[2022-01-14 18:40] ellistarn commented on #1149
https://github.com/aws/karpenter/pull/1150

[2022-01-14 18:42] ellistarn commented on #1133
Make sure you configure a https://kubernetes.io/docs/concepts/workloads/pods/disruptions/ to ensure pod availability.

[2022-01-14 19:36] arvindgorur commented on #1133
@ellistarn configuring a PodDisrupitonBudget worked. Thanks for the suggestion and yes, it is good to have as a best practice. Appreciate the quick response. I'm going to close the request.

[2022-01-14 19:36] #1133 closed

[2022-01-14 20:15] Tasmana-banana commented on #1141
@ellistarn  Thanks for the tip! Resolve using instance profile claster.
I tried to create just a role with the necessary permissions, this was my fakap.

[2022-01-14 21:26] ellistarn commented on #1141
Reopening so we can include this value validation.

[2022-01-14 21:47] RafPe opened #1153 "feat request: Add provisioned nodes to target group"
**Tell us about your request**
Would be great to have ability to specify target group for AWS provisioner for nodes i.e. via annotations

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
Trying to build completely automated/auto-scaling solution where from commit your IaC into running cluster there are no intermediary steps to be taken.

**Are yo

[2022-01-14 22:00] bwagner5 commented on #917
We should be able to pack based on ephemeral storage request and pass the sum of the pods' requests to the AWS Cloud Provider in Karpenter to provision an instance with a large root volume to account for the ephemeral resource requests. Note that this will only work if a custom LT is NOT used (Karpenter needs to dynamically generate the LT for this to work). If you use a custom LT, you'd have to m

[2022-01-14 22:02] ellistarn commented on #1153
By target group, I'm assuming you mean load balancer target group? Have you looked at the load balancer controller (https://github.com/kubernetes-sigs/aws-load-balancer-controller)? This may be an easy path forward.

[2022-01-14 22:02] #1149 closed

[2022-01-14 22:03] #1037 closed

[2022-01-14 22:08] RafPe commented on #1153
@ellistarn hey - yes thats what I meant. But I wanted to avoid extra frameworks running on k8s cluster.  Also LB is part of platform IaC and should ( in my case ) be not created from k8s cluster.

Hence the idea was that karpenter could be a perfect solution to have zerto-touch-k8s-cluster running :)

[2022-01-14 22:58] ellistarn commented on #1153
I'd think of karpenter and loadbalancer controller as core k8s-on-aws controllers. IAC is a bit tricky with dynamic systems. Most commonly we see the static bits being IAC (including karpenter and lb controller install), and then the dynamic bits flow from there without IAC.

I'm a bit pessimistic about taking on the complexity of integrating with load balancers directly. Karpenter aims to integra

[2022-01-14 22:59] ellistarn commented on #1153
Further, there are decent arguments that you shouldn't be load balancing directly to nodes using target registration. This can cause inefficient traffic patterns if pods are not equally spread across those nodes.

[2022-01-14 23:03] #969 closed

[2022-01-14 23:07] RafPe commented on #1153
@ellistarn So this is where it becomes a little bit subjective as from where I look at it I provision platform which is controlled by Terraform and enable the application layers to take over from a ready solution. And in that picture the load balancer controller does not really make a fit ( for me )

Further to that - I was not aiming to load balance directly to pods running on k8s various service

[2022-01-14 23:39] #1146 closed

[2022-01-15 00:38] dectl commented on #1017
A couple of reasons I can think of:
1.  EKS clusters created since v1.15 no longer require these tags on subnets per the EKS documentation.
2. Users may not always have permissions to add tags to subnets.

[2022-01-15 01:12] ellistarn commented on #1017
See the latest here: https://github.com/aws/karpenter/pull/1151

[2022-01-15 05:07] olemarkus commented on #917
How will you pack when custom LTs are used? We need to be able to pass in the expected capacity, I assume.

[2022-01-15 06:16] felix-zhe-huang commented on #1084
The refactored requirements enables a lot of new possibilities for improvement. For example, now we can tests if two different groups of requirements can co-exist or not, that allow us to create larger pod schedule when grouping pods. Also the requirements now supports Exists and DoesNotExists operators, which aligns with k8s' design.

[2022-01-15 22:16] amitde69 commented on #885
we are running on AWS  and we want to avoid using AutoScalingGroups / Launch Templates entirely.

we are using chef/custom scripts to bootstrap all EKS nodes to install some prerequisites before joining the nodes into the cluster, so we have custom userdata configure for all the EC2 EKS nodes.

if we can configure the userdata in Karpenter objects, it will allow us to not relay on AutoScalingGroup

[2022-01-16 00:55] ellistarn commented on #885
Is it possible to install these prerequisites using a daemonset with root permissions?

[2022-01-17 08:13] gowthams316 opened #1157 "Karpenter with Amazon EKS private cluster without outbound internet access"
**Is an existing page relevant?**

NA

**What karpenter features are relevant?**

Karpenter Node scaling when using completely Private Cluster or Private Subnets with no Internet access (No IGW and No NAT GW).

**How should the docs be improved?**
When creating an EKS Cluster with subnets having no route to internet, it is recommended to make sure the requirements for the same is met per EKS docum

[2022-01-17 11:26] lbvffvbl opened #1158 "waitForFirstConsumer PVCs fail to bind ebs gp3 (gp2) PV for newly created node"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.20.7-eks-d88609

## Expected Behavior

PV will be bound when statefullset encourages karpenter to scale up a new node
## Actual Behavior

when you create statefulset with volumeClaimTemplates for ebs storage which encourages karpenter to scale up a new node. Scheduler doesn't annotate PVC with volume.kubernetes.io/selected-node and ebs controll

[2022-01-17 11:32] lbvffvbl commented on #1158
It happens only with karpenter and doesn't happen when a new node is created by a cluster autoscaler. Can it be related to the node in Unknown state right after karpenter decided to scale up before the instance will be joined cluster?

[2022-01-17 16:55] ellistarn commented on #1158
Karpenter currently sets the selected node annotation here: https://github.com/aws/karpenter/blob/main/pkg/controllers/persistentvolumeclaim/controller.go#L82. This is normally done by the kube scheduler, but Karpenter does it when it binds, since the kube scheduler is not in the loop.

I don't think so.

[2022-01-17 16:58] ellistarn commented on #1158
I will attempt to reproduce on Tuesday.

[2022-01-17 17:09] lbvffvbl commented on #1158
aws-ebs-csi-driver

[2022-01-17 17:14] ellistarn commented on #1153
What about a daemonset that registers the node on startup? I think it's unlikely we will implement this in karpenter itself due to the previously mentioned concerns.

[2022-01-17 17:16] RafPe commented on #1153
Yep - I can do that. I have added instance-id into labels and will have an init-node code.

Thanks!

[2022-01-17 17:16] #1153 closed

[2022-01-17 23:11] shulyakav opened #1159 "Getting Started with Terraform, provisioner CRD - 404"
On page https://karpenter.sh/docs/getting-started-with-terraform/

 Link provisioner CRD    shows  404 (https://karpenter.sh/docs/provisioner-crd)

[2022-01-18 11:17] Izvi-digibank opened #1164 "Question | what are Controller and Webhook? How secret get data from webhook? NodeGroups & Tolerations- v0.5.3"
Using helm chart v0.5.3.
I've been trying to understand the differences and purpose of controller and webhook. Each one has its own deployment with own values.
Haven't found any explanations about these components in the documentation.

Also, in webhook deployment file, the secret creation depends on the webhook; it is being injected by karpenter-webhook:
[code]
I would appreciate a more elaborate

[2022-01-18 13:51] midestefanis opened #1165 "Error when creating provisioner - failed calling webhook"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.21.5

## Actual Behavior

Can't install provisioner. When I try to apply the provisioner I get this error:

`Error from server (InternalError): error when creating "provisioner.yaml": Internal error occurred: failed calling webhook "defaulting.webhook.provisioners.karpenter.sh": Post "https://karpenter-webhook.karpenter.svc:443/default-resource

[2022-01-18 14:11] midestefanis commented on #1165
@mikesir87 Is running. I leave controller and webhook logs:

**Controller**

[code]

**webhook**

[code]

[2022-01-18 14:14] midestefanis commented on #1165
I tried to put in debug mode but it fails me too:
[code]

[2022-01-18 14:20] mikesir87 commented on #1165
Ok. Those logs look reasonable. Are you following the guide from the start or using a pre-existing cluster?

[2022-01-18 14:26] midestefanis commented on #1165
I created the cluster with the same module as the example, only that a more updated version (18.2.0) has already been released. https://github.com/terraform-aws-modules/terraform-aws-eks

For example, the variable/output 'worker_iam_role_name' no longer exists.

[2022-01-18 14:37] mikesir87 commented on #1165
We pinned to a previous version of the module because the 18.0 release changed quite a few things (like handling of the auth_map ConfigMap) and we haven't had a chance to test and make the appropriate changes to support 18.x. I will probably be working on that this week, but until then, it might be more expedient for you to rollback to a 17.x release.

Out of curiosity... is there anything specifi

[2022-01-18 14:43] midestefanis commented on #1165
For now only with karpenter it seems to have broken something and I can't find what. The rest I was able to make the modifications successfully.

[2022-01-18 16:26] gohmc commented on #897
@eptiger , according to #893, is this the same thing to what you raised or you have another method using node affinity?

[code]

[2022-01-18 16:58] rayterrill opened #1166 "Karpenter Appears to Attempt to Delete Nodes, Hang on Finalizer"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.21

## Expected Behavior
Nodes should be terminated and exit cleanly.

## Actual Behavior
EC2 instance is terminated, node continues to remain in Kubernetes. Removing the karpenter finalizer allows the node to be fully deleted.

## Steps to Reproduce the Problem
Unsure - This has happened a few times now. Upgrading to 0.5.4 to see if this is st

[2022-01-18 17:16] njtran commented on #1166
Would you be able to share more information on your issue here? What exactly happened that wasn't expected? How long was the node up before the termination finalizer was removed? Was the termination finalizer never removed?

[2022-01-18 18:13] ellistarn commented on #1166
IIUC the logic already attempts to do this, though perhaps we're missing a detail with the EC2 API.

[2022-01-18 19:07] dectl commented on #1138
Having this same issue. Does Karpenter, by default, pick up the latest version of a launch template? If not, how can the version be specified?

[2022-01-18 19:52] dhadkara opened #1168 "page for cloudformation.yaml is not found"
Below page https://karpenter.sh/docs/getting-started/cloudformation.yaml is not found. So I cannot run below command in getting started guide
TEMPOUT=$(mktemp)
curl -fsSL https://karpenter.sh/docs/getting-started/cloudformation.yaml > $TEMPOUT \
&& aws cloudformation deploy \
  --stack-name Karpenter-${CLUSTER_NAME} \
  --template-file ${TEMPOUT} \
  --capabilities CAPABILITY_NAMED_IAM \
  --param

[2022-01-18 20:12] ellistarn commented on #1168
Thanks for calling this out. We'll try to resolve this before the next release.

[2022-01-18 21:28] rayterrill commented on #1166
I'll see if I can dig into our log management tool to find the logs from the Karpenter controller.

This is the 2nd time this has happened in our lab cluster - I actually went looking for it this morning to see if it had happened again, and indeed it had.

I looked at the cluster with Lens, and I could see the same situation as last week - two nodes sitting in cordoned/no schedule mode, and some p

[2022-01-18 21:48] #1159 closed

[2022-01-18 21:50] #1168 closed

[2022-01-18 21:58] mattmoor opened #1173 "Potential race signing with cosign"
## Version
HEAD

## Expected Behavior

Signing should happen by digest

I'd recommend hoisting the `ko publish` invocations that are embedded above this into variables and use them both places.

As a bonus, if you use `ko` at HEAD you will get SBOMs 😁

## Actual Behavior

https://github.com/aws/karpenter/blob/a0b9ba6fba05b74408c38724352ecee0f34bdb5a/Makefile#L83-L84

[2022-01-18 22:04] ellistarn commented on #1173
Hoping to get a new one of these ;)
![image](https://user-images.githubusercontent.com/2585992/150026099-302ed5df-c208-4f32-b178-8333fad864e6.png)

https://github.com/aws/karpenter/blob/main/tools/go.mod#L8

[2022-01-18 22:05] mattmoor commented on #1173
I'll talk to my people 😄

[2022-01-18 23:23] ellistarn commented on #984
We've made some improvements in this area, so I'm hoping it's resolved. Feel free to reopen.

[2022-01-18 23:50] #984 closed

[2022-01-19 02:49] alfianabdi opened #1180 "Failed to provision new node"
## Version

**Karpenter**: v0.5.3

**Kubernetes**: v1.21.2-eks-0389ca3

## Expected Behavior

A new node is provisioned when there are pending pods.

## Actual Behavior

New node is not provisioned. The controller threw these errors
[code]

## Steps to Reproduce the Problem

Create provisioner and deployment as in resource specs

## Resource Specs and Logs

Provisioner
[code]

Deployment
[code]

L

[2022-01-19 03:00] prateekgogia commented on #1180
From the error logs it looks like its not able to fit all the daemon set pods running in the cluster on to the instance types allowed  `2xlarge`.
Can you please provide the output for `kubectl get daemonsets -A`

[2022-01-19 03:05] alfianabdi commented on #1180
Hi @prateekgogia

[code]

[2022-01-19 10:07] SamPeng87 opened #1182 "webhook pod has some error,"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.19.15

## Expected Behavior

no any error log output

## Actual Behavior

[code]

## Steps to Reproduce the Problem

## Resource Specs and Logs

[2022-01-19 11:02] lbvffvbl commented on #1158
I think it can be because karpenter does it too fast. I tried annotating it manually but it doesn't affect until the node in an unknown state

[code]

[2022-01-19 11:40] Miszcz-AndY opened #1183 "Official documentation for fallback from spot to on-demand configuration."
**What karpenter features are relevant?**
Spot, on-demand.

**How should the docs be improved?**

I know there is no native karpenter solution to fallback to on-demand instances if spot is not available yet and you are working on [that](https://github.com/aws/karpenter/issues/714). **If it's true, that we can configure karpenter in this way** (within fallback to on-demand if spot is not available

[2022-01-19 12:03] Miszcz-AndY commented on #1183
🤔 I can see documentation is changing dynamically (so cool and tx a lot!) 😄 I can see there is such section now: https://karpenter.sh/v0.5.3/tasks/running-pods/#node-affinity-nodeaffinity and I think it's mostly what I was asking for.

As there is no information directly about fallback to on-demand I don't close this gentle request and want to ask you to decide if you want to close it (as actual d

[2022-01-19 12:21] Miszcz-AndY opened #1184 "Handling of 'Spot Instance interruptions'"
**What karpenter features are relevant?**
spot Instance interruption

**How should the docs be improved?**
If it's true that karpenter is taking care of ec2 notifications (including Spot Instance interruptions) will be super to read about it in the official documentation. I'm not sure if there is such feature but because of [this info](https://www.youtube.com/watch?v=43g8uPohTgc&t=1251s) I decided

[2022-01-19 15:06] flaviosakakibara opened #1185 "Getting Started with Karpenter on AWS"
**Issue**:
When following the tutorial provided in [this](https://karpenter.sh/docs/getting-started/) link the created nodes are presenting a NotReady satus.

**Cause**:
Checking internal IPAM-D logs, I can see the following error

[code]

This is happening because the the node role "KarpenterNodeRole" from [this](https://karpenter.sh/docs/getting-started/cloudformation.yaml) template is not addin

[2022-01-19 15:29] flaviosakakibara commented on #954
@akestner,

It would seem more logical to me, from a user perspective, to inform in the provisioner specs whereas the ENI prefix is being used in the cluster's CNI or not. Then the amount of pods could be calculated using the [MaxPodsCalculator](https://github.com/awslabs/amazon-eks-ami/blob/master/files/max-pods-calculator.sh) or any other similar method.

If we use the "max-pods" as a parameter

[2022-01-19 16:36] rayterrill commented on #1166
Ok - Happened again in our env. ip-10-30-14-231.us-west-2.compute.internal is currently "stuck" - sitting there in cordoned state according to k8s, but gone from EC2.

Here are the logs.

Initial instance of karpenter-controller (looks like this pod restarted):
[code]

Looks like something upset the hnc pod, which blocked leader election on karpenter.

2nd instance of karpenter-controller (running

[2022-01-19 17:40] Moser-ss commented on #1180
I have the same issue. At the moment my cluster has 2 nodes, one` m5.xlarge` and one` m5.2xlarge`, and karpenter keeps telling me that cannot add a new node.
I cannot understand this behavior, if my dameonsets can run in an ` m5.xlarge`  it should get several ` m5.xlarge`

[code]
My Provisioner object
[code]

[2022-01-19 17:43] prateekgogia commented on #1185
Can you please share whats the version on CNI installed? I installed a CNI version `v1.10.1` and didn't see this issue.

[2022-01-19 17:50] flaviosakakibara commented on #1185
I'm using the **v1.9.3-eksbuild.1** version but, tbh, I don't see any relation between the CNI version and the IRSA configuration (unless that, in the referred version, the component make different API calls, which is not clear in the [Changelog](https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.10.1/CHANGELOG.md)).

Could you just confirm if you're not using IRSA for it? ("kubectl get sa -n kube-

[2022-01-19 17:53] prateekgogia commented on #1184
Hi @Miszcz-AndY

At the moment Karpenter doesn't handle ec2 notifications, the way it works today is - If a node is terminated in EC2, Kubernetes will try to reschedule the pods to a different node if there is capacity. Otherwise, these pods will go pending and Karpenter will see these pending pods and launch the required capacity in EC2.

The youtube link you have provided is more of a set of fea

[2022-01-19 17:53] #1184 closed

[2022-01-19 18:24] ellistarn commented on #1158
I know this works without stateful sets. Let me see if something is meaningfully different in this case. Minimally, we can always wait for the node to be ready.

[2022-01-19 18:34] ellistarn commented on #1158
I attempted to reproduce your exact setup and was successful
[code]
What version of the ebs csi driver are you using?

[2022-01-19 19:18] lbvffvbl commented on #1158
v1.0.0

[2022-01-19 19:40] DWSR commented on #1109
We're running into an issue where the in-tree provisioner used the deprecated `failure-domain.beta.kubernetes.io/{region,zone}` labels, and so Karpenter will not select it:
[code]

It would be really helpful if Karpenter could support these labels for those of us still using in-tree provisioned volumes.

[2022-01-19 19:50] lbvffvbl commented on #1158
Actually i did not see in logs any messages from controller.volume
[code]

[2022-01-19 20:06] lbvffvbl commented on #1158
I upgraded karpenter to 0.5.4 version and the problem is gone. Look like you should actualize information there
https://karpenter.sh/

[2022-01-19 20:21] prateekgogia commented on #1183
We can revisit this once we have the fallback to OD support available in Karpenter.
I guess at the moment you found what you were looking for :)
I will close this issue for now :)

[2022-01-19 20:22] ellistarn commented on #1158
Aha! This was released in v0.5.4: https://github.com/aws/karpenter/releases/tag/v0.5.4.

[2022-01-19 20:22] lbvffvbl commented on #1158
https://github.com/aws/karpenter/blob/v0.5.3/cmd/controller/main.go#L91 PVC controller was not runned

[2022-01-19 20:23] ellistarn commented on #1158
It wasn't even implemented then. I'm trying to track this down in the docs too, since I could've sworn I documented this.

[2022-01-19 20:27] lbvffvbl commented on #1158
yep. but everywhere is pointed 0.5.3 version
https://karpenter.sh/preview/getting-started-with-terraform/
https://karpenter.sh/preview/getting-started/

It confused me. And as I see actual version is 0.5.5 already :)

[2022-01-19 20:32] lbvffvbl commented on #1158
Anyway thanks for helping. I think we can try to migrate on it

[2022-01-19 20:32] #1158 closed

[2022-01-19 20:33] ellistarn commented on #1158
We had some docs issues that should be sorted out in v0.5.5. Good to work this out with you!

[2022-01-19 20:36] felix-zhe-huang commented on #1180
This is a known issue. Currently daemon sets are not correctly considered in provisioning nodes. A fix is coming.
Please follow this issue.
https://github.com/aws/karpenter/issues/1084

[2022-01-19 20:36] prateekgogia commented on #1182
Thanks for filing this issue, I will try and see if I can recreate. Can you please add some more information about steps to reproduce the issue?
Are you trying to create multiple provisioners at the same time?

[2022-01-19 21:30] ellistarn commented on #1182
Hey @SamPeng8, I believe this is part of normal operation. We use Kubernetes optimistic locking when we modify resources. If the resource is concurrently modified by another actor (e.g. helm, etc), you can get errors like this. The system should self heal.

Feel free to reopen if there are additional downstream effects beyond these log lines.

[2022-01-19 21:30] #1182 closed

[2022-01-19 21:41] ellistarn commented on #1185
Thanks for reporting. Fixed here https://github.com/aws/karpenter/pull/1190

[2022-01-19 21:53] ellistarn commented on #1183
We need to document this more explicitly. If your provisioner supports capacitytype=[spot, on-demand], karpenter will prioritize spot, and launch on demand if every instance type is out of capacity. Leaving this open as a docs issue.

[2022-01-19 22:33] ellistarn commented on #1166
Adding :burning to this. We need to get this sorted out in the scale down logic.

[2022-01-19 22:41] #1185 closed

[2022-01-19 22:46] ellistarn commented on #1184
FYI, this is a duplicate of https://github.com/aws/karpenter/issues?q=is%3Aissue+is%3Aopen+termination

[2022-01-19 22:48] #445 closed

[2022-01-19 22:59] ellistarn commented on #1164
Karpenter doesn't use node groups. I recommend reading through https://karpenter.sh/v0.5.5/

The webhook handles validation and defaults for Provisioner CRDs (see https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/). Since the API Server needs to call our pod, it needs a certificate and a self-signed CA bundle. The webhook uses knative pkg machinery to generate and injec

[2022-01-20 00:27] tobernguyen commented on #1109
We're running into this same issue that prevents us from adopting Karpenter unfortunately. A workaround to support in-tree provisioner would be greatly appreciated!

[2022-01-20 04:53] SamPeng87 commented on #942
This is a very popular feature to use, and if karpenter is deployed you have to pay for it, such as calculating a new machine to put in first from request. This is the simplest scheduling strategy, but it solves 90% of the problems.

[2022-01-20 08:46] alfianabdi commented on #1180
I see
My problem was because one of the daemonset has ephemeral-storage request, even though the size is smaller than the node disk size, looks like the controller cannot consider it.

[2022-01-20 12:34] Izvi-digibank commented on #1164
@ellistarn Thanks for your answer.

What do you mean by _"Karpenter doesn't use node groups"_?

### **use case:**
I have an EKS node group with 2 nodes and they are full (38 pods in each node, which is the EKS limit). I expect Karpenter to create a new node in this node group for other scheduled pods to join.
So, do I need to define anything to make Karpenter observe this Node Group ?
Currently Ka

[2022-01-20 16:23] abhishiekgowtham opened #1194 "Weighted policy for capacity type"
**Is an existing page relevant?**

When using capacity type spot and on-demand instances, is there somehow i can set weighted policy like only use 80% of on-spot instances and 20% of on-demand? Also, how would karpenter deal with this if i set those constraints at launch template level.

**What karpenter features are relevant?**

**How should the docs be improved?**

### Community Note

* Please v

[2022-01-20 16:49] ellistarn commented on #1194
Closing as dup of https://github.com/aws/karpenter/issues/331

[2022-01-20 16:49] #1194 closed

[2022-01-20 16:52] ellistarn commented on #1164
Karpenter creates instances directly and manages them using Kubernetes node objects. Karpenter does not interact with node groups. See this for more: https://karpenter.sh/v0.5.5/faq/#how-does-karpenter-interact-with-aws-node-group-features

[2022-01-20 16:58] ellistarn commented on #1130
Feel free to reopen if this doesn't make sense.

[2022-01-20 16:58] #1130 closed

[2022-01-20 17:08] bwagner5 commented on #1088
The fix has been released in v0.5.5

[2022-01-20 19:11] #954 closed

[2022-01-20 19:11] ellistarn commented on #445
Coming in v0.5.6

[2022-01-20 19:12] #1017 closed

[2022-01-21 12:06] zeagord opened #1198 "Broken link in the Getting started section"
**Is an existing page relevant?**
Yes, there are broken links in the getting started grafana dashboards section
https://karpenter.sh/v0.5.5/getting-started/#create-grafana-dashboards-optional

**What karpenter features are relevant?**
N/A

**How should the docs be improved?**
Fix the broken links

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016

[2022-01-21 17:28] DiMarcello09 opened #1200 "invalid nodeSelector "kubernetes.io/hostname", [] not in []"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.21.2-eks-0389ca3

## Expected Behavior
Karpenter should scale up to make PODs schedulable.

## Actual Behavior
PODs are staying in pending state, Karpenter is logging the following:

`2022-01-21T09:01:44.862Z    INFO    controller.provisioning    Unable to schedule <podname>/microservices, invalid nodeSelector "kubernetes.io/hostname", [8eadezc

[2022-01-21 17:33] ellistarn commented on #1200
Hey @DiMarcello09, was this ever working for you? You mentioned in slack that the problem is "getting worse". In the short term, remove the hostname topology rule (if you can), which I think is causing this.

[2022-01-21 17:39] ellistarn commented on #1200
Hmm -- I'm not able to reproduce this.

[code]
[code]

[2022-01-21 17:39] ellistarn commented on #1200
Can you verify your karpenter version for me?

[2022-01-21 17:42] DiMarcello09 commented on #1200
So on the initial rollout this worked absolutely fine and right now its not anymore.

Verifying karpenter version:

`kubectl get pods -n karpenter -l karpenter=controller -o jsonpath="{.items[*].spec.containers[*].image}"
public.ecr.aws/karpenter/controller:v0.5.4@sha256:19ebf83d64fa41d75fb19ae5047f54b1c66423b4ab5ceef36ae99a0daaad1895`

[2022-01-21 17:46] DiMarcello09 commented on #1200
I removed the hostname topology on one deployment spec, Karpenter scaled up again and the other PODs were also able getting scheduled now (where I haven't removed the hostname topology yet).

[2022-01-21 17:47] ellistarn commented on #1200
This is very surprising. Can you post as many logs as you have from the karpenter controller?

[2022-01-21 17:47] prateekgogia commented on #1200
For reference I am also on the latest (v0.5.5) Karpenter version and the following specs work for me-
Provisioner spec-
[code]

TopologySpread on Pod -
[code]

[2022-01-21 18:03] ellistarn commented on #1200
Any ideas for differences I may not be accounting for in my reproduction? Perhaps a provisioner spec?

[2022-01-21 18:05] DiMarcello09 commented on #1200
Here is the log of the last like 50 minutes. I had debugging mode enabled, if I did it right.

[karpenter.log](https://github.com/aws/karpenter/files/7915735/karpenter.log)

[2022-01-21 18:37] slobo commented on #1056
We got bit by this too. It's probably safe to say that other early Karpenter adopters will be AWS customers like us who may have setup CloudWatch Logs Fluent Bit exporter by following the AWS documentation. We were able to solve our log enrichment problem by updating our `fluent-bit-config` to include `containerd` parser like below.

I suspect that if you have mix of nodes with different runtimes

[2022-01-21 19:52] ellistarn commented on #1200
This is very strange to me. I'm seeing hostname values that match the hashing strategy we use for hostname topology, but it's not clear to me why this is happening. Let me deep dive to code.

[2022-01-21 20:55] #909 closed

[2022-01-21 21:36] hawkesnc opened #1202 "Provisioner API - Doesn't mention LaunchTemplate"
Referencing: https://karpenter.sh/v0.5.5/aws/launch-templates/#define-launchtemplate-for-provisioner

This link shows the option for `launchTemplate` and should be included in the Provisioner API page
https://karpenter.sh/v0.5.5/provisioner/

[2022-01-22 00:07] ellistarn commented on #1202
This piece of the docs is vendor neutral. You can find AWS Provider specific docs here: https://karpenter.sh/v0.5.5/provisioner/#specprovider

[2022-01-22 00:07] #1202 closed

[2022-01-22 00:08] geoffcline opened #1203 "document node expiry and relation to upgrades/repaving/rehydrating"
**Is an existing page relevant?**

https://karpenter.sh/v0.5.5/tasks/

**What karpenter features are relevant?**

node expiry

**How should the docs be improved?**
How does Karpenter handles EC2 running after cluster upgrades? Does it upgrades EC2 nodes automatically also?

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-

[2022-01-24 05:55] hawkesnc commented on #1202
Good point! Thanks for explaining! Good to keep it closed.

[2022-01-24 12:25] DiMarcello09 commented on #1200
Any news on this? It happened again today. I haven't removed the hostname topology yet.

[2022-01-24 13:00] agrrh commented on #944
Looks like things became broken in 0.5.5. Following config results in different node naming:

[code]

- 0.5.4 produces "my-custom-name", as expected
- 0.5.5 results in "karpenter.sh/provisioner-name/example-provisioner"

[2022-01-24 14:21] mslavin-tibco commented on #944
@ellistarn I'm guessing it was this change that broke things https://github.com/aws/karpenter/commit/a304cb51f5adf6c4b45d77c6a615d2ea62477937#diff-78dcc34ff9df6a5c682f80310e41a5ba740d8c1f6a03736929f9d6b1cb16d0fa?

[2022-01-24 14:54] midestefanis commented on #1165
I have tried again, reinstalling the cluster from scratch with version 18.2.2 of the EKS module and I still have errors, only now I see other errors:

The controller pod has no errors, the webhook pod does. It seems to be a certificate problem.

**webhook pod, error logs:**
[code]

**webhook pod, full logs:**

[code]

[2022-01-24 16:51] amitde69 commented on #885
Not really because we are installing SSM agent on the nodes at start up, if the node fails to join th cluster then we wont have SSM access to debug it
but thats just one example, eventually it decoupling Karpenter from the launch template sounds like the best option to me, to be able to configure all the instance options in the provisioner and let karpeneter to the rest for you.

[2022-01-24 16:54] ellistarn commented on #944
https://github.com/aws/karpenter/pull/1211

[2022-01-24 16:56] ellistarn commented on #1200
Hey @DiMarcello09. I've marked this as a burning bug. We will get to the bottom of this as soon as we can. Can you provide a provisioner spec?

[2022-01-24 16:58] DiMarcello09 commented on #1200
Provisioner spec we're using is the following:

[code]

[2022-01-24 16:58] ellistarn commented on #1165
Does the webhook eventually recover?

[2022-01-24 18:11] midestefanis commented on #1165
No, it never recorvers. From the logs, it seems that is looking for a configmap named 'karpenter-webhook-cert' that doesn't exist.

[code]

[2022-01-24 18:19] midestefanis commented on #1165
It seems not. It keeps throwing TLS handshake error from ***:36928: EOF. The secret 'karpenter-webhook-cert' exists and has the cert so I don't understand what the problem is.

[2022-01-24 19:16] johngmyers commented on #1102
The Provisioner API documentation https://karpenter.sh/v0.5.5/provisioner/ omits any documentation of the "limits" field.

The fields `ttlSecondsUntilExpired`, `ttlSecondsAfeterEmpty`, `taints`,  and `labels` are only documented in the example, not in the body of the document. The field `kubeleteConfiguration` is only documented in the body, not in the example.

[2022-01-24 19:26] johngmyers commented on #1102
It would probably be clearer to put the page documenting the AWS-specific provisioner API as a sub-page of "Provisioner API" instead of as a sub-page of "AWS".

[2022-01-24 22:57] prateekgogia opened #1216 "Document Pod Density and Default Instance Profile"
**Is an existing page relevant?**

**What karpenter features are relevant?**

https://github.com/aws/karpenter/pull/1032
https://github.com/aws/karpenter/pull/914

**How should the docs be improved?**
For the issues linked above, Karpenter is missing docs update

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-reques

[2022-01-24 23:09] mikesir87 commented on #1216
I'd be happy to take this on, since I authored the two mentioned PRs.

@ellistarn We don't have a good spot in the docs for CLI flags. Add a new page or add it to an existing one? In this case, both are AWS-specific too. Maybe a single CLI flag page with different sections for the various providers?

[2022-01-25 00:43] #1114 closed

[2022-01-25 01:15] rwd5213 commented on #1088
Thank you! tested it out today and worked great!

[2022-01-25 08:11] vietwow opened #1218 "[Question] Karpenter doesn't scale out"
Hi all,

I am trying Karpenter 0.5.5 (using official helm chart) on my fresh EKS v1.21.5 cluster, I used IRSA to give permission to karpenter pod

here is my helm value :
[code]

Here is my provisioner YAML :

[code]

I got the problem that Karpenter doesn’t trigger any new nodes even I have unschedulable pods due to lack of resources

I also checked log Karpenter logs controller but there is noth

[2022-01-25 09:08] Noksa opened #1219 "Karpenter tries to create 'null' instance if there is no capacity for a selected instance type in an AZ"
## Version

**Karpenter**: v0.5.4

**Kubernetes**: v1.21.2

## Expected Behavior

Karpenter will try to create an instance type again and again until it is created
## Actual Behavior

Karpenter tries to create 'null' instance instead. See logs.
## Steps to Reproduce the Problem

Try to create a pod that requires an instance type that is not currently available in a desired AZ.
Pod should have/use

[2022-01-25 09:35] alekc commented on #1218
Try to set debug mode `kubectl patch configmap config-logging -n karpenter --patch '{"data":{"loglevel.controller":"debug"}}'` and recreate the pod

[2022-01-25 09:56] vietwow commented on #1218
@alekc Thanks for hint

Here is debug logs :

[code]

Look like two problem, one is about invalid nodeSelector "topology.kubernetes.io/region", and the second is about Ignoring pod, pod anti-affinity is not supported. Is it right ?

Any suggestion? Thanks

[2022-01-25 13:59] jlarfors commented on #942
Seems like almost every 3rd party Helm chart has a default affinity of `podAntiAffinity`, and doesn't expose `topologySpreadConstraints`... This really should be a high priority if Karpenter is to be a real alternative to Cluster AutoScaler, which I think it should be as Karpenter is awesome otherwise.

[2022-01-25 16:22] Izvi-digibank opened #1220 "Reconciler error- controller metrics and provisioning"
I've installed Karpenter 0.5.3 following the [getting started with terraform- documentation.](https://karpenter.sh/v0.5.3/getting-started-with-terraform/)

My first controller is defined as follows:

[code]

from karpenter-controller pod I see the following error:

[code]

Can you please tell what is wrong?

[2022-01-25 16:52] Izvi-digibank commented on #1164
@ellistarn Thanks, you helped a lot. Could you please check this one also? https://github.com/aws/karpenter/issues/1220#issue-1114100260

[2022-01-25 17:59] ellistarn commented on #942
Doing a bit of research -- it looks like podAffinity is not supported for daemonsets: https://github.com/kubernetes/kubernetes/issues/29276. This should make our implementation a little easier.

[2022-01-25 18:00] ellistarn commented on #1220
The AWS tag is typically uppercase `Name` not lowercase `name`. Take a look at the tags in console or aws cli.

[2022-01-25 18:25] ellistarn commented on #942
Further, looking at https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity:

Initial support may be constrained to `kubernetes.io/hostname`.

[2022-01-25 18:43] bwagner5 commented on #1219
Can you post the pod spec and provisioner spec? I'm a little confused on how it's getting `null`, hopefully the full configuration will allow me to reproduce this. :)

[2022-01-25 19:04] bwagner5 commented on #1218
Hey @vietwow, Karpenter does not currently support pod anti-affinity. We also have not supported the node selector you are using, `topology.kubernetes.io/region`, since most cluster setups are confined to a single region so it doesn't make a difference in scheduling.

Is there a specific reason to select nodes in the region? Do you have a cluster spanning regions?

We do support the zone well-know

[2022-01-25 20:08] bwagner5 commented on #1218
This is similar to this https://github.com/aws/karpenter/issues/1109

Are you using the in-tree EBS volume driver (should see this label: `kubernetes.io/aws-ebs`)?

[2022-01-25 22:05] ellistarn commented on #942
It looks like we may be able to reuse our topology implementation for anti-affinity. I have a prototype here: https://github.com/aws/karpenter/pull/1221/files

[2022-01-26 01:48] suket22 commented on #1166
I've tried a couple things, but haven't been able to reproduce.
1. In the simplest case, I terminate the instance from EC2 directly. Node controller detects this and marks the node as unschedulable. I see the pods are evicted and the node is eventually cleaned up by the termination controller.
2. Next, I tried deploying pods that **tolerate all taints**. My guess was that maybe the Karpenter contr

[2022-01-26 02:54] joebowbeer commented on #942
@ellistarn can you clarify what these namespace restrictions mean in practice?

For example, would they still support the antiAffinity uses in the Prometheus Operator? (https://github.com/aws/karpenter/issues/942#issuecomment-989075615)

I'm not sure I follow your statement that best practice is to avoid use of these features. By features do you mean pod affinity/antiAffinity? The only statement I

[2022-01-26 04:03] vietwow commented on #1218
@bwagner5 thank you so much for your information, but it's weird because I don't use any node selector https://topology.kubernetes.io/region as the log output. It comes from the public chart, you could take a look at here: https://github.com/zalando/postgres-operator/tree/master/charts/postgres-operator

[2022-01-26 04:12] ellistarn commented on #942
Cross namespace affinity gets expensive quickly. IIUC the prometheus operator is using `namespaces: [prometheus]`. This is how topology works by default (i.e. same namespace), so its trivial to open it up to that. Supporting cross namespace is definitely a bigger lift.

[2022-01-26 04:16] ellistarn commented on #1218
We could potentially just ignore the region label. I don't know of any cloud provider who is cross-region, so I don't understand the purpose of this label. Perhaps users replicate YAML for clusters in many regions, and only want rules to apply in some regions.

[2022-01-26 04:42] joebowbeer commented on #942
Yes, that is my reading of the code as well. Thanks for clarifying.

[2022-01-26 04:49] vietwow commented on #1218
@ellistarn but in my case, I don't have any region label , also I use only 1 region. so how could I resolve/workaround this? Thanks.

[2022-01-26 11:31] Izvi-digibank commented on #1220
Thanks! However Karpenter is still not creating a new node.
I created these [provisioner](https://karpenter.sh/v0.5.3/getting-started-with-terraform/#provisioner) and [deployment](https://karpenter.sh/v0.5.3/getting-started-with-terraform/#first-use) following the documentation.

[code]
It seems like not Karpenter was the one to scale this deployment. Please see the logs shows nothing other that w

[2022-01-26 12:16] kgyovai commented on #1200
__Kubernetes: v1.21.2-eks-06eac09__

I'm encountering what seems to be an issue with `topologyKey: kubernetes.io/hostname` that is affecting scheduling but my particular issue is occurring when I'm attempting to use `podAntiAffinity` rather than `topologySpreadConstraints`.

[code]

Expected: 3 replicas within stateful set are scheduled 1 per node (3 node EKS cluster)

Actual: Pod is pending
NAME

[2022-01-26 14:49] alekc commented on #1134
The "cleanest" way to deal with it would probably be providing in the docs one possible lambda which will terminate related nodes on cluster termination.

But such implementation would be very provider specific (for now we have aws only but what about the feature).

[2022-01-26 14:56] Noksa commented on #1219
Sure.

Provisioner:
[code]

Important parts from pod spec:
[code]

[2022-01-26 15:04] vietwow commented on #1218
one thing I get noticed is the the statefulset have 3 replicas, but Karpenter only got the problem with 2 pods, 1 pod is running successfuly :

[code]

but the log said :

`2022-01-26T14:47:10.525Z	DEBUG	controller.selection	Could not schedule pod, matched 0/1 provisioners, tried provisioner/default: invalid nodeSelector "topology.kubernetes.io/region", [ap-southeast-1] not in []	{"commit": "723b1

[2022-01-26 16:18] Izvi-digibank opened #1225 "Karpenter doesn't create Nodes"
Installed Karpenter following the documentation. Created the following provisioner:

[code]

The resource I am trying to match with the provisioner above is:
[code]

The error I get:
`
2022-01-26T16:07:43.841Z	DEBUG	controller.selection	Could not schedule pod, matched 0/1 provisioners, tried provisioner/provisioner-test: invalid nodeSelector "dwh", [yes-dwh] not in []	{"commit": "5047f3c", "pod":

[2022-01-26 16:44] ellistarn commented on #1225
Currently, only well known labels are supported via requirements. For custom labels, use the explicit labels syntax:
[code]

I'm surprised our validation logic allowed this. @felix-zhe-huang can you take a look?

[2022-01-26 16:58] ellistarn commented on #1216
@geoffcline @chrisnegus can you chime in on structure?

[2022-01-26 17:03] rothgar commented on #331
Two (maybe random) questions.

Should `node.k8s.aws/capacity-type-distribution/spot-percentage` be an annotation instead of a label?

Now that we'd have 2 separate deployments how would that work with HPA? How would it know which deployment to scale and keep the total application deployment balanced?

[2022-01-26 17:23] pnjihia opened #1226 "Does Karpenter provide vertical scale-in?"
I'm evaluating Karpenter and I wanted to know if there's a way to vertically scale down a large node with few pods. The only scaling actions seem to be triggered by either unschedulable pods or empty nodes.

Scenario: I scheduled **5** pods and the scheduler gave me one `c5d.2xlarge` instance, and that resulted in a **65%** utilization (not bad). I killed **3** pods and utilization dropped as expe

[2022-01-26 17:54] vietwow commented on #1218
@bwagner5 As we discussed in slack, this is likely due to the EBS in-tree provider which adds that region label. We should certainly add support for the region label in Karpenter since we have had a few users have similar issues. So now I have to temporarily back to ClusterAutoscaler until this is supported. thank you so much for your reply

[2022-01-26 18:07] geoffcline commented on #1216
Suggestion: Add "reference" section, move provisioner API under new section; add karpenter args page to this section; identify AWS specific content using a "☁️ AWS" header. This is assuming the page would be <50% AWS specific content.

[2022-01-26 18:10] vietwow commented on #1109
I also got the same issue. Really wait for this feature to be supported soon. Thanks

[2022-01-26 18:35] suket22 commented on #1135
Released as part of https://github.com/aws/karpenter/releases/tag/v0.5.6

[2022-01-26 18:35] #1135 closed

[2022-01-26 18:39] ellistarn commented on #1225
Are you following the getting started guide? There are many reasons the node can't connect.
- instance profile needs the right permissions
- security groups need connectivity to the masters
- iam role needs to be granted access.

Try logging into the node with
[code]
and then reading the kubelet logs with
[code]

[2022-01-26 18:39] suket22 commented on #1226
@pnjihia Thanks for reaching out.

We've been tracking this feature request here - https://github.com/aws/karpenter/issues/1091. We've been calling it defragmentation and the idea is as you say to consolidate workloads once worker node node utilization reduces.

As a workaround until that is impelemented, you could set a node TTL of 1 day. This would lead to Karpenter re-packing your pods every da

[2022-01-26 18:39] #1226 closed

[2022-01-26 18:40] alekc commented on #1225
@Izvi-digibank check your subnet selectors. I had a similar issue, it was caused by nodes binding to public subnet instead of private.

[2022-01-26 18:53] suket22 commented on #1220
Karpenter waits for pods to be declared unschedulable by the kube-scheduler before provisioning new capacity for it. If there was capacity for your inflate pods to land on, then Karpenter won't intervene as no new nodes are needed.

It looks like your 5 inflate pods went into `Running` so they might've landed on some other worker nodes in your cluster that had available capacity. You could continu

[2022-01-26 19:06] nicolas-porta commented on #1165
Hello! Any news on this ? I’m having exactly the same problemas as @midestefanis

[2022-01-26 19:19] ellistarn commented on #1165
This is going to be a challenging one, as I expect it's within knative/pkg's certificate generation logic. We're going to need to collect evidence, and hopefully eventually land on reproduction steps. In the short term, I recommend reinstalling the helm chart and see if you can move past it -- if not, then the silver lining is we have a reproduction.

[2022-01-26 19:27] olemarkus commented on #1165
Is it possible to tell karpenter not to use the knative TLS provisioning and rely on e.g ca-injection from cert-manager (e.g load balancer controller does this)?

[2022-01-26 19:28] alekc commented on #1216
Since we are at it, I would suggest adding a separate value in helm chart for this env var, something like
[code]
which if set to **false** will add envvar to the controller deployment

[2022-01-26 19:28] ellistarn commented on #1165
You can use cert-manager to create/maintain this secret instead.

[2022-01-26 19:56] ellistarn commented on #942
See https://github.com/aws/karpenter/pull/1221/files#diff-dd2ae84838dbbe5f8348c698c96aecf8d9ee688821c432568a42029259e29474R48

[2022-01-26 20:32] pnjihia commented on #1226
Thanks @suket22 .. I was missing the keywords.

[2022-01-26 20:36] suket22 commented on #1148
@mbevc - were you able to file an issue against the VPC CNI? The CNI is responsible for attaching, detaching and deleting ENIs on worker nodes I'm going to resolve this unless there's something else we can help with

[2022-01-26 20:49] geoffcline commented on #1216
@ellistarn can I get a 2-3 sentence summary of https://github.com/aws/karpenter/pull/1032 and this issue?

[2022-01-26 21:10] bwagner5 commented on #917
We're going to need to explore the different design options for custom LTs future and will take ephemeral storage packing into consideration within those options. I can see this working w/ custom LTs through introspection of the root volume size and/or just taking into account some overhead for images that may be configurable like we have for max-pods.

We definitely don't want this parameter expl

[2022-01-26 21:23] ellistarn commented on #1216
Nodes are configured support a maximum number of pods, specific to the cloud provider. Previously for AWS, this number was limited by the number of attachable ENIs on the specific EC2 instance type. With AWS VPC CNI v1.9+, much higher pod densities are supported. By default, `--aws-eni-limited-pod-density=false`, the AWS cloud provider will limit the number of pods to the default Kubernetes upstre

[2022-01-27 01:46] tmokmss commented on #985
+1 to podAffinity support

We're investigating if we can use Karpenter with Agones, and found that Agones use podAffinity for pod scheduling to pack as much as possible into the smallest set of nodes. [doc](https://agones.dev/site/docs/advanced/scheduling-and-autoscaling/#pod-scheduling-strategy)
Because Karpenter currently ignores pods with podAffinity, we cannot use Karpenter to provision nodes

[2022-01-27 01:50] zeagord commented on #1198
Closing this as it is fixed in the latest release - https://github.com/aws/karpenter/releases/tag/v0.5.6

[2022-01-27 01:50] #1198 closed

[2022-01-27 01:51] ellistarn commented on #985
What if the pods aren't created at the same time? If Karpenter only sees the first pod, it will launch a node for it. If the next pod c omes in a minute later, it's too late for that pod to be included in the scheduling algorithm. This doesn't exist for anti-affinity because scheduling apart achieves the same objective.

I'd love to make progress on podaffinity, but I don't have a viable path forw

[2022-01-27 02:07] tmokmss commented on #985
Hi thanks for the suggestion. As the doc says

Agones itself admits it isn't perfect, but they seem to know it works well at most cases.

[2022-01-27 02:09] ellistarn commented on #985
Reading through agones, preferred pod affinity would be doable.

[2022-01-27 02:15] tmokmss commented on #985
Sounds great! Dedicated game servers tend to need much rapid auto scaling, so Karpenter with Agones would be fantastic I believe 👍

[2022-01-27 02:20] ellistarn commented on #985
Further, as I study the podaffintiy page, I think it would also be doable to implement zonal podaffinity (e.g. schedule all pods to a specific zone).

[2022-01-27 02:26] rayterrill commented on #1166
I haven't seen this happen since. I just migrated Karpenter to Fargate and rolled this to 2 more clusters in our lab env. Planning to let it marinate there for a bit to watch to see if it happens again, and can provide additional detail.

I def like the sound of the check to short circuit and remove the finalizer if something else removes the EC2 instance - that might be helpful in this case, but

[2022-01-27 08:13] alekc commented on #1216
@ellistarn

I might be misreading what you wrote, but the `--aws-eni-limited-pod-density` is true by default (https://github.com/aws/karpenter/blob/5a5d01572480f54f7c0aad1f0238ec078a958319/pkg/utils/options/options.go#L43), thus limiting pod capacity to 11 pods in case of t3.small

How about something along the lines "To support higher density, set `--aws-eni-limited-pod-density=true` (or env var

[2022-01-27 11:09] mbevc1 commented on #1148
Sorry, just opened the issue upstream as well: https://github.com/aws/amazon-vpc-cni-k8s/issues/1825

[2022-01-27 12:23] sylr opened #1229 "Support Ephemeral EBS Volumes"
## Version

**Karpenter**: v0.5.6

**Kubernetes**: v1.21.2-eks-0389ca3

## Expected Behavior

- CronJob triggers pod creation
- Pod creation triggers PVC creation
- Karpenter creates new node
- Karpenter ties CronJob's pod to new node
- Node comes online
- aws-ebs-csi-driver detects new volume is needed on the node
- new volume is mounted on the pod's node

## Actual Behavior

- CronJob triggers p

[2022-01-27 12:29] sylr commented on #1229
If I the karpenter-controller and deleting the pod so it gets recreated right away on the same new node (due to the nodeSelector settings) then the ebs controller picks up that he needs to create a volume and mount it to the node.

[2022-01-27 12:50] midestefanis commented on #1165
@ellistarn It didn't work, deleting the secret worsens the logs because that secret with its cert is not regenerated if it is deleted.

[2022-01-27 15:44] alekc commented on #1166
I've been able to isolate this behaviour on my end.

My scenario: kubernetes 1.21, karpenter 0.5.6, aws node termination handler working in sqs mode (probably unrelated)

On manual termination of karpenter node from the aws console, termination leaves a bunch of pods in **Terminating** stage.

Since kubelet is down at that point, they never recover from that state, and as consequence, this
https:/

[2022-01-27 16:35] Izvi-digibank commented on #1225
@ellistarn I am attaching all the relevant configurations, all followed by the documentation. @alekc subnet selector is 100% private. Would appreciate your further attention to the following details;

Instance profile has the right permissions (Policy is "AmazonSSMManagedInstanceCore"):

![Screen Shot 2022-01-27 at 18 18 38](https://user-images.githubusercontent.com/78731608/151399484-c38558a5-90b

[2022-01-27 16:56] rayterrill commented on #1166
Wait - Is it possible this is happening because we have spot instances and they're being "reclaimed" by AWS? One of the clusters I set up yesterday is in this state - let me dig into the logs to see what happened.

[2022-01-27 16:58] alekc commented on #1166
@rayterrill might very well be, check if you have a pending pod in terminating state somewhere.

[2022-01-27 17:01] rayterrill commented on #1166
Here's a list of pods "running" on one of the stuck nodes:
[code]

[2022-01-27 17:04] alekc commented on #1166
Yeah, try to `kubectl get po | grep Terminating | awk '{print $1}' | xargs kubectl delete po --force --grace-period=0` (I am using kubens, if you are not add -n) to clean them up and see if your node is removed correctly after that.

[2022-01-27 17:21] rayterrill commented on #1166
Unfortunately losing those two nodes left me with zero nodes in my cluster other than the fargate nodes running Karpenter, so Karpenter is currently jacked up with no CoreDNS. Let me get that going so Fargate can use DNS without any pods.

This makes me think it might be nice to have an option to request at least one on-demand node when we have both on-demand and spot instance types in our provisi

[2022-01-27 17:25] ellistarn commented on #1148
Thanks for following up. Feel free to reopen if you identify anything remaining in karpenter.

[2022-01-27 17:25] #1148 closed

[2022-01-27 17:27] alekc commented on #1166
Yeah, I've tried to use karpenter on eks-fargate but abbandoned the idea pretty soon (it was not working well, and tbh I disliked a lot fargate limitations). Given that fargate spot is not supported on eks, It cost the same to create a small asg with only one node (i.e. t3.micro/small) during the bootstrap process and taint it with  `CriticalAddonsOnly=true:NoSchedule`. This will allow to spawn co

[2022-01-27 17:30] rayterrill commented on #1166
That's exactly what I started with, but I flipped over to using Fargate because it felt "cleaner". Having second thoughts given the extra setup to get DNS working, which means whacking the coredns deployment to remove the ec2 annotation...

[2022-01-27 17:31] ellistarn commented on #1220
I think the original topic is closed. Feel free to open another issue if you find other problems.

[2022-01-27 17:33] #1218 closed

[2022-01-27 17:47] rayterrill commented on #1166
It does indeed look like our instances were terminated due to spot pre-emption (which looks like it gets recorded as BidEvictedEvent, not TerminateInstance):
[code]

[2022-01-27 17:51] ellistarn commented on #1225
Can you connect using `aws ssm start-session --target i-0c8ddaf2ca6b7427f` and then check the kubelet logs, mentioned above?

[2022-01-27 17:54] ellistarn commented on #1180
Closing in favor of #1084. We'll get you sorted out ASAP @alfianabdi

[2022-01-27 17:54] #1180 closed

[2022-01-27 17:55] #1164 closed

[2022-01-27 18:13] rayterrill commented on #1166
Once I got another node provisioned (which got CoreDNS back up), the nodes did indeed disappear after force deleting the pods stuck in terminating status.

[2022-01-27 18:38] Izvi-digibank commented on #1225
[code]

@ellistarn No logs visible :(
Did you happen to view the details I added in the last comment? Are all my configurations looks okay to you?

[2022-01-27 18:54] ellistarn commented on #1225
Your instance profile needs the 4 policies:
[code]

[2022-01-27 19:11] ellistarn commented on #1200
Ok I have an idea -- it's really nuanced and tricky.

We currently cache pod.spec.affinity in order to implement preference relaxation. If we see a pod a second time, we attempt to remove preference based requirements in the hope that it will be able to schedule (e.g. spot prioritization).

Elsewhere in the code, the hostname topology implementation injects a fake hostname into a pod in order for

[2022-01-27 19:41] rayterrill commented on #1166
Same issue on another one of the clusters I added yesterday - spot pre-emption leaving the node in a stuck state.

[2022-01-27 20:14] Izvi-digibank commented on #1225
Thanks, added those policies. In my opinion it's not clear enough in the documentation, I'd suggest en edit.

New nodes is still in unknown state, however I was able to get some Kubelet logs:

[code]

@ellistarn  Any advise?

[2022-01-27 20:19] alekc commented on #1225
@Izvi-digibank
from your logs: `Failed to contact API server when waiting for CSINode publishing: Unauthorized`

I do not see
[code]

(check the docs https://karpenter.sh/v0.5.6/getting-started-with-terraform/#install-karpenter-helm-chart)

[2022-01-27 20:25] alekc commented on #1165
Are you sure that it's not a security group issue? One of the most annoying "improvement" terraform-eks-module brought in v18 is that by default nodes cannot speak one with another because Sg are very restrictive (see https://github.com/terraform-aws-modules/terraform-aws-eks/issues/1748), especially https://github.com/terraform-aws-modules/terraform-aws-eks/issues/1748#issuecomment-1020226274

I

[2022-01-27 20:28] Izvi-digibank commented on #1225
@alekc  I'm using v0.5.3 https://karpenter.sh/v0.5.3/getting-started-with-terraform/
There's no request for this parameter in this version's documentation.

[2022-01-27 20:39] midestefanis commented on #1165
@alekc It was that! Thanks a lot!

[2022-01-27 20:50] ellistarn commented on #1165
Nice find! Would you be willing to add this to the troubleshooting guide?

[2022-01-27 21:15] njtran commented on #1166
Hey @rayterrill, regardless of if an instance is terminated manually by an operator or "reclaimed" by AWS through spot interruption, the Kubernetes node controller should eventually realize the instance no longer exists, and delete the node, triggering the termination workflow you've mentioned.

With regards to a [previous comment](https://github.com/aws/karpenter/issues/1166#issuecomment-10166485

[2022-01-27 21:26] rayterrill commented on #1166
I can try to gather that additional detail if it happens again, @njtran.

The node being in Unknown status is exactly what we're seeing from the EKS console - the behavior you're describing where the kubelet is unable to register pods as terminated seems to be exactly what's happening.

That's what we were thinking too, but that's not what we're seeing unfortunately. Maybe we're not waiting long e

[2022-01-27 21:30] alekc commented on #1166
From what I've seen in my tests, it doesn't matter what kind of pods they are. As soon as an operator terminates the instance from the console, it doesn't wait for the node drain and at some point kubelet is killed without reporting the state of the node. Pods then are stuck in Terminating state seemingly forever (in case of @rayterrill as you can see above over 16h).

Normally eks would be intell

[2022-01-27 21:30] Izvi-digibank commented on #1225
[code]

Got some new logs from Kubelet.

[2022-01-27 21:35] rayterrill commented on #1166
Yes @alekc that's exactly what I was thinking might be happening the workflow is @njtran is describing where the node controller realizes a node is gone and should be removed from the cluster is running, but the Karpenter finalizer is blocking it from actually removing the node.

It seems like Karpenter should handle this case and remove it's finalizer if the node is gone.

[2022-01-27 21:38] ellistarn commented on #1200
This hypothesis was wrong. The injection logic only uses NodeSelectors, which aren't included in affinity.

[2022-01-27 21:40] ellistarn commented on #1200
@kgyovai, your issue is separate. PodAntiaffinity is not supported (yet). Feel free to +1 https://github.com/aws/karpenter/issues/942

[2022-01-27 22:07] kgyovai commented on #1200
@ellistarn - You're right. This wasn't karpenter related. My mistake.

This ended up being 100% self inflicted. The AMI that I was using is created from a base AMI. In the base AMI, I had configured preserve hostname. So when the downstream instances were launched using that AMI, the hostname of the instance used to create the AMI was being recorded as the `kubernetes.io/hostname`. Once I dropped

[2022-01-27 23:54] ellistarn commented on #1225
Your node can't communicate with the API Server.

Here's an example of my aws-auth configmap

[code]

In the future, I highly recommend following or directly translating one of the guides.

[2022-01-28 00:33] suket22 commented on #1166
When you do find a node in this state again, could you provide us a list of all the pods that are on it? During our drain process, we [skip any pods that are stuck in Terminating ](https://github.com/aws/karpenter/blob/main/pkg/controllers/termination/terminate.go#L120) so I'm curious to see why we're stuck in a cordon and drain loop.

The Karpenter controller was otherwise healthy right?

[2022-01-28 01:36] rayterrill commented on #1166
@suket22 I provided that today from a stuck node before I manually intervened: https://github.com/aws/karpenter/issues/1166#issuecomment-1023443369

[2022-01-28 08:41] sylr commented on #1229
FWIW it's also not working with the EKS default storage class `gp2`.

[2022-01-28 09:22] alekc commented on #1165
@ellistarn will do

[2022-01-28 09:37] alekc commented on #1166
I could not retrigger the condition under the debugging this morning, so can't say which pod was marked as not drained (might be a good idea to add a debug there).

Looking through the code I've noticed these bits of code:
[code]

Am I right to think that in case of a deleted node which had that taint, we won't ever be able to safely delete the node as it is (and just to be clear, this is NOT what

[2022-01-28 13:41] ashwinikumar-sa opened #1233 "EC2 Spot to On-Demand fallback does not work as expected by using soft affinity (preferred) in Pod manifest"
Karpenter Version: v0.5.6
Kubernetes: v1.20.7

**Expected Behavior**
If we create a provisioner with both ["on-demand","spot"] capacity type options and workloads are also flexible on Spot/OD (through soft affinity in Pod manifest), Karpenter should fall back to OD capacity, after trying for Spot capacity first and if Spot is not available

**Actual Behavior**
Despite of using soft affinity in Pod

[2022-01-28 17:50] ellistarn commented on #1233
First, Karpenter identifies that capacity is unavailable in us-east-1c and us-east-1d, and adds them to the unavailable cache for 45 seconds.
[code]
Then, Karpenter relaxes the preferred scheduling rule after failing to schedule the pod, enabling on demand on the next retry
[code]

Then, Karpenter gets UnfulfillableCapacity for the on-demand request
[code]

Notice that `InsufficientInstanceCapacit

[2022-01-28 17:52] ellistarn commented on #1233
What's curious to me, is that it looks like you're flexible to zones, a,b,c,d, but the cache only tried c and d.

[2022-01-28 18:05] ellistarn commented on #1233
Is it possible to increase flexibility to more instance types?

[2022-01-28 18:18] ellistarn commented on #1229
We don't currently support the volume source
```Ephemeral *EphemeralVolumeSource `json:"ephemeral,omitempty" protobuf:"bytes,29,opt,name=ephemeral"```

Can you try
```PersistentVolumeClaim *PersistentVolumeClaimVolumeSource `json:"persistentVolumeClaim,omitempty" protobuf:"bytes,10,opt,name=persistentVolumeClaim"``` instead?

[2022-01-28 18:22] ellistarn commented on #1111
Hey @Noksa, going to close since things should be working now that you have the correct labels in your custom launch template. Will track more in #1008

[2022-01-28 19:23] ashwinikumar-sa commented on #1233
**> What's curious to me, is that it looks like you're flexible to zones, a,b,c,d, but the cache only tried c and d.**
Yes, am using 4 subnets in zones a,b,c,d (through subnetSelector in Provisioner)
2022-01-28T13:14:48.168Z DEBUG controller.provisioning Discovered subnets: [subnet-00d26d958f2e37222 (us-east-1a) subnet-09a7943d66a9d6a1b (us-east-1b) subnet-0ffe96b0ecd05ff71 (us-east-1c) subnet-038